before_script:
    - composer -n -q install
    - cp ~/Config.php src/snac/Config.php
    - rm -rf ~/public_html/snac_server
    - ln -s `pwd`/src/virtualhosts ~/public_html/snac_server
    - ln -s `pwd`/src/snac/client/webui/templates ~/webui_templates
    - ln -s `pwd`/src/snac/client/webui/languages ~/webui_languages
    - ln -s `pwd`/src/snac/util ~/cpf_templates
    - mkdir -p coverage/ 


stages:
  - database
  - test
  - documentation
  - deploy

update_database:
  script:
    - cd install && php install.php automate
  stage: database
  only:
    - development
    - master

run_test:
  script:
    - vendor/bin/phpunit --coverage-text --colors=never
  stage: test
  only:
    - master

run_test_coverage:
  script:
    - vendor/bin/phpunit -v --coverage-html coverage/ --coverage-text 
    - rsync -av coverage /lv2/snac/docs/
  stage: test
  only:
    - development

generate_docs:
  script:
    - vendor/bin/phpdoc -d src/ -d test/ -t doc/ -i src/snac/Config.php --template="clean" --visibility="public" --title="SNAC Programming API" --validate --defaultpackagename="snac_server" --force
    - rsync -av doc/ /lv2/snac/docs/
  stage: documentation
  only:
    - development

deployment:
  script:
    - ssh snac-server "cd /lv2/snac && git fetch origin && git merge"
    - ssh snac-web "cd /lv2/snac && git fetch origin && git merge"
  stage: deploy
  only:
    - master

