before_script:
    - composer -n -q install
    - cp ~/Config.php src/snac/Config.php
    - cp ~/users.csv install/setup_files/users.csv
    - rm -rf ~/public_html/snac_server
    - ln -s `pwd`/src/virtualhosts ~/public_html/snac_server
    - ln -s `pwd`/src/snac/client/webui/templates ~/webui_templates
    - ln -s `pwd`/src/snac/client/webui/languages ~/webui_languages
    - ln -s `pwd`/src/snac/util ~/cpf_templates
    - mkdir -p coverage/ 


stages:
  - database_refresh
  - test
  - documentation
  - deploy

update_database:
  script:
    - cd install && php install.php automate
  stage: database_create
  only:
    - development
    - master

refresh_database:
  script:
    - cd scripts && php refresh.php automate /home/gitlab-runner/testing.sql
  stage: database_refresh
  only:
    - development
    - master
    - test_backup


run_test:
  script:
    - vendor/bin/phpunit --coverage-text --colors=never
  stage: test
  only:
    - master

run_test_coverage:
  script:
    - vendor/bin/phpunit -v --coverage-html coverage/ --coverage-text 
    - rsync -avO coverage /lv2/snac/docs/
  stage: test
  only:
    - development

generate_docs:
  script:
    - vendor/bin/phpdoc -d src/ -d test/ -t doc/ -i src/snac/Config.php --template="clean" --visibility="public" --title="SNAC Programming API" --validate --defaultpackagename="snac_server" --force
    - rsync -av doc/ /lv2/snac/docs/
  stage: documentation
  only:
    - development

deployment:
  script:
    - ssh snac-server "cd /lv2/snac && composer update && git fetch origin && git merge"
    - ssh snac-web "cd /lv2/snac && composer update && git fetch origin && git merge"
  stage: deploy
  only:
    - master

dev_deployment:
  script:
    - ssh snac-dev "cd /lv2/snac && composer update && git fetch origin && git merge"
  stage: deploy
  only:
    - development

alpha_deployment:
  script:
    - ssh snac-dev "cd /lv2/snac_alpha && composer update && git fetch origin && git merge"
  stage: deploy
  only:
    - alpha
