<!DOCTYPE html>
<html>
<head>
<title>Editor Dashboard - Social Networks and Archival Context</title>

<!-- JQuery -->
<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css" integrity="sha384-aUGj/X2zp5rLCbBxumKTCw2Z50WgIr1vs/PFN4praOTvYXWlVyh2UtNUU0KAUhAX" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" integrity="sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ==" crossorigin="anonymous"></script>

<!-- Select Upgrades -->
<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.2-rc.1/css/select2.min.css" rel="stylesheet" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.2-rc.1/js/select2.min.js"></script>
<link rel="stylesheet" href="{{control.snacURL}}/css/select2-bootstrap.min.css">

<!-- SNAC Styles -->
<link rel="stylesheet" href="{{control.snacURL}}/css/snac.css{{control.noCache}}">

<!-- SNAC Javascript -->
<script src="{{control.snacURL}}/javascript/save_actions.js{{control.noCache}}"></script>
<script src="{{control.snacURL}}/javascript/select_loaders.js{{control.noCache}}"></script>
<script src="{{control.snacURL}}/javascript/scripts.js{{control.noCache}}"></script>
<script src="{{control.snacURL}}/javascript/dashboard.js{{control.noCache}}"></script>
<script src="{{control.snacURL}}/javascript/dashboard_search.js{{control.noCache}}"></script>
<script src="{{control.snacURL}}/javascript/html2canvas.js{{control.noCache}}"></script>
<script src="{{control.snacURL}}/javascript/feedback.js{{control.noCache}}"></script>
<script>
// Inline script to help out the pop-up menu for constellations
var permissions = {
    {% for permission, value in permissions %}
        {{permission}}: {{value}},
    {% endfor %}
    FakeHolder: false
};
</script>
<script>
$.fn.modal.Constructor.prototype.enforceFocus = $.noop;
</script>

<meta name="viewport" content="initial-scale = 1.0" />
</head>
<body role="document">
{% from 'page_navigation.html' import topNavigation,footer %}
{{ topNavigation(X, user, permissions, control) }}


<div class="container snac" role="main">


    <div class="row">
        <div class="alert alert-01 alert-info" id="status-message" style="display: none">
            <p></p>
        </div><!-- end alert -->
    </div>
    <div class="row dashboard-title">
        <div class="col-md-4">
            <div>
                <div class="large-icon-box">
                    <p class="text-center background-icon">
                        <i class="fa fa-folder" style="color: #CFEBFD;" ></i>
                    </p>
                    <p class="text-right overlay-icon" >
                        <i class="fa fa-pencil" style="color: #1B5880;"></i>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-8">
                <h1 class="title">Editor's Dashboard</h1>
                <div class="well-md">
                    <p>Welcome, {{ user.firstName|default('SNAC User') }}, to the Editor's dashboard.  From here, you can search for and create new Identity Constellations, pick up where you left off on your current in-progress edits, and unlock Identity Constellations.  If you have sent a Constellation for review, but the reviewer has not started, you may pull back the Constellation from the right column.</p>
                    {% if permissions.Create %}
                        <div class="col-md-6">
                            <a href="{{control.snacURL}}/new" class="btn list-group-item list-group-item-success"><span class="glyphicon glyphicon-plus"></span> Create New Constellation</a>
                        </div>
                    {% endif %}
                </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
            <!-- Left column -->
            <!--
            <div class="panel panel-success">
                <div class="panel-heading">
                    <h3 class="panel-title"><span class="glyphicon glyphicon-question-sign"></span> Help</h3>
                </div>
                <div class="panel-body">
                    <p>The following links provide guides to help you.  They are also accessible at any time by the Help menu above.</p>
                    <div class="list-group">
                        <a href="#" class="list-group-item disabled">Coming Soon</a>
                    </div>
                </div>
            </div>

            -->
            {% if data.messages|length > 0 %}
            <div class="alert alert-warning">
                <div class="">
                    <p><strong>Notice:</strong> You have unread messages.  Please go to the messaging center to read them.</p>
                    <a class="list-group-item list-group-item-warning" href="{{control.snacURL}}/messages"><i class="fa fa-comments-o" aria-hidden="true"></i> Messaging Center</a>
                </div>
            </div>
            {% endif %}

            {{ include("dashboard/_dashboard_search.html") }}

            <div class="panel panel-info">
                <div class="panel-heading accordion-panel">
                    <h3 class="panel-title">View Recently Published
                        <i class="fa fa-chevron-up hideicon" style='display:inline;float:right'></i>
                        <i class="fa fa-chevron-down hideicon" style='display:none;float:right'></i>
                    </h3>
                </div>
                <div class="panel-body">
                    <p>Browse interesting and recently published Constellations from all of SNAC</p>
                    <div class="list-group">
                        {% for recent in data.allrecents %}
                        <a href="{{control.snacURL}}/view/{{recent.id}}" class="list-group-item">{{recent.nameEntry}}</a>
                        {% endfor %}
                    </div>
                </div>
            </div>


            <div class="panel panel-info">
                <div class="panel-heading accordion-panel">
                    <h3 class="panel-title">View Your Recently Edited
                        <i class="fa fa-chevron-up hideicon" style='display:inline;float:right'></i>
                        <i class="fa fa-chevron-down hideicon" style='display:none;float:right'></i>
                    </h3>
                </div>
                <div class="panel-body">
                    <p>Browse Constellations you have recently edited in SNAC.</p>
                    <div class="list-group">
                        {% for recent in data.recent %}
                        <a href="{{control.snacURL}}/view/{{recent.id}}" class="list-group-item">{{recent.nameEntry}}</a>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <!-- Middle column -->

            {% if permissions.Edit %}
            <div class="panel panel-warning">
                <div class="panel-heading accordion-panel">
                    <h3 class="panel-title">In Progress Edits
                        <i class="fa fa-chevron-up hideicon" style='display:inline;float:right'></i>
                        <i class="fa fa-chevron-down hideicon" style='display:none;float:right'></i>
                    </h3>
                </div>
                <div class="panel-body">
                    <p>Continue where you left off on one of the following Constellations.</p>
                    <div class="list-group">
                        {% if not data.editing %}
                        <span href="#" class="list-group-item disabled">No Constellations Available</span>
                        {% endif %}
                        {% for link in data.editing %}
                        <div class="list-group-item" style="padding: 0px;">
                            <div class="btn-group btn-group-justified">
                                <a href="{{control.snacURL}}/edit/{{link.id}}/{{link.version}}"
                                        class="list-group-item text-left"
                                        style="width: 100%; text-align: left; border: 0px; border-bottom: 1px solid #ddd; margin-bottom:-1px;">
                                    {{link.nameEntry}}
                                </a>
                                <span class="btn btn-default"
                                    style="width: 20%;border-right: 0px; border-top: 0px; border-bottom:0px; border-radius: 0px;"
                                    data-toggle="modal" data-target="#constellation-settings" title="View more options"
                                    onClick="updateSettingsBox({{link.id}}, {{link.version}}, '{{link.nameEntry|replace({"'":""})}}');">
                                    <span class="glyphicon glyphicon-cog"> </span>
                                </span>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            {% endif %}
        </div>
        <div class="col-md-4">
            <!-- Right column -->


            {% if permissions.Edit %}
            <div class="panel panel-review">
                <div class="panel-heading accordion-panel">
                    <h3 class="panel-title">Locked for Review
                        <i class="fa fa-chevron-up hideicon" style='display:inline;float:right'></i>
                        <i class="fa fa-chevron-down hideicon" style='display:none;float:right'></i>
                    </h3>
                </div>
                <div class="panel-body">
                    <p>You have the following Constellations that have been sent for review.  You may unlock them here to
                    continue editing them.</p>
                    <div class="list-group">
                        {% if not data.review_lock %}
                        <span href="#" class="list-group-item disabled">No Constellations Available</span>
                        {% endif %}
                        {% for link in data.review_lock %}
                        <a href="{{control.snacURL}}/unlock/{{link.id}}/{{link.version}}" class="list-group-item"><span class="pull-right"> <i class="fa fa-unlock" aria-hidden="true"></i> </span> {{link.nameEntry}}</a>
                        {% endfor %}
                    </div>
                </div>
            </div>
            {% endif %}

            {% if permissions.Edit %}
            <div class="panel panel-danger">
                <div class="panel-heading accordion-panel">
                    <h3 class="panel-title">Locked Edits
                        <i class="fa fa-chevron-up hideicon" style='display:inline;float:right'></i>
                        <i class="fa fa-chevron-down hideicon" style='display:none;float:right'></i>
                    </h3>
                </div>
                <div class="panel-body">
                    <p>You have the following Constellations open in a browser for editing.  You may unlock them by clicking below, however your
                    changes not previously saved may be lost.</p>
                    <div class="list-group">
                        {% if not data.editing_lock %}
                        <span href="#" class="list-group-item disabled">No Constellations Available</span>
                        {% endif %}
                        {% for link in data.editing_lock %}
                        <a href="{{control.snacURL}}/unlock/{{link.id}}/{{link.version}}" class="list-group-item"><span class="pull-right"> <i class="fa fa-unlock" aria-hidden="true"></i> </span> {{link.nameEntry}}</a>
                        {% endfor %}
                    </div>
                </div>
            </div>
            {% endif %}

        </div>
    </div>
</div>

<div class="modal fade" id="constellation-settings" tabindex="-1"
	role="dialog" aria-labelledby="constellation-settings">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" id="settings-title">Constellation Settings</h4>
			</div>
			<div class="modal-body col-xs-12">
				<ol class="breadcrumb">
					<li id="settings-name"></li>
					<li>Settings</li>
				</ol>
				<div class="col-xs-12">
				    <p>You may perform the following actions on this constellation</p>

                    <div class="list-group" id="settings-actions">

                    </div>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-primary" data-dismiss="modal">Done</button>
			</div>
		</div>
	</div>
</div>

<form id="send_review_form">
    {% include '_send_review_pane.html' %}
</form>
{{ footer(X, user, permissions, control) }}
</body>
</html>
