<!DOCTYPE html>
<html>

<head>
    <title>Resources - Social Networks and Archival Context</title>

    <!-- JQuery -->
    <script src="//code.jquery.com/jquery-2.1.4.min.js"></script>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css" integrity="sha384-aUGj/X2zp5rLCbBxumKTCw2Z50WgIr1vs/PFN4praOTvYXWlVyh2UtNUU0KAUhAX" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" integrity="sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ==" crossorigin="anonymous"></script>

    <!-- Select Upgrades -->
    <link href="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.2-rc.1/css/select2.min.css" rel="stylesheet" />
    <script src="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.2-rc.1/js/select2.min.js"></script>
    <link rel="stylesheet" href="{{control.snacURL}}/css/select2-bootstrap.min.css">

    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- Datatables -->
    <link rel="stylesheet" href="//cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css">
    <script src="//cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>

    <!-- SNAC Styles -->
    <link rel="stylesheet" href="{{control.snacURL}}/css/snac.css{{control.noCache}}">

    <!-- SNAC Javascript -->
    <script src="{{control.snacURL}}/javascript/select_loaders.js{{control.noCache}}"></script>
    <script src="{{control.snacURL}}/javascript/scripts.js{{control.noCache}}"></script>
    <script src="{{control.snacURL}}/javascript/relation_search.js{{control.noCache}}"></script>
    <script src="{{control.snacURL}}/javascript/html2canvas.js{{control.noCache}}"></script>
    <script src="{{control.snacURL}}/javascript/feedback.js{{control.noCache}}"></script>


    <script>
        $(document).ready(function() {

            // Use select2 to display the select dropdowns
            $('select').each(function() {
                $(this).select2({
                    minimumResultsForSearch: Infinity,
                    allowClear: false,
                    theme: 'bootstrap'
                });
            });

            // Load the table into a datatable
            var datatable = $('.table').DataTable({
                "searching": false,
                "columns": [ { "width": "5%" },
                    { "width": "30%" },
                    { "width": "30%" },
                    { "width": "15%" },
                    { "width": "10%" },
                    { "width": "10%" },
                ]

            });

            $('#searchbutton').click(function() {
                searchResource();
                return false;
            });

            function searchResource() {
                var serializedForm = $("#search-form").find(':input').filter(function () {
                            return $(this).val() != '';
                        }).serialize();

                $.post("{{control.snacURL}}/resource_search?count=100", serializedForm, function(data) {
                    x = data
                    var results = [];
                    datatable.clear();
                    if (data.results.length > 0) {
                        for (var key in data.results) {
                            result = data.results[key];
                            var icons = "<div class='btn-group'><a class='btn btn-success' title='View' target='_blank' href ='{{control.snacURL}}/vocab_administrator/resource/" +
                                result.id + "'> <i class='fa fa-eye'></i> </a>" +
                                {% if permissions.EditResources %}
                                    "<a class='btn btn-primary' title='Edit' target='_blank' href ='{{control.snacURL}}/vocab_administrator/edit_resource/" +
                                    result.id + "'> <i class='fa fa-edit'></i> </a>" +
                                {% endif %}
                                    "</div>";
                            var title = shortenIfLong(result.title || "", 300);
                            var type = result.documentType.term || "";
                            var abstract = shortenIfLong(result.abstract || "", 300);
                            var href = result.link || "";
                            href = "<a href=" + href + " target='_blank' title='" + href + "'>" + shortenIfLong(href, 35, false) + "</a>";

                            var repo = result.repository || "";
                            var holdingInstitution = "";
                            if (repo) {
                                holdingInstitution = repo.nameEntries[0].original || "";
                                var holding_href = "{{control.snacURL}}/view/" + repo.id;
                                holdingInstitution = "<a href=" + holding_href + " target='_blank'>" + holdingInstitution + "</a>";
                            }
                            var row = new Array(icons, title, abstract, href, holdingInstitution, type);
                            datatable.row.add(row);
                        }
                    }
                    datatable.draw();
                });
            }

            loadVocabSelectOptions($('#resource-type-select'), "document_type").done(function() {
                var newOption = new Option("All Resources", '', false, false)
                $('#resource-type-select').append(newOption)
            })
        });
    </script>

</head>

<body role="document">
    {% from 'page_navigation.html' import topNavigation,footer %} {{ topNavigation(X, user, permissions, control) }}

    <div class="container snac" role="main">
        <h1>Resource Management</h1>

        <ol class="breadcrumb">
            <li>Resource Management</li>
        </ol>

        <div class="row">
            <div class="col-md-12">
                <div class="well well-lg">
                    <p><span style="font-weight: bold;">Instructions: </span>Search for existing resources by title, link, and abstract.</p>
                </div>

                <form class="form-horizontal" id="search-form" method="GET">
                    <div class="well well-lg text-center">
                        <div class="input-group select2-bootstrap-append">
                            <select id="resource-type-select" name="filters[type_id]" style="width: 25%;">
                            </select>
                            <input type="text" class="form-control" placeholder="Search for..." id="searchbox" name="term" style="width: 75%">
                            <span class="input-group-btn">
                                <button class="btn btn-default" id="searchbutton">Search</button>
						    </span>
                        </div>

                        <div id="otherOptions" class="text-right" style="margin-top: 15px;">
                            <span style="padding-right: 5px; font-weight: normal;">Return top</span>
                            <select id="count" name="count" style="width: 70px;">
                                <option value="50">50</option>
                                <option value="100" selected>100</option>
                                <option value="500">500</option>
                                <option value="1000">1000</option>
                            </select>
                            <span style="padding-left: 5px; font-weight: normal;">matches</span>
                        </div>
                    </div>

                </form>

                {% if permissions.EditResources %}
                <div class="text-center">
                    <a href="{{control.snacURL}}/vocab_administrator/add_resource" class="btn btn-success">
                        <i class="fa fa-fw fa-plus"></i> Add New Resource
                    </a>
                </div>
                {% endif %}

                <div class="form-horizontal">
                    <table class="table">
                        <thead>
                            <tr>
                                <th></th>
                                <th>Title</th>
                                <th>Abstract</th>
                                <th>Link</th>
                                <th>Holding Institution</th>
                                <th>Type</th>
                            </tr>
                        </thead>
                        <tbody id="resourceList">
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    {{ footer(X, user, permissions, control) }}
</body>

</html>
