<!DOCTYPE html>
<html>
<head>
    <title>{{data.resource.displayEntry}} - {{ data.title }} - Social Networks and Archival Context</title>

<!-- JQuery -->
<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
<link href="https://code.jquery.com/ui/1.10.1/themes/base/jquery-ui.css" type="text/css" rel="stylesheet" media="all">
<script type='text/javascript' src="https://code.jquery.com/ui/1.10.1/jquery-ui.js"></script>

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css" integrity="sha384-aUGj/X2zp5rLCbBxumKTCw2Z50WgIr1vs/PFN4praOTvYXWlVyh2UtNUU0KAUhAX" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" integrity="sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ==" crossorigin="anonymous"></script>

<!-- Helper Scripts -->
<link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
<script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>

<!-- Select Upgrades -->

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

<!-- Leaflet JS Javascript and Styles-->
<link rel="stylesheet" href="https://npmcdn.com/leaflet@1.0.0-rc.3/dist/leaflet.css" />
<script src="https://npmcdn.com/leaflet@1.0.0-rc.3/dist/leaflet.js"></script>

<!-- SNAC Styles -->
<link rel="stylesheet" href="{{control.snacURL}}/css/snac.css{{control.noCache}}">

<!-- SNAC Javascript -->
<script src="{{control.snacURL}}/javascript/scripts.js{{control.noCache}}"></script>
<script src="{{control.snacURL}}/javascript/edit_scripts.js{{control.noCache}}"></script>
<script src="{{control.snacURL}}/javascript/html2canvas.js{{control.noCache}}"></script>
<script src="{{control.snacURL}}/javascript/feedback.js{{control.noCache}}"></script>


<script>
    function displayResourceHoldingMap() {
        if (!{{data.resource.repository.places[0].geoplace.latitude|default("undefined")}}) {
            return;
        }

        var latitude = {{data.resource.repository.places[0].geoplace.latitude|default("undefined")}};
        var longitude = {{data.resource.repository.places[0].geoplace.longitude|default("undefined")}};

        holdingsMapView = L.map('holdingsMap').setView([latitude,longitude],7);//setView([35.092344, -39.023438], 7);
        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
                maxZoom: 15,
                attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a>'
                }).addTo(holdingsMapView);
        if (latitude != '' && longitude != '') {
            var marker = L.marker([latitude, longitude]).addTo(holdingsMapView).bindPopup("{{data.resource.repository.nameEntries[0].original}}");
        }
    }


    $(document).ready(function() {
        displayResourceHoldingMap()
    })
</script>

</head>
<body role="document">
    {% import "resources/_resource_form.html" as resources %}
    {% from 'page_navigation.html' import topNavigation,footer %}
    {{ topNavigation(X, user, permissions, control) }}


    <div class="container snac" role="main">
        <h1>{{data.resource.title | slice(0, 300) }}</h1>
        <!-- <h1>{{data.resource.title | slice(0, 300) }}</h1> -->
        <ol class="breadcrumb">
            <li><a href="{{control.snacURL}}/vocab_administrator/resources">Resources</a></li>
            <li> {{data.title}} </li>
        </ol>
        <!-- <div class="well well-lg">
            <p><span style="font-weight: bold;">Instructions: </span> Use the form below to edit and save the data.resource.</p>
        </div> -->

        <form id="resource-form">
            <div class="row">
                <div class="col-md-8">
                    <div class="form-horizontal">
                        <!-- HIDDEN VALUES-->
                        <!-- <input name="resources[0][operation]" type="hidden" value="{# resource ? "update" : "insert" #}"> -->
                        <!-- <input name="resources[0][documentType_vocabtype]" type="hidden" value="document_type"> -->
                        <!-- <input name="resources[0][id]" type="hidden" value="{#data.resource.id#}" /> -->
                        <!-- <input name="resources[0][version]" type="hidden" value="{#data.resource.version#}"> -->
                        <!-- <input name="resources[0][extent]" type="hidden" value=""> -->

                        {% if data.resource.documentType.term %}
                        <div class="form-group">
                            <label class="control-label col-xs-4" data-content="{{X.resourceDocumentType.tooltip}}" data-toggle="popover"
                                data-placement="top"> {{X.resourceDocumentType.display}} </label>
                            <div class="col-xs-8">
                                <p class='form-control-static'> {{data.resource.documentType.term}} </p>
                            </div>
                        </div>
                        {% endif %}

                        {% if data.resource.displayEntry %}
                        <div class="form-group" style="display:none">
                            <label class="control-label col-xs-4" data-content="{{X.resourceDisplayEntry.tooltip}}" data-toggle="popover"
                                data-placement="top"> {{X.resourceDisplayEntry.display}} </label>
                            <div class="col-xs-8">
                                <p class="form-control-static"> {{data.resource.displayEntry}} </p>
                            </div>
                        </div>
                        {% endif %}

                        {% if data.resource.title %}
                        <div class="form-group">
                            <label class="control-label col-xs-4" data-content="{{X.resourceTitle.tooltip}}" data-toggle="popover"
                                data-placement="top"> {{X.resourceTitle.display}} </label>
                            <div class="col-xs-8">
                                <p class="form-control-static"> {{data.resource.title}} </p>
                            </div>
                        </div>
                        {% endif %}

                        {% if data.resource.date %}
                        <div class="form-group">
                            <label class="control-label col-xs-4" data-content="{{X.resourceDate.tooltip}}" data-toggle="popover"
                                data-placement="top"> {{X.resourceDate.display}} </label>
                            <div class="col-xs-8">
                                <p class="form-control-static"> {{data.resource.date}} </p>
                            </div>
                        </div>
                        {% endif %}

                        {% if data.resource.link %}
                        <div class="form-group">
                            <label class="control-label col-xs-4" data-content="{{X.resourceURI.tooltip}}" data-toggle="popover"
                                data-placement="top"> {{X.resourceURI.display}} </label>
                            <div class="col-xs-8">
                                <p class="form-control-static">
                                    <a href="{{data.resource.link}}" class="outbound-repo-link"
                                        data-repo-ic-id="{{data.resource.repository.id}}">
                                        {{data.resource.link}}
                                    </a>
                                </p>
                            </div>
                        </div>
                        {% endif %}

                        {% if data.resource.abstract %}
                        <div class="form-group">
                            <label class="control-label col-xs-4" data-content="{{X.resourceAbstract.tooltip}}" data-toggle="popover"
                                data-placement="top"> {{X.resourceAbstract.display}} </label>
                            <div class="col-xs-8">
                                <p class="form-control-static"> {{data.resource.abstract}} </p>
                            </div>
                        </div>
                        {% endif %}

                        {% if data.resource.extent %}
                        <div class="form-group">
                            <label class="control-label col-xs-4" data-content="{{X.resourceExtent.tooltip}}" data-toggle="popover"
                                data-placement="top"> {{X.resourceExtent.display}} </label>
                            <div class="col-xs-8">
                                <p class="form-control-static"> {{data.resource.extent}} </p>
                            </div>
                        </div>
                        {% endif %}

                        <!--  LANGUAGES -->
                        {% if data.resource.languages %}
                        <div class="form-group" id="resource-languages">
                            <label class="control-label col-xs-4" data-content="{{X.resourceLanguages.tooltip}}" data-toggle="popover"
                                data-placement="top">
                                {{X.resourceLanguages.display}} </label>
                            <!-- <div class="col-xs-8 well well-sm"> -->

                                <!-- Existing Languages   -->
                                <div class="col-xs-8">
                                    {% for lang in data.resource.languages %}
                                            <p class="form-control-static"> {{lang.language.term}}, {{lang.script.term}}</p>
                                    {% endfor %}
                                </div>


                                <!-- <div class="add-resource-language"></div>
                                <div class="form-group">
                                    <div class="col-xs-12 text-center">
                                        <button type="button" class="btn btn-success" id="new-resource-language-btn">
                                            <span class="glyphicon glyphicon-plus-sign"></span>
                                            Add Language
                                        </button>
                                        <button type="button" class="btn btn-primary" id="magic-resource-language-btn">
                                            <span class="fa fa-magic"></span>
                                        </button>
                                    </div>
                                </div> -->
                            <!-- </div> -->
                        </div>
                        {% endif %}

                        {% if data.resource.repository %}
                        <div class="form-group">
                            <label class="control-label col-xs-4" data-content="{{X.resourceRepository.tooltip}}" data-toggle="popover"
                                data-placement="top"> {{X.resourceRepository.display}} </label>
                            <div class="col-xs-8">
                                <p class='form-control-static'> <a href="{{control.snacURL}}/view/{{data.resource.repository.id}}"> {{data.resource.repository.nameEntries[0].original }} </a> </p>

                                <!-- <p><a href="#0" onclick="$('#search_form').slideToggle()">Can't Find the Holding Repository?</a></p> -->
                            </div>
                        </div>
                        {% endif %}
                    </div>

                </div>
                <div class="col-md-4">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Information
                        </div>
                        <div class="list-group">
                            <p class="list-group-item"><strong>SNAC Resource ID:</strong>
                                <a href="{{control.snacURL}}/vocab_administrator/resources/{{data.resource.id}}">{{data.resource.id}}</a>
                            </p>
                        </div>
                    </div>

                    {% if data.resource.repository.places[0].geoplace.latitude %}
                    <!-- {# resources.displayResourceActions() #} -->
                    <div class="geoplace-map" id="holdingsMap"></div>
                    <p class="text-center"  style="margin-bottom: 30px;"> <a href="{{control.snacURL}}/view/{{data.resource.repository.id}}"> {{data.resource.repository.nameEntries[0].original }} </a> </p>
                    {% endif %}

                    {% if permissions.EditResources%}
                    <div class="list-group">
                        <a class="list-group-item list-group-item-info" href="{{control.snacURL}}/vocab_administrator/edit_resource/{{data.resource.id}}"}><i class="fa fa-edit" aria-hidden="true"></i> Edit Resource</a>
                    </div>
                    {% endif %}
                </div>
            </div>
        </form>





        {% if  data.related_constellations %}
            <div class="row">
                <div class="col-md-12 search-results">
                    <h3>Related Entities</h3>
                    <p class="search-info">There are {{data.related_constellations|length}} Entities related to this resource.
                    </p>
                    {% for constellation in data.related_constellations %}
                        <div id="result{{loop.index}}">
                        <h4><a href="{{control.snacURL}}/view/{{constellation.id}}">{{constellation.nameEntries.0.original}}</a></h4>
                        <p class="identity-info">
                            <span>{{constellation.ark}}</span>
                            <span>({{constellation.entityType.term}})</span>
                        </p>
                        {% if constellation.biogHists.0.text %}
                            <p>{{constellation.biogHists.0.text | striptags | slice(0, 500)}}...</p>
                        {% else %}
                            <!-- <p class="missing">No biographical history available for this identity.</p> -->
                        {% endif %}
                        <p class="final" style="margin-top: 5px;"></p>
                        </div>
                    {% endfor %}
                </div>
            </div>
        {% endif %}
    </div>
{{ footer(X, user, permissions, control) }}
</body>
</html>
