<!DOCTYPE html>
<html>
<head>
<title>SNAC Admin: User Management</title>

<!-- JQuery -->
<script src="//code.jquery.com/jquery-2.1.4.min.js"></script>

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css" integrity="sha384-aUGj/X2zp5rLCbBxumKTCw2Z50WgIr1vs/PFN4praOTvYXWlVyh2UtNUU0KAUhAX" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" integrity="sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ==" crossorigin="anonymous"></script>

<!-- Helper Scripts -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.7.5/js/bootstrap-select.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.7.5/css/bootstrap-select.min.css">

<!-- Select Upgrades -->
<link href="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.2-rc.1/css/select2.min.css" rel="stylesheet" />
<script src="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.2-rc.1/js/select2.min.js"></script>
<link rel="stylesheet" href="{{control.snacURL}}/css/select2-bootstrap.min.css">

<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

<!-- Datatables -->
<link rel="stylesheet" href="//cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css">
<script src="//cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>

<!-- SNAC Styles -->
<link rel="stylesheet" href="{{control.snacURL}}/css/snac.css{{control.noCache}}">

<!-- SNAC Javascript -->
<script src="{{control.snacURL}}/javascript/admin.js{{control.noCache}}"></script>
<script src="{{control.snacURL}}/javascript/save_actions.js{{control.noCache}}"></script>
<script src="{{control.snacURL}}/javascript/select_loaders.js{{control.noCache}}"></script>
<script src="{{control.snacURL}}/javascript/scripts.js{{control.noCache}}"></script>
<script src="{{control.snacURL}}/javascript/relation_search.js{{control.noCache}}"></script>
<script src="{{control.snacURL}}/javascript/feedback.js{{control.noCache}}"></script>


<script>

$(document).ready(function() {

    // Use select2 to display the select dropdowns
    // rather than the HTML default
    $("select").each(function() {
        select_replace_simple($(this));
    });

    // Load the table into a datatable
    $('.table').DataTable();
});
</script>
</head>
<body role="document">
{% from 'page_navigation.html' import topNavigation,footer %}
{{ topNavigation(X, user, permissions, control) }}


<div class="container snac" role="main">
<form id="new_user_form">
    <h1>Administrator: User Management</h1>

    <ol class="breadcrumb">
        <li><a href="{{control.snacURL}}/administrator/dashboard">Administrator</a></li>
        <li>User Management</li>
    </ol>

    <div class="row">
        <div class="col-md-12">
            <div class="well well-lg">
                <p><span style="font-weight: bold;">Instructions: </span>The following list of users are those you can manage.  Please use the "Edit" button next to a user to edit their information.</p>
            </div>

            <div class="text-center">
                <a href="{{control.snacURL}}/administrator/add_user" class="btn btn-success">
                    <span class="glyphicon glyphicon-plus"></span> Add New User
                </a>
            </div>
            <div class="form-horizontal">

                <table class="table">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>User Name</th>
                            <th>Work Email</th>
                            <th>Roles</th>
                            <th>Affiliation</th>
                            <th>Active</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for editUser in data.users %}
                        <tr>
                            <td><p>{{ editUser.fullName }}</p></td>
                            <td><p>{{ editUser.userName }}</p></td>
                            <td><p>{{ editUser.workEmail }}</p></td>
                            <td>
                                {% for role in editUser.roleList %}
                                    <p>{{ role.label }}</p>
                                {% endfor %}
                            </td>
                            <td><p>{{ editUser.affiliation.nameEntries.0.original }}</p></td>
                            <td><p>
                                {% if editUser.active %}
                                <i class="fa fa-check" aria-hidden="true"></i>
                                {% endif %}
                            </p></td>
                            <td>
                                <div style="width: 90px" class="btn-group" role="group" aria-label="Actions">
                                    <a href="{{control.snacURL}}/administrator/activity_user?userid={{editUser.userid}}" class="btn btn-warning" title="Activity"><span  class="fa fa-archive" aria-hidden="true"></span></a>
                                    <a href="{{control.snacURL}}/administrator/edit_user?userid={{editUser.userid}}" class="btn btn-info" title="Edit"><span  class="fa fa-pencil-square-o" aria-hidden="true"></span></a>
                                </div>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</form>
</div>
{{ footer(X, user, permissions, control) }}
</body>
</html>
