<!DOCTYPE html>
<html>
<head>
<title>API Test Page - Social Networks and Archival Context</title>

<!-- JQuery -->
<script src="//code.jquery.com/jquery-2.1.4.min.js"></script>

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css" integrity="sha384-aUGj/X2zp5rLCbBxumKTCw2Z50WgIr1vs/PFN4praOTvYXWlVyh2UtNUU0KAUhAX" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" integrity="sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ==" crossorigin="anonymous"></script>

<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

<!-- Datatables -->
<link rel="stylesheet" href="//cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css">
<script src="//cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>

<!-- SNAC Styles -->
<link rel="stylesheet" href="{{control.snacURL}}/css/snac.css{{control.noCache}}">

<!-- SNAC Javascript -->
<!-- CodeMirror XML editor -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.9.0/codemirror.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.9.0/codemirror.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.9.0/mode/javascript/javascript.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.9.0/addon/edit/matchbrackets.js"></script>
<script>
var codeMirror = null;
function loadExample(ex) {
    if (codeMirror == null)
        return;

    var json = "";
    switch(ex) {
        case "help":
            json = "{\n    \"command\": \"help\"\n}";
            break;
        case "read":
            json = "{\n    \"command\": \"read\",\n    \"constellationid\": 16715425\n}";
            break;
        case "downloadxml":
            json = "{\n    \"command\": \"download_constellation\",\n    \"constellationid\": 16715425,\n    \"type\": \"eac-cpf\"\n}";
            break;
        case "search":
            json = "{\n    \"command\": \"search\",\n    \"term\": \"Washington\",\n    \"count\": 10,\n    \"start\": 0,\n    \"entity_type\": \"person\"\n}";
            break;
    }

    codeMirror.setValue(json);


}

$(document).ready(function() {
        codeMirror = CodeMirror.fromTextArea(document.getElementById("api_query"), {
        lineNumbers: true,
        lineWrapping: true,
        matchBrackets: true,
        tabSize: 4,
        viewportMargin: Infinity,
        mode: {name: "javascript"}
    });

    $("#submit_query").click(function() {
        console.log("Hi");
        codeMirror.save();
        $.ajax({
            type: "PUT",
            url: "{{data.restURL}}",
            contentType: "application/json",
            data: $("#api_query").val(),
            success: function(result) {
                $("#api_response").val(JSON.stringify(result, null, '\t'));
            },
            error: function(xhr, statusText, errorThrown) {
                $("#api_response").val(xhr.responseText);
            }


        });
    });
});
</script>
</head>


<body role="document">
{% from 'page_navigation.html' import topNavigation,footer %}
{{ topNavigation(X, user, permissions, control) }}


<div class="container snac" role="main">
    <h1>Rest API Test Area</h1>

    <div class="row">
        <div class="col-md-12">

            <p>Use the following box to send test queries to the SNAC Rest API.  To get started, check out the Rest API Commands page or use one of the pre-built queries below.</p>

            <h3>Query</h3>
                <div class="well well-sm">
                    Examples: <div class="btn-group" role="group" aria-label="Example Queries">
                        <button type="button" class="btn btn-default" onClick="loadExample('help');">Help</button>
                        <button type="button" class="btn btn-default" onClick="loadExample('search');">Search Constellations</button>
                        <button type="button" class="btn btn-default" onClick="loadExample('read');">Read Constellation</button>
                        <button type="button" class="btn btn-default" onClick="loadExample('downloadxml');">Download EAC-CPF</button>
                    </div>
                </div>
            <div class="panel panel-default">
                <div class="panel-body">
                    <textarea id='api_query' class='form-control' style='width: 100%;'>
{
    "command": "help"
}
                    </textarea>
                </div>
            </div>
            <div class="text-right">
                <button class="btn btn-primary" id="submit_query"><i class="fa fa-fw fa-paper-plane-o"></i> Send Query</button>
            </div>

            <h3>Response</h3>
            <textarea id='api_response' class='form-control' style='width: 100%; height: 700px;'></textarea>

        </div>
    </div>
</div>
{{ footer(X, user, permissions, control) }}
</body>
</html>
