<!DOCTYPE html>
<html>
<head>
<title>Rest API Help - Social Networks and Archival Context</title>

<!-- JQuery -->
<script src="//code.jquery.com/jquery-2.1.4.min.js"></script>

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css" integrity="sha384-aUGj/X2zp5rLCbBxumKTCw2Z50WgIr1vs/PFN4praOTvYXWlVyh2UtNUU0KAUhAX" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" integrity="sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ==" crossorigin="anonymous"></script>

<!-- Helper Scripts -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.7.5/js/bootstrap-select.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.7.5/css/bootstrap-select.min.css">
<script language="javascript">
$('.selectpicker').selectpicker();
</script>

<!-- Select Upgrades -->
<link href="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.2-rc.1/css/select2.min.css" rel="stylesheet" />
<script src="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.2-rc.1/js/select2.min.js"></script>
<link rel="stylesheet" href="{{control.snacURL}}/css/select2-bootstrap.min.css">

<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

<!-- SNAC Styles -->
<link rel="stylesheet" href="{{control.snacURL}}/css/snac.css{{control.noCache}}">

<!-- SNAC Javascript -->
<script src="{{control.snacURL}}/javascript/admin.js{{control.noCache}}"></script>
<script src="{{control.snacURL}}/javascript/save_actions.js{{control.noCache}}"></script>
<script src="{{control.snacURL}}/javascript/select_loaders.js{{control.noCache}}"></script>
<script src="{{control.snacURL}}/javascript/scripts.js{{control.noCache}}"></script>
<script src="{{control.snacURL}}/javascript/relation_search.js{{control.noCache}}"></script>
<script src="{{control.snacURL}}/javascript/html2canvas.js{{control.noCache}}"></script>
<script src="{{control.snacURL}}/javascript/feedback.js{{control.noCache}}"></script>


<script>

$(document).ready(function() {

    // Use select2 to display the select dropdowns
    // rather than the HTML default
    $("select").each(function() {
        select_replace_simple($(this));
    });
});
</script>

<style>
h2 {
    padding-top: 60px;
}
</style>
</head>
<body role="document">
{% from 'page_navigation.html' import topNavigation,footer %}
{{ topNavigation(X, user, permissions, control) }}


<div class="container snac" role="main">
<form id="new_user_form">
    <h1>Rest API Commands</h1>
    
    <div class="row">
        <div class="col-md-12">
            <p>The following commands may be given as JSON <code>PUT</code> requests to the SNAC RestFUL API.  Most read-only API commands may be called without login, however anything that causes changes in the data require a <code>user</code> object which includes a temporary API key.  For examples using the RestFUL API in PHP and Java, view the <a href="https://github.com/snac-cooperative/Rest-API-Examples">SNAC RestAPI Examples Repository</a> on GitHub.
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h3 id="toc">Table of Contents</h3>
                {% set numdone = 0 %}
            <div class="row">
                <div class="col-md-4">
                    <ul>
                        <li>Discovery
                            <ul>
                            {% for command,info in data.commands %}
                                {% if info.category == 'discover' %}
                                {% if info.examples %}
                                   {% set numdone = numdone + 1 %}
                                {% endif %}
                                <li><span class="fa fa-fw {{ info.examples ? 'fa-check-square-o' : 'fa-square-o'}}"></span> <a href="#{{command}}">{{info.title}}</a></li>
                                {% endif %}
                            {% endfor %}
                            </ul>
                        </li>
                        <li>Reconciliation
                            <ul>
                            {% for command,info in data.commands %}
                                {% if info.category == 'reconciliation' %}
                                {% if info.examples %}
                                   {% set numdone = numdone + 1 %}
                                {% endif %}
                                <li><span class="fa fa-fw {{ info.examples ? 'fa-check-square-o' : 'fa-square-o'}}"></span> <a href="#{{command}}">{{info.title}}</a></li>
                                {% endif %}
                            {% endfor %}
                            </ul>
                        </li>
                        <li>Constellation Views
                            <ul>
                            {% for command,info in data.commands %}
                                {% if info.category == 'constellation' %}
                                {% if info.examples %}
                                   {% set numdone = numdone + 1 %}
                                {% endif %}
                                <li><span class="fa fa-fw {{ info.examples ? 'fa-check-square-o' : 'fa-square-o'}}"></span> <a href="#{{command}}">{{info.title}}</a></li>
                                {% endif %}
                            {% endfor %}
                            </ul>
                        </li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <ul>
                        <li>Constellation Modifications
                            <ul>
                            {% for command,info in data.commands %}
                                {% if info.category == 'modification' %}
                                {% if info.examples %}
                                   {% set numdone = numdone + 1 %}
                                {% endif %}
                                <li><span class="fa fa-fw {{ info.examples ? 'fa-check-square-o' : 'fa-square-o'}}"></span> <a href="#{{command}}">{{info.title}}</a></li>
                                {% endif %}
                            {% endfor %}
                            </ul>
                        </li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <ul>
                        <li>Vocabulary Operations
                            <ul>
                            {% for command,info in data.commands %}
                                {% if info.category == 'vocabulary' %}
                                {% if info.examples %}
                                   {% set numdone = numdone + 1 %}
                                {% endif %}
                                <li><span class="fa fa-fw {{ info.examples ? 'fa-check-square-o' : 'fa-square-o'}}"></span> <a href="#{{command}}">{{info.title}}</a></li>
                                {% endif %}
                            {% endfor %}
                            </ul>
                        </li>
                        <li>Resource Operations
                            <ul>
                            {% for command,info in data.commands %}
                                {% if info.category == 'resource' %}
                                {% if info.examples %}
                                   {% set numdone = numdone + 1 %}
                                {% endif %}
                                <li><span class="fa fa-fw {{ info.examples ? 'fa-check-square-o' : 'fa-square-o'}}"></span> <a href="#{{command}}">{{info.title}}</a></li>
                                {% endif %}
                            {% endfor %}
                            </ul>
                        </li>
                        <li>User Operations
                            <ul>
                            {% for command,info in data.commands %}
                                {% if info.category == 'user' %}
                                {% if info.examples %}
                                   {% set numdone = numdone + 1 %}
                                {% endif %}
                                <li><span class="fa fa-fw {{ info.examples ? 'fa-check-square-o' : 'fa-square-o'}}"></span> <a href="#{{command}}">{{info.title}}</a></li>
                                {% endif %}
                            {% endfor %}
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
            Percent Done: {{ numdone / data.commands|length * 100 }}
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">

            {% for command,info in data.commands %}
            <h2 id="{{command}}">{{info.title}}</h2>
            <div class="row">
                <div class="col-md-12">
                    <p>{{info.description|raw}}</p>
                    <!--
                    {% if info.examples %}
                        <h4>Examples</h4>
                        {% for example in info.examples %}
                            <h5>{{example.title}}</h5>
                            <p>{{example.description}}</p>
                            <h6>Query:</h6>
                            <pre>{{example.query|json_encode(constant('JSON_PRETTY_PRINT'))}}</pre>
                            <h6>Response:</h6>
                            <pre>{{example.response|json_encode(constant('JSON_PRETTY_PRINT'))}}</pre>
                        {% endfor %}
                    {% endif %}
                    -->
                <!--</div>
                <div class="col-md-8">-->
                    <div class="panel panel-default">
                        <div class="panel-heading">Usage Information</div>
                        <div class="panel-body">
                            {% if info.permissions %}
                            <div class="alert alert-danger">
                                <strong>Permissions Required: </strong> {{ info.permissions|join(', ') }}
                            </div>
                            {% endif %}
                            <table class="table table-noborder">
                                <tbody>
                                    <tr>
                                        <td style="width: 20%"><p>Command:</p></td>
                                        <td style="width: 80%"><p><code>{{command}}</code></p></td>
                                    </tr>
                                    {% if info.parameters %}
                                        <tr>
                                            <td style="width: 20%"><p>Parameters:</p></td>
                                            <td style="width: 80%">
                                                {% for param,details in info.parameters %}
                                                    <p><code>{{param}}</code>: {{details.type}}
                                                    {% if details.optional %}
                                                    <span style="margin-left: 15px"><em>optional</em></span>
                                                    {% endif %}
                                                    </p>
                                                    <p style="margin-left: 15px">{{details.description}}</p>
                                                {% endfor %}
                                            </td>
                                        </tr>
                                    {% endif %}
                                    {% if info.returns %}
                                        <tr>
                                            <td style="width: 20%"><p>Return Values:</p></td>
                                            <td style="width: 80%">
                                                {% for ret,details in info.returns %}
                                                    <p><code>{{ret}}</code>: {{details.type}}</p>
                                                    <p style="margin-left: 15px">{{details.description}}</p>
                                                {% endfor %}
                                            </td>
                                        </tr>
                                    {% endif %}
                                    {% if info.examples %}
                                        <tr>
                                            <td style="width: 20%"><p>Examples:</p></td>
                                            <td style="width: 80%">
                                                {% for example in info.examples %}
                                                    <h4>{{example.title}}</h4>
                                                    <p>{{example.description}}</p>
                                                    <h5>Query:</h5>
                                                    <pre>{{example.query|json_encode(constant('JSON_PRETTY_PRINT'))}}</pre>
                                                    <h5>Response:</h5>
                                                    <pre>{{example.response|json_encode(constant('JSON_PRETTY_PRINT'))}}</pre>
                                                {% endfor %}
                                            </td>
                                        </tr>
                                    {% endif %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <p style="text-align: right; margin-top: 0px; padding-top: 0px;"><a href="#">back to top</a></p>
            {% endfor %}

        </div>
    </div>
</form>
</div>
{{ footer(X, user, permissions, control) }}
</body>
</html>

