<!DOCTYPE html>
<html>
<head>
<title>Dashboard - Social Networks and Archival Context</title>

<!-- JQuery -->
<script src="//code.jquery.com/jquery-2.1.4.min.js"></script>

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css" integrity="sha384-aUGj/X2zp5rLCbBxumKTCw2Z50WgIr1vs/PFN4praOTvYXWlVyh2UtNUU0KAUhAX" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" integrity="sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ==" crossorigin="anonymous"></script>

<!-- Helper Scripts -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.7.5/js/bootstrap-select.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.7.5/css/bootstrap-select.min.css">
<script language="javascript">
$('.selectpicker').selectpicker();
</script>

<!-- SNAC Styles -->
<link rel="stylesheet" href="{{control.snacURL}}/css/snac.css{{control.noCache}}">

<!-- SNAC Javascript -->
<script src="{{control.snacURL}}/javascript/save_actions.js{{control.noCache}}"></script>
<script src="{{control.snacURL}}/javascript/select_loaders.js{{control.noCache}}"></script>
<script src="{{control.snacURL}}/javascript/scripts.js{{control.noCache}}"></script>
<script src="{{control.snacURL}}/javascript/dashboard.js{{control.noCache}}"></script>
<script src="{{control.snacURL}}/javascript/dashboard_search.js{{control.noCache}}"></script>
<script src="{{control.snacURL}}/javascript/html2canvas.js{{control.noCache}}"></script>
<script src="{{control.snacURL}}/javascript/feedback.js{{control.noCache}}"></script>
<script>
// Inline script to help out the pop-up menu for constellations

var permissions = {
    {% for permission, value in permissions %}
        {{permission}}: {{value}},
    {% endfor %}
    FakeHolder: false
};
</script>

<meta name="viewport" content="initial-scale = 1.0" />

</head>
<body role="document">
{% from 'page_navigation.html' import topNavigation,footer %}
{{ topNavigation(X, user, permissions, control) }}


<div class="container snac" role="main">

    <h1>Dashboard</h1>

    <div class="row">
        <div class="alert alert-01 alert-info" id="status-message" style="display: none">
            <p></p>
        </div><!-- end alert -->
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="well well-md">
                <p>Welcome, {{ user.firstName|default('SNAC User') }}, this is your dashboard.  The left column shows the most recently published Constellations across SNAC and provides searching.  The second column shows Constellations you have checked out for editing and those you are currently editing in other browser windows.  It also provides a button to create a new Constellation object.  The last column shows constellations you have out for review and other information depending on your permission level.</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <!-- Left column -->
            <!--
            <div class="panel panel-success">
                <div class="panel-heading">
                    <h3 class="panel-title"><span class="glyphicon glyphicon-question-sign"></span> Help</h3>
                </div>
                <div class="panel-body">
                    <p>The following links provide guides to help you.  They are also accessible at any time by the Help menu above.</p>
                    <div class="list-group">
                        <a href="#" class="list-group-item disabled">Coming Soon</a>
                    </div>
                </div>
            </div>

            -->

            <form class="form-horizontal" id="search_form" onsubmit="return false;">
                <div class="well well-lg text-center">
                        <input type="hidden" id="count" name="count" value="10">
                        <input type="hidden" id="start" name="start" value="0">
                        <div class="input-group">
                            <input type="text" class="form-control"
                                placeholder="Search for..." id="searchbox" name="term">
                                <span class="input-group-btn">
                                     <button class="btn btn-default" type="button" id="searchbutton" name="searchbutton">Search</button>
                                </span>
                        </div>

                        <div id="search-results-box">
                        </div>

                        <div>
                            <p style="margin-top: 10px; margin-bottom: 0px;"><a href="{{control.snacURL}}/search?search_type=advanced">Advanced Search</a></p>
                        </div>
                </div>
            </form>

            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title">View Recently Published</h3>
                </div>
                <div class="panel-body">
                    <p>Browse interesting and recently published Constellations from all of SNAC</p>
                    <div class="list-group">
                        {% for recent in data.recents %}
                        <a href="{{control.snacURL}}/view/{{recent.id}}" class="list-group-item">{{recent.nameEntry}}</a>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        {% if permissions.Edit or permissions.Create %}
        <div class="col-md-4">
            <!-- Middle column -->
            {% if permissions.Create %}
            <div class="panel panel-success">
                <div class="panel-heading">
                    <h3 class="panel-title">Create New Constellation</h3>
                </div>
                <div class="panel-body">
                    <p>Use the button below to create a new constellation</p>
                    <div class="list-group">
                        <a href="{{control.snacURL}}/new" class="list-group-item list-group-item-success"><span class="glyphicon glyphicon-plus"></span> Create New Constellation</a>
                    </div>
                </div>
            </div>
            {% endif %}


            {% if permissions.Edit %}
            <div class="panel panel-warning">
                <div class="panel-heading">
                    <h3 class="panel-title">In Progress Edits</h3>
                </div>
                <div class="panel-body">
                    <p>Continue where you left off on one of the following Constellations.</p>
                    <div class="list-group">
                        {% if not data.editing %}
                        <span href="#" class="list-group-item disabled">No Constellations Available</span>
                        {% endif %}
                        {% for link in data.editing %}
                        <div class="list-group-item" style="padding: 0px;">
                            <div class="btn-group btn-group-justified">
                                <a href="{{control.snacURL}}/edit/{{link.id}}/{{link.version}}"
                                        class="list-group-item text-left"
                                        style="width: 100%; text-align: left; border: 0px; border-bottom: 1px solid #ddd; margin-bottom:-1px;">
                                    {{link.nameEntry}}
                                </a>
                                <span class="btn btn-default"
                                    style="width: 20%;border-right: 0px; border-top: 0px; border-bottom:0px; border-radius: 0px;"
                                    data-toggle="modal" data-target="#constellation-settings" title="View more options"
                                    onClick="updateSettingsBox({{link.id}}, {{link.version}}, '{{link.nameEntry}}');">
                                    <span class="glyphicon glyphicon-cog"> </span>
                                </span>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="panel panel-danger">
                <div class="panel-heading">
                    <h3 class="panel-title">Locked Edits</h3>
                </div>
                <div class="panel-body">
                    <p>You have the following Constellations open in a browser for editing.  You may unlock them by clicking below, however your
                    changes not previously saved may be lost.</p>
                    <div class="list-group">
                        {% if not data.editing_lock %}
                        <span href="#" class="list-group-item disabled">No Constellations Available</span>
                        {% endif %}
                        {% for link in data.editing_lock %}
                        <a href="{{control.snacURL}}/unlock/{{link.id}}/{{link.version}}" class="list-group-item"><span class="pull-right"> <i class="fa fa-unlock" aria-hidden="true"></i> </span> {{link.nameEntry}}</a>
                        {% endfor %}
                    </div>
                </div>
            </div>
            {% endif %}
        </div>
        {% endif %}
        <div class="col-md-4">
            <!-- Right column -->

            {% if data.messages|length > 0 %}
            <div class="alert alert-warning">
                <div class="">
                    <p><strong>Notice:</strong> You have unread messages.  Please go to the messaging center to read them.</p>
                    <a class="list-group-item list-group-item-warning" href="{{control.snacURL}}/messages"><i class="fa fa-comments-o" aria-hidden="true"></i> Messaging Center</a>
                </div>
            </div>
            {% endif %}


            <div class="panel panel-review">
                <div class="panel-heading">
                    <h3 class="panel-title">Locked for Review</h3>
                </div>
                <div class="panel-body">
                    <p>You have the following Constellations that have been sent for review.  You may unlock them here to
                    continue editing them.</p>
                    <div class="list-group">
                        {% if not data.review_lock %}
                        <span href="#" class="list-group-item disabled">No Constellations Available</span>
                        {% endif %}
                        {% for link in data.review_lock %}
                        <a href="{{control.snacURL}}/unlock/{{link.id}}/{{link.version}}" class="list-group-item"><span class="pull-right"> <i class="fa fa-unlock" aria-hidden="true"></i> </span> {{link.nameEntry}}</a>
                        {% endfor %}
                    </div>
                </div>
            </div>

            {% if permissions.ChangeLocks %}
            <div class="panel panel-review">
                <div class="panel-heading">
                    <h3 class="panel-title">Constellations Needing Review</h3>
                </div>
                <div class="panel-body">
                    <p>The following Constellations need review.  Select one to check it out and begin editing.</p>
                    <div class="panel panel-default">
                        <div class="panel-heading">Sent directly to you</div>
                        <div class="panel-body">
                            <div class="list-group" style="margin-bottom: 0px;">
                                {% if not data.review %}
                                <span href="#" class="list-group-item disabled">No Constellations Available</span>
                                {% endif %}
                                {% for link in data.review %}
                                <a href="{{control.snacURL}}/edit/{{link.id}}/{{link.version}}" class="list-group-item">{{link.nameEntry}}</a>
                                {% endfor %}
                            </div>
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading">Sent to any reviewers</div>
                        <div class="panel-body">
                            <div class="list-group" style="margin-bottom: 0px;">
                                {% if not data.needs_review %}
                                <span href="#" class="list-group-item disabled">No Constellations Available</span>
                                {% endif %}
                                {% for link in data.needs_review %}
                                <a href="{{control.snacURL}}/edit/{{link.id}}/{{link.version}}" class="list-group-item">{{link.nameEntry}}</a>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}
        </div>
    </div>
</div>

<div class="modal fade" id="constellation-settings" tabindex="-1"
	role="dialog" aria-labelledby="constellation-settings">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" id="settings-title">Constellation Settings</h4>
			</div>
			<div class="modal-body col-xs-12">
				<ol class="breadcrumb">
					<li id="settings-name"></li>
					<li>Settings</li>
				</ol>
				<div class="col-xs-12">
				    <p>You may perform the following actions on this constellation</p>

                    <div class="list-group" id="settings-actions">

                    </div>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-primary" data-dismiss="modal">Done</button>
			</div>
		</div>
	</div>
</div>
{{ footer(X, user, permissions, control) }}
</body>
</html>
