{% macro dateEntry(X, inEdit, showSubElements, name, short, snacDate, i, sub) %}
    {% import 'widgets.html' as widgets %}
<div class="panel panel-default" id="{{short}}_panel_{{i}}">
	<div class="panel-heading">{{ name }} - {{ X.singleDate.display }}</div>
	<div class="panel-body date-panel">
		<div class="col-sm-10" id="{{short}}_datapart_{{i}}">
            <input type="hidden" id="{{short}}_id_{{i}}" name="{{short}}_id_{{i}}" value="{{snacDate.id}}"/>
            <input id="{{short}}_version_{{i}}" name="{{short}}_version_{{i}}" type="hidden" value="{{ snacDate.version }}"/>
            <input id="{{short}}_operation_{{i}}" name="{{short}}_operation_{{i}}" type="hidden" value=""/>
            <input id="{{short}}_isrange_{{i}}" name="{{short}}_isrange_{{i}}" type="hidden" value="false"/>
            <input id="{{short}}_end_{{i}}" name="{{short}}_end_{{i}}" type="hidden" value=""/>
            <input id="{{short}}_endoriginal_{{i}}" name="{{short}}_endoriginal_{{i}}" type="hidden" value=""/>
            <input id="{{short}}_endtype_id_{{i}}" name="{{short}}_endtype_id_{{i}}" type="hidden" value=""/>
            <input id="{{short}}_endnotBefore_{{i}}" name="{{short}}_endnotBefore_{{i}}" type="hidden" value=""/>
            <input id="{{short}}_endnotAfter_{{i}}" name="{{short}}_endnotAfter_{{i}}" type="hidden" value=""/>
			<div class="form-group">
				<label for="{{short}}_start_{{i}}" class="control-label col-xs-4" data-content="{{X.machineDate.tooltip}}" data-toggle="popover" data-placement="top">
					{{ X.machineDate.display }} <br><span class="control-label-subtext">Machine-Readable</span></label>
                <div class="col-xs-8" id="date_{{short}}_start_{{i}}">
                    <p class="form-control-static">{{ snacDate.fromDate }}</p>
					<input id="{{short}}_start_{{i}}" name="{{short}}_start_{{i}}" type="hidden"
						value="{{ snacDate.fromDate }}"/>
				</div>
			</div>

    			<div class="form-group">
    				<label for="{{short}}_startoriginal_{{i}}" class="control-label col-xs-4" data-content="{{X.naturalDate.tooltip}}" data-toggle="popover" data-placement="top">
                        {{ X.naturalDate.display }} <br><span class="control-label-subtext">Natural Language</span></label>
    				<div class="col-xs-8" id="text_{{short}}_startoriginal_{{i}}">
    					<input id="{{short}}_startoriginal_{{i}}" name="{{short}}_startoriginal_{{i}}" type="hidden"
    						class="form-control" value="{{ snacDate.fromDateOriginal }}"/>
                        <p class="form-control-static">{{ snacDate.fromDateOriginal }}</p>
    				</div>
    			</div>

            <div class="form-group">
                <label class="control-label col-xs-4" data-content="{{X.dateType.tooltip}}" data-toggle="popover" data-placement="top">
                    {{ X.dateType.display }}
                </label>
                <div class="col-xs-8" id="select_{{short}}_starttype_{{i}}">
                    <input type="hidden" id="{{short}}_starttype_id_{{i}}" name="{{short}}_starttype_id_{{i}}" value="{{snacDate.fromType.id}}"/>
                    <input type="hidden" id="{{short}}_starttype_term_{{i}}" name="{{short}}_starttype_term_{{i}}" value="{{snacDate.fromType.term}}"/>
                    <input type="hidden" id="{{short}}_starttype_vocabtype_{{i}}" name="{{short}}_starttype_vocabtype_{{i}}" value="date_type"/>
                    <input type="hidden" id="{{short}}_starttype_minlength_{{i}}" name="{{short}}_starttype_minlength_{{i}}" value="0"/>
                    <p class="form-control-static">{{ snacDate.fromType.term }}</p>
                </div>
            </div>

			<div class="form-group fuzzy-date" style="display:none">
				<label for="{{short}}_startnotBefore_{{i}}" class="control-label col-xs-4" data-content="{{X.fuzzyRange.tooltip}}" data-toggle="popover" data-placement="top">
					{{ X.fuzzyRange.display }} </label>
				<div class="col-xs-3" id="text_{{short}}_startnotBefore_{{i}}">
					<input id="{{short}}_startnotBefore_{{i}}"
						name="{{short}}_startnotBefore_{{i}}" type="hidden" class="form-control"
						value="{{ snacDate.fromRange.notBefore }}"/>
					<input id="{{short}}_startnotBefore_placeholder_{{i}}"
						type="hidden" class="form-control"
						value="YYYY-MM-DD"/>
					<input id="{{short}}_startnotBefore_size_{{i}}"
						type="hidden" class="form-control"
						value="10"/>
                    <p class="form-control-static">{{ snacDate.fromRange.notBefore }}</p>
				</div>
				<div class="col-xs-2 text-center">-</div>
				<div class="col-xs-3" id="text_{{short}}_startnotAfter_{{i}}">
					<input id="{{short}}_startnotAfter_{{i}}"
						name="{{short}}_startnotAfter_{{i}}" type="hidden" class="form-control"
						value="{{ snacDate.fromRange.notAfter }}"/>
					<input id="{{short}}_startnotAfter_placeholder_{{i}}"
						type="hidden" class="form-control"
						value="YYYY-MM-DD"/>
					<inpu t id="{{short}}_startnotAfter_size_{{i}}"
						type="hidden" class="form-control"
						value="10"/>
                    <p class="form-control-static">{{ snacDate.fromRange.notAfter }}</p>
				</div>
			</div>

            <div class="form-group">
                <label for="{{short}}_note_{{ i }}" class="control-label col-xs-4" data-content="{{X.descriptiveNote.tooltip}}" data-toggle="popover" data-placement="top">
                    {{ X.descriptiveNote.display }}
                </label>
                <div class="col-xs-8" id="textarea_{{short}}_note_{{i}}">
                    <textarea id="{{short}}_note_{{i}}" name="{{short}}_note_{{i}}" style="display:none;">{{ snacDate.note }}</textarea>
                    <p class="form-control-static">{{ snacDate.note }}</p>
                </div>
            </div>
			<a class="form-group" onclick="$(this).hide().closest('.date-panel').find('div.fuzzy-date').slideToggle()">Show Fuzzy Range Fields</a>
		</div>

        <!-- TODO: need to fix this up! -->
        {% if sub %}
            {{ widgets.subOptionsList(X, inEdit, showSubElements, short, i) }}
        {% else %}
            {{ widgets.scmModal(X, inEdit, showSubElements, short, i, name, name, snacDate) }}
            {{ widgets.optionsList(X, inEdit, showSubElements, short, i) }}
        {% endif %}
	</div>
</div>
{% endmacro %}

{% macro dateRangeEntry(X, inEdit, showSubElements, name, short, snacDate, i, sub) %}
    {% import 'widgets.html' as widgets %}
<div class="panel panel-default" id="{{short}}_panel_{{i}}">
	<div class="panel-heading">{{ name }} - {{ X.dateRange.display }}</div>
	<div class="panel-body date-panel">
		<div class="col-sm-10" id="{{short}}_datapart_{{i}}">
            <input type="hidden" id="{{short}}_id_{{i}}" name="{{short}}_id_{{i}}" value="{{snacDate.id}}"/>
            <input id="{{short}}_version_{{i}}" name="{{short}}_version_{{i}}" type="hidden" value="{{ snacDate.version }}"/>
            <input id="{{short}}_operation_{{i}}" name="{{short}}_operation_{{i}}" type="hidden" value=""/>
            <input id="{{short}}_isrange_{{i}}" name="{{short}}_isrange_{{i}}" type="hidden" value="true"/>
			<div class="form-group">
				<label for="{{short}}_start_{{i}}" class="control-label col-xs-4" data-content="{{X.startMachineDate.tooltip}}" data-toggle="popover" data-placement="top">
                    {{ X.startMachineDate.display }} <br><span class="control-label-subtext">Machine-Readable</span></label>
                <div class="col-xs-8" id="date_{{short}}_start_{{i}}">
                    <p class="form-control-static">{{ snacDate.fromDate }}</p>
					<input id="{{short}}_start_{{i}}" name="{{short}}_start_{{i}}" type="hidden"
						value="{{ snacDate.fromDate }}"/>
				</div>
			</div>

    			<div class="form-group">
    				<label for="{{short}}_startoriginal_{{i}}" class="control-label col-xs-4" data-content="{{X.startNaturalDate.tooltip}}" data-toggle="popover" data-placement="top">
    					{{ X.startNaturalDate.display }} <br><span class="control-label-subtext">Natural Language</span></label>
    				<div class="col-xs-8" id="text_{{short}}_startoriginal_{{i}}">
    					<input id="{{short}}_startoriginal_{{i}}" name="{{short}}_startoriginal_{{i}}" type="hidden"
    						class="form-control" value="{{ snacDate.fromDateOriginal }}"/>
                        <p class="form-control-static">{{ snacDate.fromDateOriginal }}</p>
    				</div>
    			</div>

            <div class="form-group">
                <label class="control-label col-xs-4" data-content="{{X.startDateType.tooltip}}" data-toggle="popover" data-placement="top">
                    {{ X.startDateType.display }}
                </label>
                <div class="col-xs-8" id="select_{{short}}_starttype_{{i}}">
                    <input type="hidden" id="{{short}}_starttype_id_{{i}}" name="{{short}}_starttype_id_{{i}}" value="{{snacDate.fromType.id}}"/>
                    <input type="hidden" id="{{short}}_starttype_term_{{i}}" name="{{short}}_starttype_term_{{i}}" value="{{snacDate.fromType.term}}"/>
                    <input type="hidden" id="{{short}}_starttype_vocabtype_{{i}}" name="{{short}}_starttype_vocabtype_{{i}}" value="date_type"/>
                    <input type="hidden" id="{{short}}_starttype_minlength_{{i}}" name="{{short}}_starttype_minlength_{{i}}" value="0"/>
                    <p class="form-control-static">{{ snacDate.fromType.term }}</p>
                </div>
            </div>
			<!-- FUZZY -->
			<div class="form-group fuzzy-date" style="display:none">
				<label for="{{short}}_startnotBefore_{{i}}" class="control-label col-xs-4" data-content="{{X.startFuzzyRange.tooltip}}" data-toggle="popover" data-placement="top">
					{{ X.startFuzzyRange.display }} </label>
				<div class="col-xs-3" id="text_{{short}}_startnotBefore_{{i}}">
					<input id="{{short}}_startnotBefore_{{i}}"
						name="{{short}}_startnotBefore_{{i}}" type="hidden" class="form-control"
						value="{{ snacDate.fromRange.notBefore }}"/>
					<input id="{{short}}_startnotBefore_placeholder_{{i}}"
                        type="hidden" class="form-control"
						value="YYYY-MM-DD"/>
					<input id="{{short}}_startnotBefore_size_{{i}}"
						type="hidden" class="form-control"
						value="10"/>
                    <p class="form-control-static">{{ snacDate.fromRange.notBefore }}</p>
				</div>
				<div class="col-xs-2 text-center">-</div>
				<div class="col-xs-3" id="text_{{short}}_startnotAfter_{{i}}">
					<input id="{{short}}_startnotAfter_{{i}}"
						name="{{short}}_startnotAfter_{{i}}" type="hidden" class="form-control"
						value="{{ snacDate.fromRange.notAfter }}"/>
					<input id="{{short}}_startnotAfter_placeholder_{{i}}"
						type="hidden" class="form-control"
						value="YYYY-MM-DD"/>
					<input id="{{short}}_startnotAfter_size_{{i}}"
						type="hidden" class="form-control"
						value="10"/>
                    <p class="form-control-static">{{ snacDate.fromRange.notAfter }}</p>
				</div>
			</div>
			<div class="form-group">
				<label for="{{short}}_end_{{i}}" class="control-label col-xs-4" data-content="{{X.endMachineDate.tooltip}}" data-toggle="popover" data-placement="top">
					{{ X.endMachineDate.display }} <br><span class="control-label-subtext">Machine-Readable</span></label>
                <div class="col-xs-8" id="date_{{short}}_end_{{i}}">
                    <p class="form-control-static">{{ snacDate.toDate }}</p>
					<input id="{{short}}_end_{{i}}" name="{{short}}_end_{{i}}" type="hidden"
						value="{{ snacDate.toDate }}"/>
				</div>
			</div>

            <div class="form-group">
                <label for="{{short}}_endoriginal_{{i}}" class="control-label col-xs-4" data-content="{{X.endNaturalDate.tooltip}}" data-toggle="popover" data-placement="top">
                    {{ X.endNaturalDate.display }} <br><span class="control-label-subtext">Natural Language</span></label>
                <div class="col-xs-8" id="text_{{short}}_endoriginal_{{i}}">
                    <input id="{{short}}_endoriginal_{{i}}" name="{{short}}_endoriginal_{{i}}" type="hidden"
                        class="form-control" value="{{ snacDate.toDateOriginal }}"/>
                    <p class="form-control-static">{{ snacDate.toDateOriginal }}</p>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-xs-4" data-content="{{X.endDateType.tooltip}}" data-toggle="popover" data-placement="top">
                    {{ X.endDateType.display }}
                </label>
                <div class="col-xs-8" id="select_{{short}}_endtype_{{i}}">
                    <input type="hidden" id="{{short}}_endtype_id_{{i}}" name="{{short}}_endtype_id_{{i}}" value="{{snacDate.toType.id}}"/>
                    <input type="hidden" id="{{short}}_endtype_term_{{i}}" name="{{short}}_endtype_term_{{i}}" value="{{snacDate.toType.term}}"/>
                    <input type="hidden" id="{{short}}_endtype_vocabtype_{{i}}" name="{{short}}_endtype_vocabtype_{{i}}" value="date_type"/>
                    <input type="hidden" id="{{short}}_endtype_minlength_{{i}}" name="{{short}}_endtype_minlength_{{i}}" value="0"/>
                    <p class="form-control-static">{{ snacDate.toType.term }}</p>
                </div>
            </div>
			<!-- FUZZY -->
			<div class="form-group fuzzy-date" style="display:none">
				<label for="{{short}}_endnotBefore_{{i}}" class="control-label col-xs-4" data-content="{{X.endFuzzyRange.tooltip}}" data-toggle="popover" data-placement="top">
					{{ X.endFuzzyRange.display }} </label>
				<div class="col-xs-3" id="text_{{short}}_endnotBefore_{{i}}">
					<input id="{{short}}_endnotBefore_{{i}}" name="{{short}}_endnotBefore_{{i}}"
						type="hidden" class="form-control"
						value="{{ snacDate.toRange.notBefore }}" size="10"/>
					<input id="{{short}}_endnotBefore_placeholder_{{i}}"
						type="hidden" class="form-control"
						value="YYYY-MM-DD"/>
					<input id="{{short}}_endnotBefore_size_{{i}}"
						type="hidden" class="form-control"
						value="10"/>
                    <p class="form-control-static">{{ snacDate.toRange.notBefore }}</p>
				</div>
				<div class="col-xs-2 text-center">-</div>
				<div class="col-xs-3" id="text_{{short}}_endnotAfter_{{i}}">
					<input id="{{short}}_endnotAfter_{{i}}" name="{{short}}_endnotAfter_{{i}}"
						type="hidden" class="form-control"
						value="{{ snacDate.toRange.notAfter }}" size="10"/>
					<input id="{{short}}_endnotAfter_placeholder_{{i}}"
						type="hidden" class="form-control"
						value="YYYY-MM-DD"/>
					<input id="{{short}}_endnotAfter_size_{{i}}"
                        type="hidden" class="form-control"
						value="10"/>
                    <p class="form-control-static">{{ snacDate.toRange.notAfter }}</p>
				</div>
			</div>


            <div class="form-group">
                <label for="{{short}}_note_{{ i }}" class="control-label col-xs-4" data-content="{{X.descriptiveNote.tooltip}}" data-toggle="popover" data-placement="top">
                    {{ X.descriptiveNote.display }}
                </label>
                <div class="col-xs-8" id="textarea_{{short}}_note_{{i}}">
                    <textarea id="{{short}}_note_{{i}}" name="{{short}}_note_{{i}}" style="display:none;">{{ snacDate.note }}</textarea>
                    <p class="form-control-static">{{ snacDate.note }}</p>
                </div>
            </div>
			<a class="form-group" onclick="$(this).hide().closest('.date-panel').find('div.fuzzy-date').slideToggle()">Show Fuzzy Range Fields</a>
		</div>

        <!-- TODO: need to fix this up! -->
        {% if sub %}
            {{ widgets.subOptionsList(X, inEdit, showSubElements, short, i) }}
        {% else %}
            {{ widgets.scmModal(X, inEdit, showSubElements, short, i, name, name, snacDate) }}
            {{ widgets.optionsList(X, inEdit, showSubElements, short, i) }}
        {% endif %}
	</div>
</div>
{% endmacro %}
