<!DOCTYPE html>
<html>
<head>
<title>{{data.nameEntries.0.original}} - Details - Social Networks and Archival Context</title>

<!-- JQuery -->
<script src="//code.jquery.com/jquery-2.1.4.min.js"></script>

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css" integrity="sha384-aUGj/X2zp5rLCbBxumKTCw2Z50WgIr1vs/PFN4praOTvYXWlVyh2UtNUU0KAUhAX" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" integrity="sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ==" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/4.4.0/bootbox.min.js"></script>

<!-- Helper Scripts -->
<!--
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.7.5/js/bootstrap-select.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.7.5/css/bootstrap-select.min.css">
-->

<!-- Tiny MCE text editor
<script src="//cdn.tinymce.com/4/tinymce.min.js"></script>
<script>
//tinymce.init(X, {selector:'#biogHist', plugins:'code', min_height: 300});
</script>
-->

<!-- CodeMirror XML editor -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.9.0/codemirror.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.9.0/codemirror.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.9.0/mode/xml/xml.js"></script>

<!-- Select Upgrades -->
<link href="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.2-rc.1/css/select2.min.css" rel="stylesheet" />
<script src="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.2-rc.1/js/select2.min.js"></script>
<link rel="stylesheet" href="{{control.snacURL}}/css/select2-bootstrap.min.css">

<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

<!-- Leaflet JS Javascript and Styles-->
<link rel="stylesheet" href="https://npmcdn.com/leaflet@1.0.0-rc.3/dist/leaflet.css" />
<script src="https://npmcdn.com/leaflet@1.0.0-rc.3/dist/leaflet.js"></script>

<!-- SNAC Javascript -->
<script src="{{control.snacURL}}/javascript/detailed_view_scripts.js{{control.noCache}}"></script>
<script src="{{control.snacURL}}/javascript/scripts.js{{control.noCache}}"></script>
<script src="{{control.snacURL}}/javascript/relation_search.js{{control.noCache}}"></script>
<script src="{{control.snacURL}}/javascript/html2canvas.js{{control.noCache}}"></script>
<script src="{{control.snacURL}}/javascript/feedback.js{{control.noCache}}"></script>

<script>
$.fn.modal.Constructor.prototype.enforceFocus = $.noop;
</script>

<!-- SNAC Stylesheet -->
<link rel="stylesheet" href="{{control.snacURL}}/css/snac.css{{control.noCache}}">

<meta name="viewport" content="initial-scale = 1.0" />
</head>
<body role="document">
{% import 'widgets.html' as widgets %}
{% import 'edit_components.html' as components %}
{% import 'date_entry.html' as dates %}


{% from 'page_navigation.html' import topNavigation %}
{{ topNavigation(X, user, permissions, control) }}


<div class="container snac" role="main">

    <form class="form-horizontal" id="constellation_form">
    <h1>{{data.nameEntries.0.original}}</h1>
    {% if not data.preview %}
    <ol class="breadcrumb">
        <li><a href="{{control.snacURL}}/view/{{data.id}}">{{data.nameEntries.0.original}}</a></li>
        <li>Detailed View</li>
    </ol>
    {% endif %}

    <!-- Constellation Data -->
        <input id="constellationid" name="constellationid" type="hidden" value="{{ data.id }}"/>
        <input id="version" name="version" type="hidden" value="{{ data.version }}"/>
        <input id="operation" name="operation" type="hidden" value="{{ data.operation }}"/>
        <input id="page_type" name="page_type" type="hidden" value="detailed_view"/>


        <div class="row">
            <div class="col-md-8">

                <!-- Nav tabs -->
                {{ components.displayEditTabs(X, false) }}

                <div class="tab-content">

                    <div class="tab-pane active" id="nameEntries">
                        <h2>Core Data</h2>

                        <div class="panel panel-default">
                        	<div class="panel-heading">Constellation Information</div>
                            <div class="panel-body">
                                <div class="col-xs-10">
                                    <div class="form-group">
                                        <label for="entityType" class="control-label col-xs-4" data-content="{{X.entitytype.tooltip}}" data-toggle="popover" data-placement="top">
                                            {{X.entitytype.display}} <span style="color: #b40404">*</span>
                                        </label>
                                        <div class="col-xs-8">
                                            <p class="form-control-static">{{data.entityType.term}}</p>
                                        </div>
                                    </div>
                                </div>
                                {{ widgets.scmModal(X, false, true, 'constellation', '1', 'Basic Info', "Constellation", data) }}
                            </div>
                        </div>

                        <div class="panel panel-default">
                        	<div class="panel-heading">Name Entries <span style="color: #b40404">*</span></div>
                            <div class="panel-body" id="nameEntry_pane">

                                {% set i = 0 %}
                                {% set isPrimary = true %}
                                {% for nameEntry in data.nameEntries %}
                                    {{ components.displayNameEntry(X, false, true, nameEntry, i, isPrimary) }}
                                    {% set isPrimary = false %}
                                {% set i = i + 1 %}
                                {% endfor %}
                                <span id='next_nameEntry_i' style='display:none;'>{{i}}</span>
                            </div>
                        </div>


                    </div>

                    <div class="tab-pane" id="genders">
                        <h2>Genders</h2>

                        {% set i = 0 %}
                        {% for gender in data.genders %}
                            {{ components.displayGender(X, false, true, gender, i) }}
                            {% set i = i + 1 %}
                        {% endfor %}

                        <span id='next_gender_i' style='display:none;'>{{i}}</span>


                    </div>

                    <div class="tab-pane" id="dates">
                        <h2>Exist Dates</h2>


                        {% set i = 0 %}
                        {% for exist in data.dates %}
                            {{ components.displayExist(X, false, true, exist, i) }}
                            {% set i = i + 1 %}
                        {% endfor %}

                    </div>

                    <div class="tab-pane" id="biogHists" style='height: auto'>
                        <h2>Biographical History</h2>

                            {% set i = 0 %}
                            {% for biogHist in data.biogHists %}
                                {{ components.displayBiogHist(X, false, true, biogHist, i) }}
                                {% set i = i + 1 %}
                            {% endfor %}

                    </div>

                    <div class="tab-pane" id="sameAs">
                        <h2>External CPF Relations (Same As)</h2>



                        {% set i = 0 %}
                        {% for other in data.otherRecordIDs %}
                            {{ components.displaySameAs(X, false, true, other, i) }}
                        {% set i = i + 1 %}
                        {% endfor %}
                        <span id='next_sameAs_i' style='display:none;'>{{i}}</span>


                    </div>

                    <div class="tab-pane" id="entityID">
                        <h2>Other Entity IDs (Same As)</h2>



                        {% set i = 0 %}
                        {% for other in data.entityIDs %}
                            {{ components.displayEntityID(X, false, true, other, i) }}
                        {% set i = i + 1 %}
                        {% endfor %}
                        <span id='next_entityID_i' style='display:none;'>{{i}}</span>


                    </div>

                    <div class="tab-pane" id="sources">
                        <h2>Sources</h2>

                        <div class="loading-box text-center">
                            <p><i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i></p>
                            <p>Loading ...</p>
                        </div>
                    </div>

                    <div class="tab-pane" id="resourceRelations">
                        <h2>Resource Relations</h2>

                        <div class="loading-box text-center">
                            <p><i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i></p>
                            <p>Loading ...</p>
                        </div>
                    </div>

                    <div class="tab-pane" id="constellationRelations">
                        <h2>Internal CPF Relations</h2>

                        <div class="loading-box text-center">
                            <p><i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i></p>
                            <p>Loading ...</p>
                        </div>
                    </div>

                    <div class="tab-pane" id="languagesUsed">
                        <h2>Languages Used</h2>


                        {% set i = 0 %}
                        {% for language in data.languagesUsed %}
                            {{ components.displayLanguageUsed(X, false, true, language, i) }}
                        {% set i = i + 1 %}
                        {% endfor %}
                        <span id='next_language_i' style='display:none;'>{{i}}</span>

                    </div>

                    <div class="tab-pane" id="subjects">
                        <h2>Subjects</h2>


                        {% set i = 0 %}
                        {% for subject in data.subjects %}
                            {{ components.displaySubject(X, false, true, subject, i) }}
                        {% set i = i + 1 %}
                        {% endfor %}
                        <span id='next_subject_i' style='display:none;'>{{i}}</span>

                        </div>

                        <div class="tab-pane" id="nationalities">
                            <h2>Nationalities</h2>


                            {% set i = 0 %}
                            {% for nationality in data.nationalities %}
                                {{ components.displayNationality(X, false, true, nationality, i) }}
                            {% set i = i + 1 %}
                            {% endfor %}
                            <span id='next_nationality_i' style='display:none;'>{{i}}</span>
                        </div>

                        <div class="tab-pane" id="functions">
                            <h2>Functions</h2>

                            {% set i = 0 %}
                            {% for function in data.functions %}
                                {{ components.displayFunction(X, false, true, function, i) }}
                            {% set i = i + 1 %}
                            {% endfor %}
                            <span id='next_function_i' style='display:none;'>{{i}}</span>

                        </div>

                        <div class="tab-pane" id="occupations">
                            <h2>Occupations</h2>


                            {% set i = 0 %}
                            {% for occupation in data.occupations %}
                                {{ components.displayOccupation(X, false, true, occupation, i) }}
                            {% set i = i + 1 %}
                            {% endfor %}
                            <span id='next_occupation_i' style='display:none;'>{{i}}</span>

                        </div>

                        <div class="tab-pane" id="legalStatuses">
                            <h2>Legal Statuses</h2>


                            {% set i = 0 %}
                            {% for legalStatus in data.legalStatuses %}
                                {{ components.displayLegalStatus(X, false, true, legalStatus, i) }}
                            {% set i = i + 1 %}
                            {% endfor %}
                            <span id='next_legalStatus_i' style='display:none;'>{{i}}</span>

                        </div>

                        <div class="tab-pane" id="places">
                            <h2>Places</h2>


                            {% set i = 0 %}
                            {% for place in data.places %}
                                {{ components.displayPlace(X, false, true, place, i) }}
                            {% set i = i + 1 %}
                            {% endfor %}
                            <span id='next_place_i' style='display:none;'>{{i}}</span>

                        </div>

                        <div class="tab-pane" id="conventionDeclarations">
                            <h2>Convention Declarations</h2>


                            {% set i = 0 %}
                            {% for conventionDeclaration in data.conventionDeclarations %}
                                {{ components.displayConventionDeclaration(X, false, true, conventionDeclaration, i) }}
                            {% set i = i + 1 %}
                            {% endfor %}
                            <span id='next_conventionDeclaration_i' style='display:none;'>{{i}}</span>
                        </div>

                        <div class="tab-pane" id="generalContexts">
                            <h2>General Contexts</h2>


                            {% set i = 0 %}
                            {% for generalContext in data.generalContexts %}
                                {{ components.displayGeneralContext(X, false, true, generalContext, i) }}
                            {% set i = i + 1 %}
                            {% endfor %}
                            <span id='next_generalContext_i' style='display:none;'>{{i}}</span>
                        </div>

                        <div class="tab-pane" id="structureOrGenealogies">
                            <h2>Structure or Genealogies</h2>


                            {% set i = 0 %}
                            {% for structureOrGenealogy in data.structureOrGenealogies %}
                                {{ components.displayStructureOrGenealogy(X, false, true, structureOrGenealogy, i) }}
                            {% set i = i + 1 %}
                            {% endfor %}
                            <span id='next_structureOrGenealogy_i' style='display:none;'>{{i}}</span>
                        </div>

                        <div class="tab-pane" id="mandates">
                            <h2>Mandates</h2>

                            {% set i = 0 %}
                            {% for mandate in data.mandates %}
                                {{ components.displayMandate(X, false, true, mandate, i) }}
                            {% set i = i + 1 %}
                            {% endfor %}
                            <span id='next_mandate_i' style='display:none;'>{{i}}</span>
                        </div>



                </div>
            </div>
            <div class="col-md-4">
                    <!-- Right Column -->

                    {% if data.preview %}
                    <div class="alert alert-success">
                        <h3 class="text-center" style="color: #3c763d; margin-top:0px;"><span class='glyphicon glyphicon-eye-open'></span> Preview</h3>
                        <p>This is only a preview Constellation.  It will only exist until this window is closed.</p>
                    </div>
                        {% if user.email and permissions.ChangeLocks and data.status == 'reviewable' and data.editingUser.userid != user.userid %}
                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                <h3 class="panel-title">User Actions</h3>
                            </div>
                            <div class="panel-body">
                                <p>You may perform any of the following actions on this constellation.</p>
                                <div class="list-group">
                                    <a class="list-group-item list-group-item-review"
                                        href="{{control.snacURL}}/edit/{{data.id}}/{{data.version}}"><span class="glyphicon glyphicon-pencil"></span> Review Constellation</a>
                                </div>
                            </div>
                        </div>
                        {% endif %}
                        {% if user.email and data.status == 'editable' %}
                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                <h3 class="panel-title">User Actions</h3>
                            </div>
                            <div class="panel-body">
                                <p>You may perform any of the following actions on this constellation.</p>
                                <div class="list-group">
                                    <a class="list-group-item list-group-item-info"
                                        href="{{control.snacURL}}/edit/{{data.id}}/{{data.version}}"><span class="glyphicon glyphicon-pencil"></span> Edit Constellation</a>
                                </div>
                            </div>
                        </div>
                        {% endif %}
                    {% else %}

                   <div class="panel panel-info" style="margin-top: 15px;">
                       <div class="panel-heading">
                           <h3 class="panel-title">Constellation Options</h3>
                       </div>
                       <div class="panel-body" style="padding: 10px; margin-bottom: 2px;">
                          <h5>Information</h5>
                          <div class="list-group" style="margin-bottom: 0px;">
                                <a href="#" class="list-group-item list-group-item-success disabled" data-toggle="modal" data-target="#collection_locations" id="displayHoldingsMap">
                                    <i class="fa fa-fw fa-globe" aria-hidden="true"></i> Collection Locations<span class="pull-right fa fa-fw fa-question-circle" title="Help" data-content='This option is currently disabled. To enable the Collection Locations Map, open the Resource Relations tab.' data-toggle="popover" data-placement="top" id="collection_locations_help"></span></a>
                                <a class="list-group-item list-group-item-warning"
                                    href="{{control.snacURL}}/view/{{data.id}}/{{data.version}}">
                                    <i class="fa fa-fw fa-eye" aria-hidden="true"></i> HRT View</a>
                                {% if data.maybeSameCount > 0 %}
                                <a href="{{control.snacURL}}/maybesame/{{data.id}}/{{data.version}}"
                                       class="list-group-item list-group-item-merge" id="merge">
                                    <i class="fa fa-fw fa-random" aria-hidden="true"></i> Similarity Assertions
                                    <span class="badge">{{ data.maybeSameCount }}</span></a>
                                {% endif %}
                                   <a class="list-group-item list-group-item-history"
                                      href="{{control.snacURL}}/history/{{data.id}}/{{data.version}}">
                                       <i class="fa fa-fw fa-history" aria-hidden="true"></i> Constellation History</a>
                                   <a class="list-group-item list-group-item-sources"
                                      href="{{control.snacURL}}/sources/{{data.id}}/{{data.version}}">
                                       <i class="fa fa-fw fa-archive" aria-hidden="true"></i> Source Summary</a>
                          </div>
                          <h5>Visualizations</h5>
                          <div class="list-group" style="margin-bottom: 0px;">
                              <a class="list-group-item list-group-item-visualize"
                                 href="{{control.snacURL}}/visualize/connection_graph/{{data.id}}/{{data.version}}">
                                  <i class="fa fa-fw fa-asterisk" aria-hidden="true"></i> Connection Graph</a>
                              <a class="list-group-item list-group-item-visualize"
                                 href="{{control.snacURL}}/visualize/radial_graph/{{data.id}}/{{data.version}}">
                                  <i class="fa fa-fw fa-bullseye" aria-hidden="true"></i> Radial Graph</a>
                          </div>
                           <h5>Export As</h5>
                           <div class="list-group" style="margin-bottom: 0px;">
                               <a href="{{control.snacURL}}/download/{{data.id}}?type=constellation_json" class="list-group-item list-group-item-download"><i class="fa fa-fw fa-file" aria-hidden="true"></i></span> Constellation JSON<!--<span class="pull-right glyphicon glyphicon-question-sign" title="Help" data-content="Export the curent version of this constellation as a JSON file." data-toggle="popover" data-placement="top"></span>--></a>
                               <a href="{{control.snacURL}}/download/{{data.id}}?type=eac-cpf" class="list-group-item list-group-item-download"><i class="fa fa-fw fa-file-code-o" aria-hidden="true"></i> EAC-CPF XML<!-- <span class="pull-right glyphicon glyphicon-question-sign" title="Help" data-content="Export the curent version of this constellation as an EAC-CPF XML file." data-toggle="popover" data-placement="top"></span>--></a>
                           </div>
                       </div>
                   </div>


                  {% if user.email and (permissions.Edit or debug) %}
                   <div class="panel panel-warning" style="margin-top: 15px;">
                       <div class="panel-heading">
                           <h3 class="panel-title">Actions</h3>
                       </div>
                       <div class="panel-body" style="padding: 10px; margin-bottom: 2px;">
                           {% if user.email and permissions.Edit %}
                          <h5>Constellation Actions</h5>
                          <div class="list-group" style="margin-bottom: 0px;">
                                {% if data.status == 'editable' %}
                                <a class="list-group-item list-group-item-info"
                                   href="{{control.snacURL}}/edit/{{data.id}}/{{data.version}}"><span class="glyphicon glyphicon-pencil"></span> Edit Constellation</a>
                                <a class="list-group-item list-group-item-danger" id="reserveForEdit"
                                   href="#"><i class="fa fa-fw fa-bookmark" aria-hidden="true"></i>
                                   <span id="reserveForEditText">Reserve for Editing</span></a>
                                {% else %}
                                    <a class="list-group-item list-group-item-danger disabled"
                                       href="#" title="Notice" data-content="This Constellation is currently being edited by someone else." data-toggle="popover" data-placement="top">
                                        <span class="glyphicon glyphicon-ban-circle"></span> Edit Constellation
                                    </a>
                                    {% if data.editingUser %}
                                        <div class="list-group-item">
                                            <p class="text-center">This Constellation is currently being edited by {{data.editingUser.fullName}}</p>
                                            <div class="list-group" style="margin-bottom: 0px;">
                                                <a href="mailto:{{data.editingUser.email}}" class="list-group-item list-group-item-info">
                                                    <i class="fa fa-paper-plane-o" aria-hidden="true"></i> Send Message
                                                </a>
                                            </div>
                                        </div>
                                    {% endif %}
                                {% endif %}
                          </div>
                          {% endif %}
                          {% if false %}
                          <h5>Debug Actions</h5>
                          <div class="list-group" style="margin-bottom: 0px;">
                              <a href="#" class="list-group-item list-group-item-danger" data-toggle="modal" data-target="#serverResponse"><span class="glyphicon glyphicon-log-in"></span> View Full Server Response</a>

                          </div>
                          {% endif %}
                      </div>
                  </div>
                  {% endif %}
                  {% endif %}



                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">Identity Constellation Identifier(s)</h3>
                        </div>
                        <div class="panel-body">
                            <div class="form-group">
                                <label for="ark" class="control-label col-xs-3" data-content="{{X.ark.tooltip}}" data-toggle="popover" data-placement="top">
                                    {{ X.ark.display }}
                                </label>
                                <div class="col-xs-9">
                                    <p class="form-control-static">{{ data.ark }}</p>
                                </div>
                                <input id="ark" name="ark" type="hidden" value="{{ data.ark }}"/>
                            </div>
                            <div class="form-group">
                                <label for="arkid" class="control-label col-xs-3" data-content="{{X.arkid.tooltip}}" data-toggle="popover" data-placement="top">
                                    {{ X.arkid.display }}
                                </label>
                                <div class="col-xs-9">
                                    <p class="form-control-static">{{ data.ark|replace({'http://n2t.net/ark:/99166/': ''}) }}</p>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-xs-3" data-content="{{X.constellationid.tooltip}}" data-toggle="popover" data-placement="top">
                                    {{ X.constellationid.display }}
                                </label>
                                <div class="col-xs-9">
                                    <p class="form-control-static">{{ data.id }}</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    {% if false %}
                    <div class="panel panel-danger">
                        <div class="panel-heading">
                            <h3 class="panel-title">Debugging</h3>
                        </div>
                        <div class="panel-body">
                            <p>The following are debugging options.</p>
                            <div class="list-group">
                                <a href="#" class="list-group-item list-group-item-danger" data-toggle="modal" data-target="#sourceConstellation"><span class="glyphicon glyphicon-eye-open"></span> View Constellation</a>
                                <a href="#" class="list-group-item list-group-item-danger" data-toggle="modal" data-target="#serverResponse"><span class="glyphicon glyphicon-log-in"></span> View Full Server Response</a>
                            </div>
                        </div>
                    </div>

                    <div class="modal fade" id="sourceConstellation" tabindex="-1" role="dialog" aria-labelledby="sourceConstellationLabel">
                        <div class="modal-dialog" role="document" style="width:90%;">
                            <div class="modal-content">
                                <div class="modal-header primary">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                    <h4 class="modal-title" id="sourceConstellationLabel">Constellation Source (JSON)</h4>
                                </div>
                                <div class="modal-body">
                                    <pre>{{debug.constellationSource}}
                                    </pre>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-primary"  data-dismiss="modal">Done</button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="modal fade" id="serverResponse" tabindex="-1" role="dialog" aria-labelledby="serverResponseLabel">
                        <div class="modal-dialog" role="document" style="width:90%;">
                            <div class="modal-content">
                                <div class="modal-header primary">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                    <h4 class="modal-title" id="serverResponseLabel">Server Response (JSON)</h4>
                                </div>
                                <div class="modal-body">
                                    <pre>{{debug.serverResponse}}
                                    </pre>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-primary"  data-dismiss="modal">Done</button>
                                </div>
                            </div>
                        </div>
                    </div>

                    {% endif %}

                </div>
            </div>
        </form>

<div class="modal fade" id="geoPlaceInfoPane" tabindex="-1" role="dialog" aria-labelledby="geoPlaceInfoPane">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header primary">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="geoPlaceInfoPaneLabel">GeoPlace Information</h4>
            </div>
            <div class="modal-body" id="geoPlaceInfoPaneContent">
                <div class="geoplace-map" id="geoPlaceMap"></div>
                <div id="geoPlaceInfo"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">Done</span></button>
            </div>
        </div>
    </div>
</div>

<div id="hidden_field_options" style="display:none">
    <div id="constellationRelation_template" style="display:none">
    {{ components.displayConstellationRelation(X, false, false, null, 'ZZ', data.entityType.term, data.nameEntries.0.original, true) }}
    </div>
</div>
    </div>
    </body>
    </html>
