<!DOCTYPE html>
<html>
<head>
<title>SNAC Prototype: {{data.nameEntries.0.original}}</title>

<!-- JQuery -->
<script src="//code.jquery.com/jquery-2.1.4.min.js"></script>

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css" integrity="sha384-aUGj/X2zp5rLCbBxumKTCw2Z50WgIr1vs/PFN4praOTvYXWlVyh2UtNUU0KAUhAX" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" integrity="sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ==" crossorigin="anonymous"></script>

<!-- Helper Scripts -->
<!--
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.7.5/js/bootstrap-select.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.7.5/css/bootstrap-select.min.css">
-->

<!-- Tiny MCE text editor
<script src="//cdn.tinymce.com/4/tinymce.min.js"></script>
<script>
//tinymce.init(X, {selector:'#biogHist', plugins:'code', min_height: 300});
</script>
-->

<!-- CodeMirror XML editor -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.9.0/codemirror.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.9.0/codemirror.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.9.0/mode/xml/xml.js"></script>

<!-- Select Upgrades -->
<link href="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.2-rc.1/css/select2.min.css" rel="stylesheet" />
<script src="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.2-rc.1/js/select2.min.js"></script>
<link rel="stylesheet" href="css/select2-bootstrap.min.css">

<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

<!-- SNAC Javascript -->
<script src="javascript/save_actions.js"></script>
<script src="javascript/select_loaders.js"></script>
<script src="javascript/scripts.js"></script>
<script src="javascript/relation_search.js"></script>

<script>
$.fn.modal.Constructor.prototype.enforceFocus = $.noop;
</script>
<link rel="stylesheet" href="css/snac.css">

</head>
<body role="document">
{% import 'widgets.html' as widgets %}
{% import 'edit_components.html' as components %}
{% import 'date_entry.html' as dates %}


{% from 'page_navigation.html' import topNavigation %}
{{ topNavigation(X, user) }}


<div class="container snac" role="main">

    <form class="form-horizontal" id="constellation_form">
    <h1>{{data.nameEntries.0.original}}</h1>

        <!-- Constellation Data -->
        <input id="constellationid" name="constellationid" type="hidden" value="{{ data.id }}"/>
        <input id="version" name="version" type="hidden" value="{{ data.version }}"/>
        <input id="operation" name="operation" type="hidden" value="{{ data.operation }}"/>


        <div class="row">
            <div class="col-md-8">

                <!-- Nav tabs -->
                <ul class="nav nav-tabs" role="tablist">
                    <li class="active"><a href="#nameEntries" role="tab" data-toggle="tab">Basic Info</a></li>
                    <li><a href="#dates" role="tab" data-toggle="tab">Dates</a></li>
                    <li><a href="#biogHists" role="tab" data-toggle="tab">BiogHist</a></li>
                    <li><a href="#places" role="tab" data-toggle="tab">Places</a></li>
                    <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Vocabs <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#genders" role="tab" data-toggle="tab">Genders</a></li>
                        <li><a href="#nationalities" role="tab" data-toggle="tab">Nationalities</a></li>
                        <li><a href="#languagesUsed" role="tab" data-toggle="tab">Languages Used</a></li>
                        <li><a href="#subjects" role="tab" data-toggle="tab">Subjects</a></li>
                        <li><a href="#occupations" role="tab" data-toggle="tab">Occupations</a></li>
                        <li><a href="#functions" role="tab" data-toggle="tab">Functions</a></li>
                        <li><a href="#legalStatuses" role="tab" data-toggle="tab">Legal Statuses</a></li>
                    </ul>
                    </li>
                    <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Relations <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#sameAs" role="tab" data-toggle="tab">External Same As</a></li>
                        <li><a href="#constellationRelations" role="tab" data-toggle="tab">Constellation Relations</a></li>
                        <li><a href="#resourceRelations" role="tab" data-toggle="tab">Resource Relations</a></li>
                    </ul>
                    </li>
                    <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Texts <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#conventionDeclarations" role="tab" data-toggle="tab">Convention Declarations</a></li>
                        <li><a href="#generalContexts" role="tab" data-toggle="tab">General Contexts</a></li>
                        <li><a href="#mandates" role="tab" data-toggle="tab">Mandates</a></li>
                        <li><a href="#structureOrGenealogies" role="tab" data-toggle="tab">Structure or Genealogies</a></li>
                    </ul>
                    </li>
                    <li><a href="#sources" role="tab" data-toggle="tab">Sources</a></li>

                </ul>

                <div class="tab-content">

                    <div class="tab-pane active" id="nameEntries">
                        <h2>Basic Information</h2>

                        <div class="panel panel-default">
                        	<div class="panel-heading">Constellation Information</div>
                            <div class="panel-body">
                                <div class="col-xs-10">
                                    <div class="form-group">
                                        <label for="entityType" class="control-label col-xs-4" data-content="{{X.entitytype.tooltip}}" data-toggle="popover" data-placement="top">
                                            {{X.entitytype.display}} <span style="color: #b40404">*</span>
                                        </label>
                                        <div class="col-xs-8">
                                            <p class="form-control-static">{{data.entityType.term}}</p>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="entityType" class="control-label col-xs-4"  data-content="{{X.snaccontrolmetadata.tooltip}}" data-toggle="popover" data-placement="top">
                                            {{X.snaccontrolmetadata.display}}
                                        </label>
                                        <div class="col-xs-8">
                                            {{ widgets.scmButton(X, false, 'constellation', '1') }}
                                        </div>
                                    </div>
                                </div>
                                {{ widgets.scmModal(X, false, 'constellation', '1', 'Basic Info', "Constellation", data) }}
                            </div>
                        </div>

                        <div class="panel panel-default">
                        	<div class="panel-heading">Name Entries <span style="color: #b40404">*</span></div>
                            <div class="panel-body" id="nameEntry_pane">

                                {% set i = 0 %}
                                {% for nameEntry in data.nameEntries %}
                                    {{ components.displayNameEntry(X, false, nameEntry, i) }}
                                {% set i = i + 1 %}
                                {% endfor %}
                                <span id='next_nameEntry_i' style='display:none;'>{{i}}</span>
                            </div>
                        </div>


                    </div>

                    <div class="tab-pane" id="genders">
                        <h2>Genders</h2>




                        {% set i = 0 %}
                        {% for gender in data.genders %}
                            {{ components.displayGender(X, false, gender, i) }}
                            {% set i = i + 1 %}
                        {% endfor %}

                        <span id='next_gender_i' style='display:none;'>{{i}}</span>


                    </div>

                    <div class="tab-pane" id="dates">
                        <h2>Exist Dates</h2>


                        {% set i = 0 %}
                        {% for exist in data.dates %}
                            {{ components.displayExist(X, false, exist, i) }}
                            {% set i = i + 1 %}
                        {% endfor %}

                    </div>


                    {% set i = 0 %}
                    <div class="tab-pane" id="biogHists" style='height: auto'>
                        <h2>Biographical History</h2>

                        <div class="panel-body" id="biogHist_panel_0">
                            <div class="col-xs-10" id="biogHist_datapart_0">
                                <input type="hidden" id="biogHist_id_0" name="biogHist_id_0" value="{{data.biogHists[0].id}}"/>
                                <input type="hidden" id="biogHist_version_0" name="biogHist_version_0" value="{{data.biogHists[0].version}}"/>
                                {% if data.biogHists[0].id %}
                                    <input type="hidden" id="biogHist_operation_0" name="biogHist_operation_0" value=""/>
                                {% else %}
                                    <input type="hidden" id="biogHist_operation_0" name="biogHist_operation_0" value="insert"/>
                                {% endif %}
                                <div id="textarea_biogHist_text_0">
                                    <input type="hidden" id="biogHist_text_0" name="biogHist_text_0" value="{{ data.biogHists[0].text|e }}"/>
                                    <div class="form-control-static">{{ data.biogHists[0].text|raw }}</div>
                                </div>


                                <input type="hidden" id="biogHist_language_id_0" name="biogHist_language_id_0" value="{{data.biogHists[0].language.id}}"/>
                                <input type="hidden" id="biogHist_language_version_0" name="biogHist_language_version_0" value="{{data.biogHists[0].language.version}}"/>
                                <div class="form-group">
                                    <label class="control-label col-xs-4" data-content="{{X.language.tooltip}}" data-toggle="popover" data-placement="top">
                                        {{ X.language.display }}
                                    </label>
                                    <div class="col-xs-8" id="select_biogHist_languagelanguage_{{i}}">
                                        <input id="biogHist_languagelanguage_id_{{i}}" name="biogHist_languagelanguage_id_{{i}}" type="hidden" class="form-control" value="{{ data.biogHists[0].language.language.id }}"/>
                                        <input id="biogHist_languagelanguage_term_{{i}}" name="biogHist_languagelanguage_term_{{i}}" type="hidden" class="form-control" value="{{ data.biogHists[0].language.language.term }}"/>
                                        <input id="biogHist_languagelanguage_vocabtype_{{i}}" name="biogHist_languagelanguage_vocabtype_{{i}}" type="hidden" class="form-control" value="language_code"/>
                                        <input id="biogHist_languagelanguage_minlength_{{i}}" name="biogHist_languagelanguage_minlength_{{i}}" type="hidden" class="form-control" value="0"/>
                                        <p class="form-control-static">{{ data.biogHists[0].language.language.term }}</p>
                                    </div>
                                </div>


                                <div class="form-group">
                                    <label class="control-label col-xs-4" data-content="{{X.script.tooltip}}" data-toggle="popover" data-placement="top">
                                        {{ X.script.display }}
                                    </label>
                                    <div class="col-xs-8" id="select_biogHist_languagescript_{{i}}">
                                        <input id="biogHist_languagescript_id_{{i}}" name="biogHist_languagescript_id_{{i}}" type="hidden" class="form-control" value="{{ data.biogHists[0].language.script.id }}"/>
                                        <input id="biogHist_languagescript_term_{{i}}" name="biogHist_languagescript_term_{{i}}" type="hidden" class="form-control" value="{{ data.biogHists[0].language.script.term }}"/>
                                        <input id="biogHist_languagescript_vocabtype_{{i}}" name="biogHist_languagescript_vocabtype_{{i}}" type="hidden" class="form-control" value="script_code"/>
                                        <input id="biogHist_languagescript_minlength_{{i}}" name="biogHist_languagescript_minlength_{{i}}" type="hidden" class="form-control" value="0"/>
                                        <p class="form-control-static">{{ data.biogHists[0].language.script.term }}</p>
                                    </div>
                                </div>
                            </div>

                            {{ widgets.scmModal(X, false, "biogHist", i, "BiogHist", "BiogHist", data.biogHists[0]) }}
                            {{ widgets.optionsList(X, false, "biogHist", i) }}
                        </div>

                    </div>

                    <div class="tab-pane" id="sameAs">
                        <h2>Same As</h2>



                        {% set i = 0 %}
                        {% for other in data.otherRecordIDs %}
                            {{ components.displaySameAs(X, false, other, i) }}
                        {% set i = i + 1 %}
                        {% endfor %}
                        <span id='next_sameAs_i' style='display:none;'>{{i}}</span>


                    </div>

                    <div class="tab-pane" id="sources">
                        <h2>Sources</h2>

                        {% set i = 0 %}
                        {% for source in data.sources %}
                            {{ components.displaySource(X, false, source, i) }}
                        {% set i = i + 1 %}
                        {% endfor %}
                        <span id='next_source_i' style='display:none;'>{{i}}</span>

                    </div>

                    <div class="tab-pane" id="resourceRelations">
                        <h2>Resource Relations</h2>



                        {% set i = 0 %}
                        {% for relation in data.resourceRelations %}
                            {{ components.displayResourceRelation(X, false, relation, i) }}
                        {% set i = i + 1 %}
                        {% endfor %}
                        <span id='next_resourceRelation_i' style='display:none;'>{{i}}</span>

                    </div>

                    <div class="tab-pane" id="constellationRelations">
                        <h2>Constellation Relations</h2>


                        {% set i = 0 %}
                        {% for relation in data.relations %}
                            {{ components.displayConstellationRelation(X, false, relation, i) }}
                        {% set i = i + 1 %}
                        {% endfor %}
                        <span id='next_constellationRelation_i' style='display:none;'>{{i}}</span>

                    </div>


                    <div class="tab-pane" id="languagesUsed">
                        <h2>Languages Used</h2>


                        {% set i = 0 %}
                        {% for language in data.languagesUsed %}
                            {{ components.displayLanguageUsed(X, false, language, i) }}
                        {% set i = i + 1 %}
                        {% endfor %}
                        <span id='next_language_i' style='display:none;'>{{i}}</span>

                    </div>

                    <div class="tab-pane" id="subjects">
                        <h2>Subjects</h2>


                        {% set i = 0 %}
                        {% for subject in data.subjects %}
                            {{ components.displaySubject(X, false, subject, i) }}
                        {% set i = i + 1 %}
                        {% endfor %}
                        <span id='next_subject_i' style='display:none;'>{{i}}</span>

                        </div>

                        <div class="tab-pane" id="nationalities">
                            <h2>Nationalities</h2>


                            {% set i = 0 %}
                            {% for nationality in data.nationalities %}
                                {{ components.displayNationality(X, false, nationality, i) }}
                            {% set i = i + 1 %}
                            {% endfor %}
                            <span id='next_nationality_i' style='display:none;'>{{i}}</span>
                        </div>

                        <div class="tab-pane" id="functions">
                            <h2>Functions</h2>

                            {% set i = 0 %}
                            {% for function in data.functions %}
                                {{ components.displayFunction(X, false, function, i) }}
                            {% set i = i + 1 %}
                            {% endfor %}
                            <span id='next_function_i' style='display:none;'>{{i}}</span>

                        </div>

                        <div class="tab-pane" id="occupations">
                            <h2>Occupations</h2>


                            {% set i = 0 %}
                            {% for occupation in data.occupations %}
                                {{ components.displayOccupation(X, false, occupation, i) }}
                            {% set i = i + 1 %}
                            {% endfor %}
                            <span id='next_occupation_i' style='display:none;'>{{i}}</span>

                        </div>

                        <div class="tab-pane" id="legalStatuses">
                            <h2>Legal Statuses</h2>


                            {% set i = 0 %}
                            {% for legalStatus in data.legalStatuses %}
                                {{ components.displayLegalStatus(X, false, legalStatus, i) }}
                            {% set i = i + 1 %}
                            {% endfor %}
                            <span id='next_legalStatus_i' style='display:none;'>{{i}}</span>

                        </div>

                        <div class="tab-pane" id="places">
                            <h2>Places</h2>


                            {% set i = 0 %}
                            {% for place in data.places %}
                                {{ components.displayPlace(X, false, place, i) }}
                            {% set i = i + 1 %}
                            {% endfor %}
                            <span id='next_place_i' style='display:none;'>{{i}}</span>

                        </div>

                        <div class="tab-pane" id="conventionDeclarations">
                            <h2>Convention Declarations</h2>


                            {% set i = 0 %}
                            {% for conventionDeclaration in data.conventionDeclarations %}
                                {{ components.displayConventionDeclaration(X, false, conventionDeclaration, i) }}
                            {% set i = i + 1 %}
                            {% endfor %}
                            <span id='next_conventionDeclaration_i' style='display:none;'>{{i}}</span>
                        </div>

                        <div class="tab-pane" id="generalContexts">
                            <h2>General Contexts</h2>


                            {% set i = 0 %}
                            {% for generalContext in data.generalContexts %}
                                {{ components.displayGeneralContext(X, false, generalContext, i) }}
                            {% set i = i + 1 %}
                            {% endfor %}
                            <span id='next_generalContext_i' style='display:none;'>{{i}}</span>
                        </div>

                        <div class="tab-pane" id="structureOrGenealogies">
                            <h2>Structure or Genealogies</h2>


                            {% set i = 0 %}
                            {% for structureOrGenealogy in data.structureOrGenealogies %}
                                {{ components.displayStructureOrGenealogy(X, false, structureOrGenealogy, i) }}
                            {% set i = i + 1 %}
                            {% endfor %}
                            <span id='next_structureOrGenealogy_i' style='display:none;'>{{i}}</span>
                        </div>

                        <div class="tab-pane" id="mandates">
                            <h2>Mandates</h2>

                            {% set i = 0 %}
                            {% for mandate in data.mandates %}
                                {{ components.displayMandate(X, false, mandate, i) }}
                            {% set i = i + 1 %}
                            {% endfor %}
                            <span id='next_mandate_i' style='display:none;'>{{i}}</span>
                        </div>



                    </div>
                </div>
                <div class="col-md-4">
                    <!-- Right Column -->

                    <div class="alert alert-01 alert-warning" id="notification-message" style="display: none">
                        <p>Saving Constellation...</p>
                    </div><!-- end alert -->
                    <div class="alert alert-01 alert-success" id="success-message" style="display: none">
                        <p>Successfully saved!</p>
                    </div><!-- end alert -->
                    <div class="alert alert-01 alert-danger" id="error-message"  style="display: none">
                        <p>An error occured while saving</p>
                    </div><!-- end alert -->
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h3 class="panel-title">User Actions</h3>
                        </div>
                        <div class="panel-body">
                            <p>You may perform any of the following actions on this constellation.</p>
                            <!--
                            <div class="list-group">
                                <a href="#" class="list-group-item list-group-item-success" id="preview"><span class="glyphicon glyphicon-eye-open"></span> Preview</a>
                            </div>
                            -->
                            <div class="list-group">
                                <a class="list-group-item list-group-item-success"
                                    href="?command=view&constellationid={{data.id}}&version={{data.version}}"><span class="glyphicon glyphicon-eye-open"></span> HRT View</a>
                                {% if user.email %}
                                    {% if data.status == 'editable' %}
                                        <a class="list-group-item list-group-item-info"
                                            href="?command=edit&constellationid={{data.id}}&version={{data.version}}"><span class="glyphicon glyphicon-pencil"></span> Edit Constellation</a>
                                    {% else %}
                                        <a class="list-group-item list-group-item-danger disabled"
                                            href="#" title="Notice" data-content="This Constellation is currently being edited by someone else." data-toggle="popover" data-placement="top"><span class="glyphicon glyphicon-ban-circle"></span> Edit Constellation</a>
                                    {% endif %}
                                {% endif %}
                                <a href="#" class="list-group-item list-group-item-success disabled"><span class="glyphicon glyphicon-floppy-disk"></span> Export as EAC-CPF XML <span class="pull-right glyphicon glyphicon-question-sign" title="Help" data-content="Export the curent version of this constellation as an EAC-CPF XML file." data-toggle="popover" data-placement="top"></span></a>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h3 class="panel-title">Identity Constellation Identifier(s)</h3>
                        </div>
                        <div class="panel-body">
                            <div class="form-group">
                                <label for="ark" class="control-label col-xs-3" data-content="{{X.ark.tooltip}}" data-toggle="popover" data-placement="top">
                                    {{ X.ark.display }}
                                </label>
                                <div class="col-xs-9">
                                    <p class="form-control-static">{{ data.ark }}</p>
                                </div>
                                <input id="ark" name="ark" type="hidden" value="{{ data.ark }}"/>
                            </div>
                        </div>
                    </div>

                    {% if debug %}
                    <div class="panel panel-danger">
                        <div class="panel-heading">
                            <h3 class="panel-title">Debugging</h3>
                        </div>
                        <div class="panel-body">
                            <p>The following are debugging options.</p>
                            <div class="list-group">
                                <a href="#" class="list-group-item list-group-item-danger" data-toggle="modal" data-target="#sourceConstellation"><span class="glyphicon glyphicon-eye-open"></span> View Constellation</a>
                                <a href="#" class="list-group-item list-group-item-danger" data-toggle="modal" data-target="#serverResponse"><span class="glyphicon glyphicon-log-in"></span> View Full Server Response</a>
                            </div>
                        </div>
                    </div>

                    <div class="modal fade" id="sourceConstellation" tabindex="-1" role="dialog" aria-labelledby="sourceConstellationLabel">
                        <div class="modal-dialog" role="document" style="width:90%;">
                            <div class="modal-content">
                                <div class="modal-header primary">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                    <h4 class="modal-title" id="sourceConstellationLabel">Constellation Source (JSON)</h4>
                                </div>
                                <div class="modal-body">
                                    <pre>{{debug.constellationSource}}
                                    </pre>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-primary"  data-dismiss="modal">Done</button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="modal fade" id="serverResponse" tabindex="-1" role="dialog" aria-labelledby="serverResponseLabel">
                        <div class="modal-dialog" role="document" style="width:90%;">
                            <div class="modal-content">
                                <div class="modal-header primary">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                    <h4 class="modal-title" id="serverResponseLabel">Server Response (JSON)</h4>
                                </div>
                                <div class="modal-body">
                                    <pre>{{debug.serverResponse}}
                                    </pre>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-primary"  data-dismiss="modal">Done</button>
                                </div>
                            </div>
                        </div>
                    </div>

                    {% endif %}

                </div>
            </div>
        </form>

<div class="modal fade" id="relationSearchPane" tabindex="-1" role="dialog" aria-labelledby="relationSearchPane">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header primary">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="relationSearchLabel">Choose Relationship</h4>
            </div>
            <div class="modal-body" id="relationSearchPaneContent">
                <form class="form-horizontal" id="relation_search_form" onsubmit="return false;">
                    <div class="modal-body">
                        <p>Use the search box below to find a Constellation.  Select one by using the radio button to the left. You may view any constellation
                        by choosing the "View" link next to the ARK</p>
	                    <input type="hidden" id="relation-search-count" name="count" value="10">
	                    <input type="hidden" id="relation-search-start" name="start" value="0">
	                    <div class="form-group">
	                        <input type="text" class="form-control"
	                            placeholder="Search for..." id="relation-searchbox" name="term">
	                    </div>

	                    <div id="relation-results-box">
	                    </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">Cancel</span></button>
                <button type="button" class="btn btn-primary" id="btn_create_constellationRelation" data-dismiss="modal">Create Relation</button>
            </div>
        </div>
    </div>
</div>

    </div>
    </body>
    </html>
