<!DOCTYPE html>
<html>
<head>
{% if data.id %}
    <title>{{data.nameEntries.0.original}} - Editing - Social Networks and Archival Context</title>
{% else %}
    <title>New Constellation - Editing - Social Networks and Archival Context</title>
{% endif %}

<!-- JQuery -->
<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
<link href="https://code.jquery.com/ui/1.10.1/themes/base/jquery-ui.css" type="text/css" rel="stylesheet" media="all">
<script type='text/javascript' src="https://code.jquery.com/ui/1.10.1/jquery-ui.js"></script>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css" integrity="sha384-aUGj/X2zp5rLCbBxumKTCw2Z50WgIr1vs/PFN4praOTvYXWlVyh2UtNUU0KAUhAX" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" integrity="sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ==" crossorigin="anonymous"></script>

<!-- Form Validation -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.16.0/jquery.validate.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.16.0/additional-methods.min.js"></script>

<!-- Tiny MCE text editor
<script src="https://cdnjs.cloudflare.com/ajax/libs/tinymce/5.6.2/tinymce.min.js" integrity="sha384-fPYbu2VaXTDuM6wPh2f7vikhCeSvDZiBDuXQX8/CVQG5SNOyI1isjcTdIb/gmtdE" crossorigin="anonymous"></script>
<script>
//tinymce.init(X, {selector:'#biogHist', plugins:'code', min_height: 300});
</script>
-->

<!-- CodeMirror XML editor -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.9.0/codemirror.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.9.0/codemirror.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.9.0/mode/xml/xml.js"></script>

<!-- Select Upgrades -->
<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.2-rc.1/css/select2.min.css" rel="stylesheet" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.2-rc.1/js/select2.min.js"></script>
<link rel="stylesheet" href="{{control.snacURL}}/css/select2-bootstrap.min.css">

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

<link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
<script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>

<!-- Leaflet JS Javascript and Styles-->
<link rel="stylesheet" href="https://npmcdn.com/leaflet@1.0.0-rc.3/dist/leaflet.css" />
<script src="https://npmcdn.com/leaflet@1.0.0-rc.3/dist/leaflet.js"></script>

<!-- SNAC Javascript -->
<script src="{{control.snacURL}}/javascript/dashboard_search.js{{control.noCache}}"></script>
<script src="{{control.snacURL}}/javascript/select_loaders.js{{control.noCache}}"></script>
<script src="{{control.snacURL}}/javascript/scripts.js{{control.noCache}}"></script>
<script src="{{control.snacURL}}/javascript/name_heading_punctuator.js{{control.noCache}}"></script>
<script src="{{control.snacURL}}/javascript/edit_scripts.js{{control.noCache}}"></script>
<script src="{{control.snacURL}}/javascript/save_actions.js{{control.noCache}}"></script>
<script src="{{control.snacURL}}/javascript/relation_search.js{{control.noCache}}"></script>
<script src="{{control.snacURL}}/javascript/html2canvas.js{{control.noCache}}"></script>
<script src="{{control.snacURL}}/javascript/feedback.js{{control.noCache}}"></script>
<script src="{{control.snacURL}}/javascript/resource_admin.js{{control.noCache}}"></script>
<script src="{{control.snacURL}}/javascript/name_parser.js{{control.noCache}}"></script>

<script>
    $.fn.modal.Constructor.prototype.enforceFocus = $.noop;
</script>

<!-- SNAC Stylesheet -->
<link rel="stylesheet" href="{{control.snacURL}}/css/snac.css{{control.noCache}}">

<meta name="viewport" content="initial-scale = 1.0" />

<style>

</style>

{% from 'google_analytics.html' import googleAnalytics %} {{ googleAnalytics(X, user, permissions, control) }}
</head>

<body role="document">
{% import 'widgets.html' as widgets %}
{% import 'edit_components.html' as components %}
{% import 'date_entry.html' as dates %}


{% from 'page_navigation.html' import topNavigation,footer %}
{{ topNavigation(X, user, permissions, control) }}

<nav class="navbar navbar-default navbar-fixed-top snac-toolbar">
    <div class="container">
        <div class="navbar snac-toolbar-inner">
            <ul class="nav navbar-nav">
                <li class="highlight toolbar-save"><a href="#" id="save_and_continue"><span class="glyphicon glyphicon-floppy-disk"></span> Save</a></li>
                <li class="highlight toolbar-dashboard"><a href="#" id="save_and_dashboard"><span class="glyphicon glyphicon-floppy-saved"></span> Save &amp; Dashboard</a></li>
                {% if not data.reviewNote or data.reviewNote.status == 'change locks' %}
                <li class="highlight toolbar-review"><a href="#" data-toggle="modal" data-target="#sendReviewPane"><span class="glyphicon glyphicon-send"></span> Send for Review</a></li>
                {% endif %}
                {% if data.reviewNote.userName and permissions.ChangeLocks and data.reviewNote.status == 'needs review' %}
                <li class="highlight toolbar-send"><a href="#" id="save_and_send_back"><span class="fa fa-fw fa-paper-plane fa-flip-horizontal"></span> Send to Editor</a></li>
                {% endif %}
                {% if permissions.Publish %}
                <li class="highlight toolbar-publish"><a href="#" id="save_and_publish"><span class="glyphicon glyphicon-floppy-open"></span> Publish</a></li>
                {% endif %}
                <li class="highlight toolbar-cancel"><a href="#" id="cancel"><span class="glyphicon glyphicon-floppy-remove"></span> Cancel</a></li>
            </ul>
            <div class="navbar-right">
                <ul class="nav navbar-nav">
                    {% if data.reviewNote.userName and permissions.ChangeLocks and data.reviewNote.status == 'needs review' %}
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                            <i class="fa fa-fw fa-sticky-note-o" aria-hidden="true"></i> Review <span class="caret"></span></a>
                        <div class="dropdown-menu dropdown-menu-right">
                            <div class="panel-body snac-toolbar-info form-horizontal">
                                <h4>Reviewer's Notebook</h4>
                                <textarea id="reviewerNotebook" class='panel panel-default panel-body' style='width: 100%' placeholder="You may write an optional note to the editor here..."></textarea>
                            </div>
                        </div>
                    </li>
                    {% endif %}
                    {% if data.reviewNote %}
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                            <i class="fa fa-fw fa-sticky-note" aria-hidden="true"></i> Notes <span class="caret"></span></a>
                        <div class="dropdown-menu dropdown-menu-right">
                            <div class="panel-body snac-toolbar-info form-horizontal">
                                <h4>
                                    {% if data.reviewNote.status == 'needs review' %}
                                        Editor's Note
                                    {% elseif data.reviewNote.status == 'change locks' %}
                                        Reviewer's Note
                                    {% else %}
                                        User Note
                                    {% endif %}
                                </h4>
                                <p>{{data.reviewNote.note}}</p>
                                <p class="small text-right">{{data.reviewNote.fullName}} ({{data.reviewNote.userName}})</p>
                            </div>
                        </div>
                    </li>
                    {% endif %}
                    <li class="dropdown">
                        <a id="info-dropdown" href="#" class="dropdown-toggle" role="button" aria-haspopup="true" aria-expanded="false">
                            <i class="fa fa-fw fa-info" aria-hidden="true"></i> Info <span class="caret"></span></a>
                        <div class="dropdown-menu dropdown-menu-right">
                            <div class="panel-body snac-toolbar-info form-horizontal">
                                <div class="form-group">
                                    <label for="ark" class="control-label col-xs-4" data-content="{{X.ark.tooltip}}" data-toggle="popover" data-placement="top">
                                        {{ X.ark.display }}
                                    </label>
                                    <div class="col-xs-8">
                                        <p class="form-control-static">{{ data.ark ?: 'pending'}}</p>
                                    </div>
                                    <input id="ark" name="ark" type="hidden" value="{{ data.ark }}"/>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-xs-4">
                                        Ark ID
                                    </label>
                                    <div class="col-xs-8">
                                        <p class="form-control-static">{{data.ark ? data.ark|replace({'http://n2t.net/ark:/99166/': ''}) : 'pending'}}</p>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-xs-4">
                                        SNAC ID
                                    </label>
                                    <div class="col-xs-8">
                                        <p class="form-control-static">{{ data.id ?: 'pending' }}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="alert alert-01 alert-warning" id="notification-message" style="display: none">
        <p>Saving Constellation...</p>
    </div><!-- end alert -->
    <div class="alert alert-01 alert-success" id="success-message" style="display: none">
        <p>Successfully saved!</p>
    </div><!-- end alert -->
    <div class="alert alert-01 alert-danger" id="error-message"  style="display: none">
        <p>An error occured while saving</p>
    </div><!-- end alert -->
</nav>

</div>

<div class="container snac" role="main">

    <form class="form-horizontal" id="constellation_form">
        {% if data.id or data.nameEntries.0.original %}
            <h1><span id="page_heading">{{data.nameEntries.0.original}}</span> <i class="fa fa-pencil" aria-hidden="true"></i></h1>
        {% else %}
            <h1><span id="page_heading">New Constellation</span> <i class="fa fa-pencil" aria-hidden="true"></i></h1>
        {% endif %}

        <!-- Constellation Data -->
        <input id="constellationid" name="constellationid" type="hidden" value="{{ data.id }}"/>
        <input id="version" name="version" type="hidden" value="{{ data.version }}"/>
        <input id="operation" name="operation" type="hidden" value="{{ data.operation }}"/>
        <input id="reviewer" name="reviewer" type="hidden" value=""/>
        <input id="editor" name="editor" type="hidden" value="{{data.reviewNote.userName}}"/>
        <input id="reviewmessage" name="reviewmessage" type="hidden"/>


        <div class="row">
            <div class="col-md-12">

                <!-- Nav tabs -->
                {{ components.displayEditTabs(X, false) }}

                <div class="tab-content">

                    <div class="tab-pane active" id="nameEntries">
                        <h2>Name Entries</h2>

                        <div class="panel panel-default">
                        	<div class="panel-heading">Information</div>
                            <div class="panel-body">
                                <div class="col-xs-10">
                                    <div class="form-group">
                                        <label for="entityType" class="control-label col-xs-4" data-content="{{X.entitytype.tooltip}}" data-toggle="popover" data-placement="top">
                                            {{X.entitytype.display}} <span style="color: #b40404">*</span>
                                        </label>
                                        <div class="col-xs-8">
                                            <select id="entityType" name="entityType" class="form-control">
                                                <option></option>
                                                <option value="{{data.entityType.id}}" selected>{{data.entityType.term}}</option>
                                            </select>
                                        </div>
                                    </div>
                                    <!--
                                    <div class="form-group">
                                        <label for="entityType" class="control-label col-xs-4"  data-content="{{X.snaccontrolmetadata.tooltip}}" data-toggle="popover" data-placement="top">
                                            {{X.snaccontrolmetadata.display}}
                                        </label>
                                        <div class="col-xs-8">
                                            <button type="button" class="btn btn-default" onClick="$('#sources-tab').click();">
                                                Sources
                                            </button>
                                        </div>
                                    </div>
                                    -->
                                </div>
                                {{ widgets.scmModal(X, true, true, 'constellation', '1', 'Basic Info', "Constellation", data) }}
                            </div>
                        </div>

                        <div class="panel panel-default">
                        	<div class="panel-heading">Name Entries <span style="color: #b40404">*</span></div>
                            <div class="panel-body" id="nameEntry_pane">
                                <div class="form-group" id="add_nameEntry_div">
                                    <div class="col-xs-12 text-center">
                                        <button class="btn btn-success" id="btn_add_nameEntry"><span class="glyphicon glyphicon-plus"></span> Add New Name Entry</button>
                                    </div>
                                </div>

                                {% set i = 0 %}
                                {% set isPrimary = true %}
                                {% for nameEntry in data.nameEntries %}
                                    {% set isPrimary = (nameEntry.preferenceScore == '99') %}
                                    {{ components.displayNameEntry(X, true, true, nameEntry, i, isPrimary) }}
                                {% set i = i + 1 %}
                                {% endfor %}
                                <span id='next_nameEntry_i' style='display:none;'>{{i}}</span>
                            </div>
                        </div>


                    </div>

                    <div class="tab-pane" id="genders">
                        <div class="loading-box text-center">
                            <p><i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i></p>
                            <p>Loading ...</p>
                        </div>
                    </div>

                    <div class="tab-pane" id="dates">
                        <div class="loading-box text-center">
                            <p><i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i></p>
                            <p>Loading ...</p>
                        </div>
                    </div>


                    <div class="tab-pane" id="biogHists" style='height: auto'>
                        <div class="loading-box text-center">
                            <p><i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i></p>
                            <p>Loading ...</p>
                        </div>
                    </div>

                    <div class="tab-pane" id="sameAs">
                        <div class="loading-box text-center">
                            <p><i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i></p>
                            <p>Loading ...</p>
                        </div>
                    </div>

                    <div class="tab-pane" id="entityID">
                        <div class="loading-box text-center">
                            <p><i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i></p>
                            <p>Loading ...</p>
                        </div>
                    </div>

                    <div class="tab-pane" id="sources">
                        <div class="loading-box text-center">
                            <p><i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i></p>
                            <p>Loading ...</p>
                        </div>
                    </div>

                    <div class="tab-pane" id="resourceRelations">
                        <div class="loading-box text-center">
                            <p><i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i></p>
                            <p>Loading ...</p>
                        </div>
                    </div>

                    <div class="tab-pane" id="constellationRelations">
                        <div class="loading-box text-center">
                            <p><i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i></p>
                            <p>Loading ...</p>
                        </div>
                    </div>


                    <div class="tab-pane" id="languagesUsed">
                        <div class="loading-box text-center">
                            <p><i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i></p>
                            <p>Loading ...</p>
                        </div>
                    </div>

                    <div class="tab-pane" id="subjects">
                        <div class="loading-box text-center">
                            <p><i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i></p>
                            <p>Loading ...</p>
                        </div>
                    </div>

                    <div class="tab-pane" id="nationalities">
                        <div class="loading-box text-center">
                            <p><i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i></p>
                            <p>Loading ...</p>
                        </div>
                    </div>

                    <div class="tab-pane" id="activities">
                        <div class="loading-box text-center">
                            <p><i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i></p>
                            <p>Loading ...</p>
                        </div>
                    </div>

                    <div class="tab-pane" id="occupations">
                        <div class="loading-box text-center">
                            <p><i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i></p>
                            <p>Loading ...</p>
                        </div>
                    </div>

                    <div class="tab-pane" id="legalStatuses">
                        <div class="loading-box text-center">
                            <p><i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i></p>
                            <p>Loading ...</p>
                        </div>
                    </div>

                    <div class="tab-pane" id="places">
                        <div class="loading-box text-center">
                            <p><i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i></p>
                            <p>Loading ...</p>
                        </div>
                    </div>

                    <div class="tab-pane" id="conventionDeclarations">
                        <div class="loading-box text-center">
                            <p><i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i></p>
                            <p>Loading ...</p>
                        </div>
                    </div>

                    <div class="tab-pane" id="generalContexts">
                        <div class="loading-box text-center">
                            <p><i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i></p>
                            <p>Loading ...</p>
                        </div>
                    </div>

                    <div class="tab-pane" id="structureOrGenealogies">
                        <div class="loading-box text-center">
                            <p><i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i></p>
                            <p>Loading ...</p>
                        </div>
                    </div>

                    <div class="tab-pane" id="mandates">
                        <div class="loading-box text-center">
                            <p><i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i></p>
                            <p>Loading ...</p>
                        </div>
                    </div>



                </div>
            </div>
        </form>
    </div>

    <div id="hidden_field_options" style="display:none">
        <div id="gender_template" style="display:none">
        {{ components.displayGender(X, true, true, null, 'ZZ') }}
        </div>
        <div id="nameEntry_template" style="display:none">
        {{ components.displayNameEntry(X, true, true, null, 'ZZ', false) }}
        </div>
        <div id="sameAs_template" style="display:none">
        {{ components.displaySameAs(X, true, true, null, 'ZZ') }}
        </div>
        <div id="entityID_template" style="display:none">
        {{ components.displayEntityID(X, true, true, null, 'ZZ') }}
        </div>
        <div id="source_template" style="display:none">
        {{ components.displaySource(X, true, true, null, 'ZZ') }}
        </div>
        <div id="resource_template" style="display:none">
        {{ components.displayResource(X, true, true, null, 'ZZ') }}
        </div>
        <div id="resourceRelation_template" style="display:none">
        {{ components.displayResourceRelation(X, true, true, null, 'ZZ', data.entityType.term, data.nameEntries.0.original) }}
        </div>
        <div id="constellationRelation_template" style="display:none">
        {{ components.displayConstellationRelation(X, true, true, null, 'ZZ', data.entityType.term, data.nameEntries.0.original, false, control) }}
        </div>
        <div id="language_template" style="display:none">
        {{ components.displayLanguageUsed(X, true, true, null, 'ZZ') }}
        </div>
        <div id="subject_template" style="display:none">
        {{ components.displaySubject(X, true, true, null, 'ZZ') }}
        </div>
        <div id="nationality_template" style="display:none">
        {{ components.displayNationality(X, true, true, null, 'ZZ') }}
        </div>
        <div id="activity_template" style="display:none">
        {{ components.displayActivity(X, true, true, null, 'ZZ') }}
        </div>
        <div id="occupation_template" style="display:none">
        {{ components.displayOccupation(X, true, true, null, 'ZZ') }}
        </div>
        <div id="legalStatus_template" style="display:none">
        {{ components.displayLegalStatus(X, true, true, null, 'ZZ') }}
        </div>
        <div id="place_template" style="display:none">
        {{ components.displayPlace(X, true, true, null, 'ZZ') }}
        </div>
        <div id="conventionDeclaration_template" style="display:none">
        {{ components.displayConventionDeclaration(X, true, true, null, 'ZZ') }}
        </div>
        <div id="generalContext_template" style="display:none">
        {{ components.displayGeneralContext(X, true, true, null, 'ZZ') }}
        </div>
        <div id="structureOrGenealogy_template" style="display:none">
        {{ components.displayStructureOrGenealogy(X, true, true, null, 'ZZ') }}
        </div>
        <div id="mandate_template" style="display:none">
        {{ components.displayMandate(X, true, true, null, 'ZZ') }}
        </div>
        <div id="exist_date_template" style="display:none">
        {{ dates.dateEntry(X, true, true, 'Exist Dates', 'exist', null, 'ZZ', false) }}
        </div>
        <div id="exist_dateRange_template" style="display:none">
        {{ dates.dateRangeEntry(X, true, true, 'Exist Dates', 'exist', null, 'ZZ', false) }}
        </div>
        <div id="sub_date_template" style="display:none">
        {{ dates.dateEntry(X, true, true, 'Date', 'SHORT_date_XX', null, 'ZZ', true) }}
        </div>
        <div id="sub_dateRange_template" style="display:none">
        {{ dates.dateRangeEntry(X, true, true, 'Date Range', 'SHORT_date_XX', null, 'ZZ', true) }}
        </div>
        <div id="scm_template" style="display:none">
        {{ components.displaySCM(X, true, true, 'SHORT', 'ZZ', 'YY', null) }}
        </div>
        <div id="component_template" style="display:none">
        {{ components.displayComponent(X, true, true, null, 'ZZ', 'YY') }}
        </div>
        <div id="rule_template" style="display:none">
        {{ components.displayNameRule(X, true, true, null, 'ZZ', 'YY') }}
        </div>
        <div id="addressline_template" style="display:none">
        {{ components.displayAddressLine(X, true, true, null, 'ZZ', 'YY') }}
        </div>
        <div id="originationName_template" style="display:none">
        {{ components.displayResourceOriginationName(X, true, true, null, 'ZZ', 'YY') }}
        </div>
    </div>

    {% include '_send_review_pane.html' %}

<div class="modal fade" id="previewPane" tabindex="-1" role="dialog" aria-labelledby="previewPane">
    <div class="modal-dialog" role="document" style="width:90%;">
        <div class="modal-content">
            <div class="modal-header primary">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="previewLabel">Preview</h4>
            </div>
            <div class="modal-body" id="previewPaneContent">

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary"  data-dismiss="modal">Done</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="relationSearchPane" tabindex="-1" role="dialog" aria-labelledby="relationSearchPane">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header primary">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="relationSearchLabel">Choose Relationship</h4>
            </div>
            <div class="modal-body" id="relationSearchPaneContent">
                <form class="form-horizontal" id="relation_search_form" onsubmit="return false;">
                    <div class="modal-body">
                        <p>Use the search box below to find a Constellation.  Select one by using the radio button to the left. You may view any constellation
                        by choosing the "View" link next to the ARK</p>
	                    <input type="hidden" id="relation-search-count" name="count" value="10">
	                    <input type="hidden" id="relation-search-start" name="start" value="0">
	                    <div class="form-group">
	                        <input type="text" class="form-control"
	                            placeholder="Search for..." id="relation-searchbox" name="term">
	                    </div>

	                    <div id="relation-results-box">
	                    </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">Cancel</span></button>
                <button type="button" class="btn btn-primary" id="btn_create_constellationRelation" data-dismiss="modal">Create Relation</button>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="resourceSearchPane" tabindex="-1" role="dialog" aria-labelledby="resourceSearchPane">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header primary">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="resourceSearchLabel">Search Resources</h4>
            </div>
            <div class="modal-body" id="resourceSearchPaneContent">
                <form class="form-horizontal" id="resource_search_form" onsubmit="return false;">
                    <div class="modal-body">
	                    <input type="hidden" id="resource-search-count" name="count" value="10">
                        <p>Type or paste the unique URL for the resource in the box below.  If we have a cached copy of the resource, select the version you want to reference by using the radio button to the left, then click "Continue."  If the resource you are looking for is not found, choose "Create New Resource."</p>
                        <div class="input-group">
	                        <input type="text" class="form-control"
	                            placeholder="Resource URL or Title..." id="resource-searchbox" name="term">
                                <span class="input-group-btn">
                                    <button class="btn btn-default" type="submit" id="resource-searchbutton"><i class="fa fa-search" aria-hidden="true"></i></button>
                                </span>
	                    </div>

	                    <div id="resource-results-box">
	                    </div>
                        <div style="text-align: center; margin-top: 10px;">
                            <p>OR</p>
                            <button type="button" class="btn btn-success" id="btn_open_create_resource" data-dismiss="modal">Create New Resource</button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">Cancel</span></button>
                <button type="button" class="btn btn-primary" id="btn_create_resourceRelation" data-dismiss="modal">Continue</button>
            </div>
        </div>
    </div>
</div>



<div class="modal fade" id="resourceCreatePane" tabindex="-1" role="dialog" aria-labelledby="resourceCreatePane" data-backdrop="static">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header primary">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="resourceCreateLabel">Create Resource</h4>
            </div>
            <div class="modal-body" id="resourceCreatePaneContent">
                <form class="form-horizontal" id="resource_create_form" onsubmit="return false;">
                    <div class="modal-body">
                        <p>Use the form below to create a new resource and then press "Continue" to continue creating a new resource relation.</p>
	                    <div id="resource-create-box">
	                    </div>
                        {% import "resources/_resource_form.html" as resources %}
                        <div class="panel panel-body">
                            {{ resources.expandedResourceRepositorySearch() }}
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">Cancel</span></button>
                <button type="submit" form="resource_create_form" class="btn btn-primary" id="btn_create_resource">Continue</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="geoPlaceInfoPane" tabindex="-1" role="dialog" aria-labelledby="geoPlaceInfoPane">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header primary">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="geoPlaceInfoPaneLabel">GeoPlace Information</h4>
            </div>
            <div class="modal-body" id="geoPlaceInfoPaneContent">
                <div class="geoplace-map" id="geoPlaceMap"></div>
                <div id="geoPlaceInfo"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">Done</span></button>
            </div>
        </div>
    </div>
</div>

{% include '_name_parser.html' %}


    </div>
    {{ footer(X, user, permissions, control) }}
    </body>
    </html>
