<!DOCTYPE html>
<html>
<head>
<title>{{data.constellation.nameEntries.0.original}} - History - Social Networks and Archival Context</title>

<!-- JQuery -->
<script src="//code.jquery.com/jquery-2.1.4.min.js"></script>

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css" integrity="sha384-aUGj/X2zp5rLCbBxumKTCw2Z50WgIr1vs/PFN4praOTvYXWlVyh2UtNUU0KAUhAX" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" integrity="sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ==" crossorigin="anonymous"></script>

<!-- Helper Scripts -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.7.5/js/bootstrap-select.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.7.5/css/bootstrap-select.min.css">
<script language="javascript">
$('.selectpicker').selectpicker();
</script>

<!-- Select Upgrades -->
<link href="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.2-rc.1/css/select2.min.css" rel="stylesheet" />
<script src="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.2-rc.1/js/select2.min.js"></script>
<link rel="stylesheet" href="css/select2-bootstrap.min.css">

<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

<!-- Datatables -->
<link rel="stylesheet" href="//cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css">
<script src="//cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>

<!-- SNAC Styles -->
<link rel="stylesheet" href="css/snac.css{{control.noCache}}">

<!-- SNAC Javascript -->
<script src="javascript/admin.js{{control.noCache}}"></script>
<script src="javascript/save_actions.js{{control.noCache}}"></script>
<script src="javascript/select_loaders.js{{control.noCache}}"></script>
<script src="javascript/scripts.js{{control.noCache}}"></script>
<script src="javascript/relation_search.js{{control.noCache}}"></script>
<script src="javascript/html2canvas.js{{control.noCache}}"></script>
<script src="javascript/feedback.js{{control.noCache}}"></script>


<script>

$(document).ready(function() {

    // Use select2 to display the select dropdowns
    // rather than the HTML default
    $("select").each(function() {
        select_replace_simple($(this));
    });

    // Load the table into a datatable
    $('.table').DataTable({ordering: false});
});
</script>
</head>
<body role="document">
{% from 'page_navigation.html' import topNavigation,footer %}
{{ topNavigation(X, user, permissions, control) }}


<div class="container snac" role="main">
    <h1>{{data.constellation.nameEntries.0.original}}</h1>

    <!-- Constellation Data -->
    <input id="constellationid" name="constellationid" type="hidden" value="{{ data.constellation.id }}"/>
    <input id="version" name="version" type="hidden" value="{{ data.constellation.version }}"/>

    <div class="row">
        <div class="col-md-12">
            {% from 'widgets.html' import displayBiographicalExcerpt %}
            {% if data.constellation.biogHists.0.text %}
            <div class="well well-lg">
                {{ displayBiographicalExcerpt(data.constellation) }}
            </div>
            {% endif %}

            <h2>Version History</h2>

            <table class="table">
                <thead>
                    <tr>
                        <th>Publication Date</th>
                        <th>Publishing Account</th>
                        <th>Status</th>
                        <th>Note</th>
                        <th>View</th>
                    </tr>
                </thead>
                <tbody>
                    {% set i = 0 %}
                    {% for history in data.history %}
                    <tr>
                        <td><p>{{ history.date|date('Y-m-d h:m:s a') }}</a></td>
                        <td><p>{{ history.fullName }}</p></td>
                        <td><p>{{ history.status }}</p></td>
                        {% if history.data and history.status == 'ingest cpf' %}
                            <td>
                                <p>Initial ingest from EAC-CPF</p>
                            </td>
                        {% else %}
                            <td><p>{{ history.note }}</p></td>
                        {% endif %}
                        <td>
                            {% if history.data and history.status == 'ingest cpf' %}
                                <p><a href="#" class='btn btn-sm btn-warning' data-toggle="modal" data-target="#modal{{i}}">Pre-Production Data</a></p>

                                <div class="modal fade" id="modal{{i}}" tabindex="-1" role="dialog" aria-labelledby="AdditionalDetails">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                                <h4 class="modal-title" id="modal{{i}}_label">Additional Details - {{history.date|date('Y-m-d h:m:s a')}}</h4>
                                            </div>
                                            <div class="modal-body">
                                                <p>This Constellation was ingested from EAC-CPF and contains the following additional historical control information.</p>
                                                {% if history.data.maintenanceEvents %}
                                                <h5 style="font-weight: bold;">Previous Maintenance Events</h5>
                                                {% for event in history.data.maintenanceEvents %}
                                                    <p style="margin-left: 20px;">{{event.eventDateTime}} - {{event.eventType.term}}<br>
                                                        <em>{{event.agent}}</em><br>
                                                        {{event.eventDescription}}
                                                    </p>
                                                {% endfor %}
                                                {% endif %}
                                                {% if history.data.otherRecordIDs %}
                                                <h5 style="font-weight: bold;">Previous Merge Information</h5>
                                                {% for otherid in history.data.otherRecordIDs %}
                                                    <p style="margin-left: 20px;">{{otherid.uri}}<br>
                                                        <em>{{otherid.type.term}}</em>
                                                    </p>
                                                {% endfor %}
                                                {% endif %}
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% else %}
                                <p>
                                    <a class='btn btn-sm btn-info' href="?command=view&constellationid={{data.constellation.id}}&version={{history.version}}"><span class="glyphicon glyphicon-eye-open"></span> HRT</a>
                                    <a  class='btn btn-sm btn-success' href="?command=details&constellationid={{data.constellation.id}}&version={{history.version}}"><span class="glyphicon glyphicon-tasks"></span> Details</a>
                                </p>
                            {% endif %}
                        </p></td>
                    </tr>
                    {% set i = i + 1 %}
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{{ footer(X, user, permissions, control) }}
</body>
</html>
