<!DOCTYPE html>
<html>
<head>
<title>SNAC Prototype</title>

<!-- JQuery -->
<script src="//code.jquery.com/jquery-2.1.4.min.js"></script>
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css" integrity="sha384-aUGj/X2zp5rLCbBxumKTCw2Z50WgIr1vs/PFN4praOTvYXWlVyh2UtNUU0KAUhAX" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" integrity="sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ==" crossorigin="anonymous"></script>

<!-- Helper Scripts -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.7.5/js/bootstrap-select.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.7.5/css/bootstrap-select.min.css">
<script language="javascript">
$('.selectpicker').selectpicker();
</script>

<!-- Tiny MCE text editor -->
<script src="//tinymce.cachefly.net/4.2/tinymce.min.js"></script>
<script>tinymce.init({selector:'textarea', plugins:'code', min_height: 300});</script>
<style>
body {
    padding-top: 70px;
    padding-bottom: 30px;
}

.theme-dropdown .dropdown-menu {
    position: static;
    display: block;
    margin-bottom: 20px;
}

.snac > p > .btn {
    margin: 5px 0;
}

.snac .navbar .container {
    width: auto;
}

.ui-autocomplete {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  float: left;
  display: none;
  min-width: 160px;
  _width: 160px;
  padding: 4px 0;
  margin: 2px 0 0 0;
  list-style: none;
  background-color: #ffffff;
  border-color: #ccc;
  border-color: rgba(0, 0, 0, 0.2);
  border-style: solid;
  border-width: 1px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  *border-right-width: 2px;
  *border-bottom-width: 2px;

  .ui-menu-item > a.ui-corner-all {
    display: block;
    padding: 3px 15px;
    clear: both;
    font-weight: normal;
    line-height: 18px;
    color: #555555;
    white-space: nowrap;

    &.ui-state-hover, &.ui-state-active {
      color: #ffffff;
      text-decoration: none;
      background-color: #0088cc;
      border-radius: 0px;
      -webkit-border-radius: 0px;
      -moz-border-radius: 0px;
      background-image: none;
    }
  }
}
</style>

     <script>
     jQuery.fn.exists = function(){return this.length>0;}
     
     /**
      * Only load this script once the document is fully loaded
      */
      
     $(document).ready(function() {
    	 /**
        $(function() {
            $( "#searchbox" ).autocomplete({
                source: "?command=search",
                minLength: 2,
                select: function( event, ui ) {
                }
            });
        });**/
        

        // Preview button
        if($('#searchbutton').exists()) {
            $('#searchbutton').click(function(){
                // Send the data back by AJAX call
                $.post("?command=search", $("#search_form").serialize(), function (data) {
                    //var previewWindow = window.open("", "Preview");
                    //previewWindow.document.write(data);
                    
                    var html = "";
                    if (data.length > 0) {
                        html += "<h4 class='text-left'>Search Results</h4><div class='list-group text-left'>";
                        for (var key in data) {
                        	html += "<a href='?command=view&constellationid="+data[key].id+"' class='list-group-item'>"+data[key].value+"</a>";
                        }
                        html += "</div>";
                        $("#search-results-box").html(html);
                    }
                });
            });
        }
        
        var timeoutID = null;

        function searchAndUpdate() {
        	if ($("#searchbox").val() == "" || $("#searchbox").val().length < 2) {
        		$("#search-results-box").html("");
        	} else {
	            $.post("?command=search", $("#search_form").serialize(), function (data) {
	                //var previewWindow = window.open("", "Preview");
	                //previewWindow.document.write(data);
	                
	                var html = "";
                    html += "<h4 class='text-left'>Search Results</h4><div class='list-group text-left' style='margin-bottom:0px'>";
	                if (data.length > 0) {
	                    for (var key in data) {
	                        html += "<a href='?command=view&constellationid="+data[key].id+"' class='list-group-item'>"+data[key].value+"</a>";
	                    }
	                } else {
                        html += "<a href='#' class='list-group-item list-group-item-danger'>No results found.</a>";
	                }
                    html += "</div>";
                    $("#search-results-box").html(html);
	            });
        	}
        }

        $('#searchbox').keyup(function() {
          clearTimeout(timeoutID);
          var $target = $(this);
          timeoutID = setTimeout(function() { searchAndUpdate(); }, 500); 
        });
     });
        
        
     </script>

</head>
<body role="document">
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand active" href="?">SNAC</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
            <!-- {% if user.email %} -->
                <li><a href="?command=dashboard">Dashboard</a></li>
            <!-- {% endif %} -->
                <li><a href="http://snac-community.iath.virginia.edu/">Discussion</a></li>
            </ul>
            <div class="navbar-right">
            {% if user.email %}
                <ul class="nav navbar-nav">
                    <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                        <img src="{{user.avatar}}" style="width:20px; height:20px; margin-right: 10px;"> {{ user.fullName }} <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li class="disabled"><a href="#">{{ user.email }}</a></li>
                        <li><a href="?command=profile">User Profile</a></li>
                        <li role="separator" class="divider"></li>
                        <li class="dropdown-header">User Options</li>
                        <li><a href="?command=logout">Logout</a></li>
                    </ul>
                    </li>
                </ul>
            {% else %}
                <ul class="nav navbar-nav">
                    <li><a href="?command=login">Login</a></li>
                </ul>
            {% endif %}
            </div>
        </div><!--/.nav-collapse -->
    </div>
</nav>  


<div class="container snac" role="main">

		<h1>SNAC Prototype</h1>

		<form class="form-horizontal" id="search_form" onsubmit="return false;">
			<div class="well well-lg text-center">

					<div class="input-group">
						<input type="text" class="form-control"
							placeholder="Search for..." id="searchbox" name="term"> 
							<span class="input-group-btn">
							<button class="btn btn-default" type="button" id="searchbutton" name="searchbutton">Search</button>
						</span>
					</div>
					
					<div id="search-results-box">
					</div>
			</div>
		</form>

		{% if not user.email %}  
            <p class="text-center">
    <a href="?command=login" class="btn btn-lg btn-warning">Login</a>
    </p>
            {% endif %}
            
            
    <div class="row">
        <div class="col-md-4">
            <!-- Left column -->
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title">Recently Updated</h3>
                </div>
                <div class="panel-body">
                    <p>Browse interesting and recently updated Constellations.</p>
                    <div class="list-group">
                        {% for recent in data.recents %}
                        <a href="?command=view&constellationid={{recent.id}}" class="list-group-item">{{recent.nameEntry}}</a>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <!-- Middle column -->
            <div class="panel panel-warning">
                <div class="panel-heading">
                    <h3 class="panel-title">Special Constellations</h3>
                </div>
                <div class="panel-body">
                    <p>Special debugging constellations</p>
                    <div class="list-group">
                        <a href="?command=view&constellationid=57741" class="list-group-item">SNAC Test Record</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <!-- Right column -->
        </div>
    </div>
</div>
</body>
</html>
