<!DOCTYPE html>
<html>
<head>
<title>{{data.constellation.nameEntries.0.original}} - Maybe-Same - Social Networks and Archival Context</title>

<!-- JQuery -->
<script src="//code.jquery.com/jquery-2.1.4.min.js"></script>
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css" integrity="sha384-aUGj/X2zp5rLCbBxumKTCw2Z50WgIr1vs/PFN4praOTvYXWlVyh2UtNUU0KAUhAX" crossorigin="anonymous">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" integrity="sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ==" crossorigin="anonymous"></script>

<!-- Helper Scripts -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.7.5/js/bootstrap-select.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.7.5/css/bootstrap-select.min.css">
<script language="javascript">
$('.selectpicker').selectpicker();
</script>

<!-- Tiny MCE text editor -->
<script src="//tinymce.cachefly.net/4.2/tinymce.min.js"></script>
<script>
tinymce.init({
    selector:'textarea',
    min_height: 250,
    menubar: false,
    statusbar: false,
    plugins: [
        'advlist autolink lists link image charmap print preview anchor',
        'searchreplace visualblocks code fullscreen',
        'insertdatetime contextmenu paste code'
    ],
    toolbar: 'undo redo | bold italic | bullist numlist outdent indent | link',
});</script>

<!-- SNAC Stylesheet -->
<link rel="stylesheet" href="{{control.snacURL}}/css/snac.css{{control.noCache}}">

<!-- SNAC includes -->
<script src="{{control.snacURL}}/javascript/search.js{{control.noCache}}"></script>

<script>

function copyInfo(icid1, icid2, id) {
    $("#constellationid2").val(icid2);
    $("#statement").val(tinymce.get("notSameModalReason"+id).getContent());
}

function removeConsideration(icid1, icid2, id) {

    copyInfo(icid1, icid2, id);
    $("#assert").val("false");
    // Send the request by ajax
    $.post("{{control.snacURL}}/assert_notsame", $("#submitForm").serialize(), function (data) {
        // Check the return value from the ajax. If success, then go to dashboard
        console.log(data);
        if (data.result == "success") {
            // We removed from the list
            $('#notSameModal'+id).modal('toggle');
            $('#result'+id).css('opacity', '0.2');
            $('#result'+id+" .final").empty();
        } else {
            // An error occurred
        }
    });

}

function notSameAssert(icid1, icid2, id) {
    copyInfo(icid1, icid2, id);
    $("#assert").val("true");
    // Send the request by ajax
    $.post("{{control.snacURL}}/assert_notsame", $("#submitForm").serialize(), function (data) {
        // Check the return value from the ajax. If success, then go to dashboard
        console.log(data);
        if (data.result == "success") {
            // We removed from the list
            $('#notSameModal'+id).modal('toggle');
            $('#result'+id).css('opacity', '0.2');
            $('#result'+id+" .final").empty();
        } else {
            // An error occurred
        }
    });
}

</script>
<script src="{{control.snacURL}}/javascript/html2canvas.js{{control.noCache}}"></script>
<script src="{{control.snacURL}}/javascript/feedback.js{{control.noCache}}"></script>
</head>

<body role="document">

{% from 'widgets.html' import displayRelationship %}
{% from 'page_navigation.html' import topNavigation,footer %}
{{ topNavigation(X, user, permissions, control) }}



    <div class="container snac" role="main">


        <h1>Constellation Similarity Assertions</h1>
        <ol class="breadcrumb">
            <li><a href="{{control.snacURL}}/view/{{data.constellation.id}}">{{data.constellation.nameEntries.0.original}}</a></li>
            <li>Similarity Assertions</li>
        </ol>

        <!-- Constellation Data -->
        <input id="constellationid" name="constellationid" type="hidden" value="{{ data.constellation.id }}"/>
        <input id="version" name="version" type="hidden" value="{{ data.constellation.version }}"/>
        <input id="ark" name="ark" type="hidden" value="{{ data.constellation.ark }}"/>

    	<div class="well well-lg">
            <h2>
              {% if data.constellation.entityType.term == 'person' %}
               <i class="fa fa-user" aria-hidden="true"></i>
              {% elseif data.constellation.entityType.term == 'corporateBody' %}
               <i class="fa fa-building" aria-hidden="true"></i>
              {% elseif data.constellation.entityType.term == 'family' %}
               <i class="fa fa-users" aria-hidden="true"></i>
              {% endif %}
               {{data.constellation.nameEntries.0.original}}
            </h2>

            {% if data.constellation.biogHists.0.text %}
                {% from 'widgets.html' import displayBiographicalExcerpt %}
                {{ displayBiographicalExcerpt(data.constellation) }}
            {% else %}
                <p class="missing">No biographical history available for this identity.</p>
            {% endif %}

            <p><a href="{{control.snacURL}}/view/{{data.constellation.id}}" class="btn btn-primary">View Constellation</a></p>
    	</div>

        {% if data.maybeSameList %}
        <div class="row">
            <div class="col-md-12 search-results">
                <h3>Maybe-Same Assertions</h3>
                <p class="search-info">There are {{data.maybeSameList|length}} possible matching Constellations.
                </p>
                {% for maybeSame in data.maybeSameList %}
                    <div id="result{{loop.index}}">
                    <h4><a href="{{control.snacURL}}/view/{{maybeSame.constellation.id}}">{{maybeSame.constellation.nameEntries.0.original}}</a></h4>
                    <p class="identity-info">
                        <span>{{maybeSame.constellation.ark}}</span>
                        <span>({{maybeSame.constellation.entityType.term}})</span>
                    </p>
                    {% if maybeSame.constellation.biogHists.0.text %}
                        <p>{{maybeSame.constellation.biogHists.0.text | striptags | slice(0, 500)}}...</p>
                    {% else %}
                        <p class="missing">No biographical history available for this identity.</p>
                    {% endif %}
                    <p class="final" style="margin-top: 5px;">
                        <a href="{{control.snacURL}}/diff?constellationid1={{data.constellation.id}}&constellationid2={{maybeSame.constellation.id}}" class="btn-sm btn-success">Compare</a>
                        {% if data.mergeable and maybeSame.mergeable and user.email and permissions.Merge %}
                        <a href="{{control.snacURL}}/diff_merge?constellationid1={{data.constellation.id}}&constellationid2={{maybeSame.constellation.id}}" class="btn-sm btn-danger">Compare to Merge</a>
                        {% endif %}
                        {% if user.email and permissions.NotSameAssertion %}
                        <a href="#" class="btn-sm btn-warning" data-toggle="modal" data-target="#notSameModal{{loop.index}}">Mark Not Same</a>
                        {% endif %}
                    </p>
                    </div>
                    {% if user.email and permissions.NotSameAssertion %}
                    <div class="modal fade" id="notSameModal{{loop.index}}" tabindex="-1" role="dialog" aria-labelledby="notSameModalTitle{{loop.index}}">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header primary">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                    <h4 class="modal-title" id="notSameModalTitle{{loop.index}}">Mark Not Same</h4>
                                </div>
                                <div class="modal-body">
                                    {{ displayRelationship(data.constellation, maybeSame.constellation, 'not same as') }}
                                    <p style="margin-bottom: 20px;">To make an official assertion that these two Constellations should never be merged, include evidence in the text field below and choose "Make Assertion."  Evidence is required for the official assertion.  If you do not have strong enough evidence, but still think they should not be merged, instead use the "Remove from Consideration" button below.</p>
                                    <textarea id="notSameModalReason{{loop.index}}"></textarea>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-success" onClick="removeConsideration({{data.constellation.id}}, {{maybeSame.constellation.id}}, {{loop.index}});">Remove from Consideration</button>
                                    <button type="button" class="btn btn-primary" onClick="notSameAssert({{data.constellation.id}}, {{maybeSame.constellation.id}}, {{loop.index}});">Make Assertion</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                {% endfor %}

            </div>
        </div>
        {% endif %}
        {% if data.maybeSameList and data.notSameList %}
        <hr/>
        {% endif %}
        {% if data.notSameList %}
        <div class="row">
            <div class="col-md-12 search-results">
                <h3>Not-Same Assertions</h3>
                <p class="search-info">There are {{data.notSameList|length}} not-same Constellations.
                </p>
                {% for assertion in data.notSameList %}
                    <div id="result{{loop.index}}">
                    <h4><a href="{{control.snacURL}}/view/{{assertion.constellations.0.id}}">{{assertion.constellations.0.nameEntries.0.original}}</a></h4>
                    <p class="identity-info">
                        <span>{{assertion.constellations.0.ark}}</span>
                        <span>({{assertion.constellations.0.entityType.term}})</span>
                    </p>
                    {% if assertion.constellations.0.biogHists.0.text %}
                        <p class="">{{assertion.constellations.0.biogHists.0.text | striptags | slice(0, 500)}}...</p>
                    {% else %}
                        <p class="missing">No biographical history available for this identity.</p>
                    {% endif %}
                    <p class="final"><strong>Rationale:</strong> {{assertion.text|striptags}}</p>
                    </div>
                {% endfor %}

            </div>
        </div>
        {% endif %}
    </div>
    <form id="submitForm">
        <input type="hidden" name="constellationid1" id="constellationid1" value="{{data.constellation.id}}">
        <input type="hidden" name="constellationid2" id="constellationid2" value="">
        <input type="hidden" name="assertcount" id="assertcount" value="2">
        <input type="hidden" name="assert" id="assert" value="">
        <input type="hidden" name="statement" id="statement" value="">
    </form>
{{ footer(X, user, permissions, control) }}
</body>
</html>
