<!DOCTYPE html>
<html>
<head>
<title>Maybe-Same - Social Networks and Archival Context</title>

<!-- JQuery -->
<script src="//code.jquery.com/jquery-2.1.4.min.js"></script>
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css" integrity="sha384-aUGj/X2zp5rLCbBxumKTCw2Z50WgIr1vs/PFN4praOTvYXWlVyh2UtNUU0KAUhAX" crossorigin="anonymous">
<link rel="stylesheet" href="css/bootstrap.vertical-tabs.min.css">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" integrity="sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ==" crossorigin="anonymous"></script>

<!-- Helper Scripts -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.7.5/js/bootstrap-select.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.7.5/css/bootstrap-select.min.css">
<script language="javascript">
$('.selectpicker').selectpicker();
</script>

<!-- SNAC Stylesheet -->
<link rel="stylesheet" href="css/snac.css{{control.noCache}}">

<!-- SNAC includes -->
<script src="javascript/search.js{{control.noCache}}"></script>

<style>
    .tab-pane {
        border: 0px;
    }

    .data-component {
        border: 1px solid;
        width: 25px;
        height: 25px;
        display: inline-block;
        margin: 2px;
    }

    .data-component-a {
        background-color: #D07676;
        border-color: #8C2121;
    }

    .data-component-intersection {
        background-color: #A056BD;
        border-color: #6D248A;
    }

    .data-component-b {
        background-color: #5B6ECF;
        border-color: #233593;
    }

    .popover {
        max-width: none; /* Max Width of the popover (depending on the container!) */
        width: 500px;
        text-align: left;
    }

    .popover .control-label {
        min-height: 34px;
        padding-top: 7px;
        padding-bottom: 7px;
        margin-bottom: 0;
    }

</style>
</head>

<body role="document">


{% import 'edit_components.html' as components %}
{% from 'page_navigation.html' import topNavigation %}
{{ topNavigation(X, user, permissions, control) }}

{% set i = 0 %}



    <div class="container snac" role="main">


        <h1>Compare Constellations</h1>

        <!-- Constellation Data -->
        <input id="constellationid" name="constellationid" type="hidden" value="{{ data.constellation.id }}"/>
        <input id="version" name="version" type="hidden" value="{{ data.constellation.version }}"/>
        <input id="ark" name="ark" type="hidden" value="{{ data.constellation.ark }}"/>


        <div class="row">
            <div class="col-md-3">
                {{components.displayEditTabs(X, true)}}
            </div>
            <div class="col-md-9">
                <div class="tab-content">
                    <div class="tab-pane active" id="nameEntries">
                        <h2>Core Data</h2>

                        <div class="col-md-4">
                            <h3>A</h3>
                            <div>
                                {% for nameEntry in data.constellation1.nameEntries %}
                                    <div class="data-component data-component-a" id="icon_{{i}}">
                                        <div style="display:none;">
                                            {{ components.displayNameEntry(X, false, false, nameEntry, i) }}
                                        </div>
                                    </div>
                                    <script>
                                    $("#icon_{{i}}").popover({
                                            title: '',
                                            content : $("#nameEntry_datapart_{{i}}").html(),
                                            html: true,
                                            trigger: 'hover',
                                            container: 'body'
                                        });
                                    </script>
                                    {% set i = i + 1 %}
                                {% endfor %}
                            </div>
                        </div>
                        <div class="col-md-4">
                            <h3>Both</h3>
                            <div>
                                {% for nameEntry in data.intersection.nameEntries %}
                                    <div class="data-component data-component-intersection" id="icon_{{i}}">
                                        <div style="display:none;">
                                            {{ components.displayNameEntry(X, false, false, nameEntry, i) }}
                                        </div>
                                    </div>
                                    <script>
                                    $("#icon_{{i}}").popover({
                                            title: 'Name Entry',
                                            content : $("#nameEntry_datapart_{{i}}").html(),
                                            html: true,
                                            trigger: 'hover'
                                        });
                                    </script>
                                    {% set i = i + 1 %}
                                {% endfor %}
                            </div>
                        </div>
                        <div class="col-md-4">
                            <h3>B</h3>
                            <div>
                                {% for nameEntry in data.constellation2.nameEntries %}
                                    <div class="data-component data-component-b" id="icon_{{i}}">
                                        <div style="display:none;">
                                            {{ components.displayNameEntry(X, false, false, nameEntry, i) }}
                                        </div>
                                    </div>
                                    <script>
                                    $("#icon_{{i}}").popover({
                                            title: '',
                                            content : $("#nameEntry_datapart_{{i}}").html(),
                                            html: true,
                                            trigger: 'hover'
                                        });
                                    </script>
                                    {% set i = i + 1 %}
                                {% endfor %}
                            </div>
                        </div>


                    </div>


                    <div class="tab-pane" id="subjects">
                        <h2>Subjects</h2>

                        <div class="col-md-4">
                            <h3>A</h3>
                            <div>
                                {% for subject in data.constellation1.subjects %}
                                    <div class="data-component data-component-a" id="icon_{{i}}">
                                        <div style="display:none;">
                                            {{ components.displaySubject(X, false, false, subject, i) }}
                                        </div>
                                    </div>
                                    <script>
                                    $("#icon_{{i}}").popover({
                                            title: 'Subject',
                                            content : $("#subject_datapart_{{i}}").html(),
                                            html: true,
                                            trigger: 'hover',
                                            container: 'body'
                                        });
                                    </script>
                                    {% set i = i + 1 %}
                                {% endfor %}
                            </div>
                        </div>
                        <div class="col-md-4">
                            <h3>Both</h3>
                            <div>
                                {% for subject in data.intersection.subjects %}
                                    <div class="data-component data-component-intersection" id="icon_{{i}}">
                                        <div style="display:none;">
                                            {{ components.displaySubject(X, false, false, subject, i) }}
                                        </div>
                                    </div>
                                    <script>
                                    $("#icon_{{i}}").popover({
                                            title: 'Subject',
                                            content : $("#subject_datapart_{{i}}").html(),
                                            html: true,
                                            trigger: 'hover'
                                        });
                                    </script>
                                    {% set i = i + 1 %}
                                {% endfor %}
                            </div>
                        </div>
                        <div class="col-md-4">
                            <h3>B</h3>
                            <div>
                                {% for subject in data.constellation2.subjects %}
                                    <div class="data-component data-component-b" id="icon_{{i}}">
                                        <div style="display:none;">
                                            {{ components.displaySubject(X, false, false, subject, i) }}
                                        </div>
                                    </div>
                                    <script>
                                    $("#icon_{{i}}").popover({
                                            title: 'Subject',
                                            content : $("#subject_datapart_{{i}}").html(),
                                            html: true,
                                            trigger: 'hover'
                                        });
                                    </script>
                                    {% set i = i + 1 %}
                                {% endfor %}
                            </div>
                        </div>


                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
