<!DOCTYPE html>
<html>
<head>
<title>New Constellation - Editing - Social Networks and Archival Context</title>

<!-- JQuery -->
<script src="//code.jquery.com/jquery-2.1.4.min.js"></script>
<link href="//code.jquery.com/ui/1.10.1/themes/base/jquery-ui.css" type="text/css" rel="stylesheet" media="all">
<script type='text/javascript' src="//code.jquery.com/ui/1.10.1/jquery-ui.js"></script>

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css" integrity="sha384-aUGj/X2zp5rLCbBxumKTCw2Z50WgIr1vs/PFN4praOTvYXWlVyh2UtNUU0KAUhAX" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" integrity="sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ==" crossorigin="anonymous"></script>

<!-- Helper Scripts -->
<link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
<script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>

<!-- Tiny MCE text editor
<script src="//cdn.tinymce.com/4/tinymce.min.js"></script>
<script>
//tinymce.init(X, {selector:'#biogHist', plugins:'code', min_height: 300});
</script>
-->

<!-- CodeMirror XML editor -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.9.0/codemirror.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.9.0/codemirror.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.9.0/mode/xml/xml.js"></script>

<!-- Select Upgrades -->
<link href="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.2-rc.1/css/select2.min.css" rel="stylesheet" />
<script src="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.2-rc.1/js/select2.min.js"></script>
<link rel="stylesheet" href="{{control.snacURL}}/css/select2-bootstrap.min.css">

<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

<!-- SNAC Javascript -->
<script src="{{control.snacURL}}/javascript/save_actions.js{{control.noCache}}"></script>
<script src="{{control.snacURL}}/javascript/select_loaders.js{{control.noCache}}"></script>
<script src="{{control.snacURL}}/javascript/scripts.js{{control.noCache}}"></script>
<script src="{{control.snacURL}}/javascript/name_heading_punctuator.js{{control.noCache}}"></script>
<script src="{{control.snacURL}}/javascript/edit_scripts.js{{control.noCache}}"></script>
<script src="{{control.snacURL}}/javascript/relation_search.js{{control.noCache}}"></script>
<script src="{{control.snacURL}}/javascript/html2canvas.js{{control.noCache}}"></script>
<script src="{{control.snacURL}}/javascript/feedback.js{{control.noCache}}"></script>
<script src="{{control.snacURL}}/javascript/name_parser.js{{control.noCache}}"></script>

<script>
$.fn.modal.Constructor.prototype.enforceFocus = $.noop;

/**
 * Only load this script once the document is fully loaded
 */
$(document).ready(function() {

    // make the first name entry editable
    makeEditable("nameEntry", 0);
});
</script>

<!-- SNAC Stylesheet -->
<link rel="stylesheet" href="{{control.snacURL}}/css/snac.css{{control.noCache}}">

</head>
<body role="document">
{% import 'widgets.html' as widgets %}
{% import 'edit_components.html' as components %}
{% import 'date_entry.html' as dates %}


{% from 'page_navigation.html' import topNavigation,footer %}
{{ topNavigation(X, user, permissions, control) }}


<div class="container snac" role="main">

    <form class="form-horizontal" id="constellation_form" action="{{control.snacURL}}/new_edit" method="post">
        <h1>New Constellation</h1>

        <!-- Constellation Data -->
        <input id="constellationid" name="constellationid" type="hidden" value="{{ data.id }}"/>
        <input id="version" name="version" type="hidden" value="{{ data.version }}"/>
        <input id="operation" name="operation" type="hidden" value="{{ data.operation }}"/>


        <div class="row">
            <div class="col-md-8">

                <!-- Nav tabs -->
                <ul class="nav nav-tabs" role="tablist">
                    <li class="active"><a href="#nameEntries" role="tab" data-toggle="tab">Basic Info</a></li>


                </ul>

                <div class="tab-content">

                    <div class="tab-pane active" id="nameEntries">
                        <h2>Basic Information</h2>

                        <div class="well well-lg">
                            <p><span style="font-weight: bold;">Instructions: </span> To create a new constellation, first
                                enter the <em>Entity Type</em> and one <em>Name Entry</em> (required).  After that, we'll check
                                to make sure that the constellation doesn't already exist in SNAC.  If you are sure at that point,
                                we'll copy over your work here into the new constellation.</p>
                        </div>

                        <div class="panel panel-default">
                        	<div class="panel-heading">Information</div>
                            <div class="panel-body">
                                <div class="col-xs-10">
                                    <div class="form-group">
                                        <label for="entityType" class="control-label col-xs-4" data-content="{{X.entitytype.tooltip}}" data-toggle="popover" data-placement="top">
                                            {{X.entitytype.display}} <span style="color: #b40404">*</span>
                                        </label>
                                        <div class="col-xs-8">
                                            <select id="entityType" name="entityType" class="form-control">
                                                <option></option>
                                                <option value="{{data.entityType.id}}" selected>{{data.entityType.term}}</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="panel panel-default">
                        	<div class="panel-heading">Name Entries <span style="color: #b40404">*</span></div>
                            <div class="panel-body" id="nameEntry_pane">

                                {% set i = 0 %}
                                {% for nameEntry in data.nameEntries %}
                                    {{ components.displayNameEntry(X, true, false, nameEntry, i, false) }}
                                {% set i = i + 1 %}
                                {% endfor %}
                                <span id='next_nameEntry_i' style='display:none;'>{{i}}</span>
                            </div>
                        </div>


                    </div>
                </div>
            </div>
            <div class="col-md-4">
                    <!-- Right Column -->

                    <div class="alert alert-01 alert-warning" id="notification-message" style="display: none">
                        <p>Saving Constellation...</p>
                    </div><!-- end alert -->
                    <div class="alert alert-01 alert-success" id="success-message" style="display: none">
                        <p>Successfully saved!</p>
                    </div><!-- end alert -->
                    <div class="alert alert-01 alert-danger" id="error-message"  style="display: none">
                        <p>An error occured while saving</p>
                    </div><!-- end alert -->

                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h3 class="panel-title">User Actions</h3>
                        </div>
                        <div class="panel-body">
                            <p>You may perform any of the following actions on this constellation.</p>
                            <div class="list-group">
                                <a href="#" class="list-group-item list-group-item-info" id="continue_and_reconcile"><i class="fa fa-fw fa-floppy-o"></i> Continue <span class="pull-right fa fa-fw fa-question-circle" title="Help" data-content="Attempt to create a constellation with this information" data-toggle="popover" data-placement="top"></span></a>
                                <a href="#" class="list-group-item list-group-item-danger" id="cancel"><i class="fa fa-fw fa-times-circle"></i> Cancel <span class="pull-right fa fa-fw fa-question-circle" title="Help" data-content="Cancel and do not continue working on this constellation." data-toggle="popover" data-placement="top"></span></a>
                            </div>

                            <textarea id="savemessage" name="savemessage" class='panel panel-default panel-body' style='width: 100%' placeholder="You may write an optional save log message here..."></textarea>
                        </div>
                    </div>
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h3 class="panel-title">Identity Constellation Identifier(s)</h3>
                        </div>
                        <div class="panel-body">
                            <div class="form-group">
                                <label for="ark" class="control-label col-xs-3" data-content="{{X.ark.tooltip}}" data-toggle="popover" data-placement="top">
                                    {{ X.ark.display }}
                                </label>
                                <div class="col-xs-9">
                                    <p class="form-control-static">New Constellation</p>
                                </div>
                                <input id="ark" name="ark" type="hidden" value="{{ data.ark }}"/>
                            </div>
                        </div>
                    </div>

                    {% if debug %}
                    <div class="panel panel-danger">
                        <div class="panel-heading">
                            <h3 class="panel-title">Debugging</h3>
                        </div>
                        <div class="panel-body">
                            <p>The following are debugging options.</p>
                            <div class="list-group">
                                <a href="#" class="list-group-item list-group-item-danger" data-toggle="modal" data-target="#sourceConstellation"><i class="fa fa-fw fa-eye"></i> View Constellation</a>
                                <a href="#" class="list-group-item list-group-item-danger" data-toggle="modal" data-target="#serverResponse"><i class="fa fa-fw fa-align-left"></i> View Full Server Response</a>
                            </div>
                        </div>
                    </div>

                    <div class="modal fade" id="sourceConstellation" tabindex="-1" role="dialog" aria-labelledby="sourceConstellationLabel">
                        <div class="modal-dialog" role="document" style="width:90%;">
                            <div class="modal-content">
                                <div class="modal-header primary">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                    <h4 class="modal-title" id="sourceConstellationLabel">Constellation Source (JSON)</h4>
                                </div>
                                <div class="modal-body">
                                    <pre>{{debug.constellationSource}}
                                    </pre>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-primary"  data-dismiss="modal">Done</button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="modal fade" id="serverResponse" tabindex="-1" role="dialog" aria-labelledby="serverResponseLabel">
                        <div class="modal-dialog" role="document" style="width:90%;">
                            <div class="modal-content">
                                <div class="modal-header primary">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                    <h4 class="modal-title" id="serverResponseLabel">Server Response (JSON)</h4>
                                </div>
                                <div class="modal-body">
                                    <pre>{{debug.serverResponse}}
                                    </pre>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-primary"  data-dismiss="modal">Done</button>
                                </div>
                            </div>
                        </div>
                    </div>

                    {% endif %}

                </div>
            </div>
        </form>

        <div id="hidden_field_options" style="display:none">
            <div id="component_template" style="display:none">
                {{ components.displayComponent(X, true, true, null, 'ZZ', 'YY') }}
            </div>
            <div id="rule_template" style="display:none">
            {{ components.displayNameRule(X, true, true, null, 'ZZ', 'YY') }}
            </div>
        </div>

        <div class="modal fade" id="reconcilePane" tabindex="-1" role="dialog" aria-labelledby="reconcilePane">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header primary">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="reconcileLabel">Reconciliation Results</h4>
                    </div>
                    <div class="modal-body" id="reconcileModalContent">

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-info" id="confirm_create_new">Create New Constellation</button> &nbsp;
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
                    </div>
                </div>
            </div>
        </div>

        {% include '_name_parser.html' %}

    </div>
    {{ footer(X, user, permissions, control) }}
    </body>
    </html>
