{% macro topNavigation(X, user, permissions, control) %}

    {% if control.interfaceVersion == "development" %}
    <nav class="navbar navbar-inverse navbar-fixed-top navbar-development-version">
    {% elseif control.interfaceVersion == "demo" %}
    <nav class="navbar navbar-inverse navbar-fixed-top navbar-demo-version">
    {% else %}
    <nav class="navbar navbar-inverse navbar-fixed-top">
    {% endif %}
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand active" href="?"><span class="snac-name-header">snac</span></a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
            <!-- {% if user.userName %} -->
                <li><a href="?command=dashboard"><i class="fa fa-tachometer" aria-hidden="true"></i> Dashboard</a></li>
            <!-- {% endif %} -->
                <li><a href="?command=search"><i class="fa fa-search" aria-hidden="true"></i> Search</a></li>
                <li><a href="http://snac-community.iath.virginia.edu/"><i class="fa fa-comments-o" aria-hidden="true"></i> Discussion</a></li>
            </ul>
            <div class="navbar-right">
                <ul class="nav navbar-nav">
                    <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                        <span class="glyphicon glyphicon-question-sign"></span> Help <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li class="disabled"><a href="#">Coming Soon</a></li>
                    </ul>
                    </li>

            <!-- {% if user.userName %} -->
                    <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                        <img src="{{user.avatar}}" style="width:20px; height:20px; margin-right: 10px;"> {{ user.fullName }} <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="?command=dashboard"><i class="fa fa-tachometer" aria-hidden="true"></i> Dashboard</a></li>
                        {% if permissions.ViewAdminDashboard %}
                        <li><a href="?command=administrator"><i class="fa fa-cogs" aria-hidden="true"></i> Administration</a></li>
                        {% endif %}
                        <li role="separator" class="divider"></li>
                        <li class="dropdown-header">User Options</li>
                        <li><a href="?command=profile"><i class="fa fa-user" aria-hidden="true"></i> User Profile</a></li>
                        <li><a href="?command=logout"><i class="fa fa-sign-out" aria-hidden="true"></i> Logout</a></li>
                    </ul>
                    </li>
            <!-- {% else %} -->
                    <li><a href="?command=login"><span class="glyphicon glyphicon-user"></span> Login</a></li>
            <!-- {% endif %}  -->
                </ul>
            </div>
        </div><!--/.nav-collapse -->
    </div>
</nav>
    {% if control.interfaceVersion == "development" %}
    <p class="snac-system-notice">This is the <b>development version</b>.  Edits made to these Constellations will not be permanent.</p>
    {% elseif control.interfaceVersion == "demo" %}
    <p class="snac-system-notice">This is the <b>demo version</b>.  Edits made to these Constellations will not be permanent.</p>
    {% endif %}
{% endmacro %}
