<!DOCTYPE html>
<html>
<head>
<title>SNAC User Profile</title>

<!-- JQuery -->
<script src="//code.jquery.com/jquery-2.1.4.min.js"></script>

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css" integrity="sha384-aUGj/X2zp5rLCbBxumKTCw2Z50WgIr1vs/PFN4praOTvYXWlVyh2UtNUU0KAUhAX" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" integrity="sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ==" crossorigin="anonymous"></script>

<!-- Helper Scripts -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.7.5/js/bootstrap-select.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.7.5/css/bootstrap-select.min.css">
<script language="javascript">
$('.selectpicker').selectpicker();
</script>

<!-- SNAC Scripts -->
<script src="javascript/profile.js"></script>

<style>
body {
    padding-top: 70px;
    padding-bottom: 30px;
}

.theme-dropdown .dropdown-menu {
    position: static;
    display: block;
    margin-bottom: 20px;
}

.snac > p > .btn {
    margin: 5px 0;
}

.snac .navbar .container {
    width: auto;
}
</style>
</head>
<body role="document">
{% from 'page_navigation.html' import topNavigation %}
{{ topNavigation(X, user) }}


<div class="container snac" role="main">
<form id="profile_form">
    <h1>User Profile: {{data.user.fullName}}</h1>
    <div class="row">
        <div class="col-md-4">
            <div class="thumbnail">
                <img src="{{data.user.avatarLarge}}" alt="avatar">
            </div>
            <h4>Options</h4>
            <div class="list-group">
                <a href="#" id="edit" class="list-group-item list-group-item-info" onClick="event.preventDefault();"><span class="glyphicon glyphicon-pencil"></span> {{ X.edit.display }}</a>
                <a href="#" id="update" class="list-group-item list-group-item-success" onClick="event.preventDefault();" style="display:none;"><span class="glyphicon glyphicon-pencil"></span> {{ X.save.display }}</a>
            </div>
        </div>
        
        <div class="col-md-8">
            <h3>Login Information</h3>
            
            <div class="form-horizontal">
                <div class="form-group">
                    <label class="control-label col-xs-2">Username</label>
                    <div class="col-xs-10" id="userNameDiv">
                        <p class="form-control-static">{{data.user.userName}}</p>
                        <input type="hidden" id="userName" name="userName" value="{{data.user.userName}}"/>
                    </div>
                </div>
                
                <div class="form-group">
                    <label class="control-label col-xs-2">Google Email</label>
                    <div class="col-xs-10" id="emailDiv">
                        <p class="form-control-static">{{data.user.email}}</p>
                        <input type="hidden" id="email" name="email" value="{{data.user.email}}"/>
                    </div>
                </div>
                
                <div class="form-group">
                    <label class="control-label col-xs-2">Password</label>
                    <div class="col-xs-10" id="passwordDiv">
                        <p class="form-control-static"><em>Google Authentication</em></p>
                    </div>
                </div>
                
                <div class="form-group">
                    <label class="control-label col-xs-2">Affiliation</label>
                    <div class="col-xs-10" id="affiliationDiv">
                        <p class="form-control-static">{{data.user.affiliation.nameEntries.0.original}}
                            {% if data.user.affiliation.ark %}
                                <br>
                                <span><em>{{data.user.affiliation.ark}} </em>
                                <a class="label label-info" target="_blank" href="?command=view&constellationid={{data.user.affiliation.id}}">View</a>
                                </span>
                            {% endif %}
                        </p>
                        <input type="hidden" id="affiliationid" name="affiliationid" value="{{data.user.affiliation.id}}"/>
                    </div>
                </div>

                <h3>Personal Information</h3>
                
                <div class="form-group">
                    <label class="control-label col-xs-2">First Name</label>
                    <div class="col-xs-10 editable" id="firstNameDiv">
                        <p class="form-control-static">{{data.user.firstName}}</p>
                        <input type="hidden" id="firstName" name="firstName" value="{{data.user.firstName}}"/>
                    </div>
                </div>
                
                <div class="form-group">
                    <label class="control-label col-xs-2">Last Name</label>
                    <div class="col-xs-10 editable" id="lastNameDiv">
                        <p class="form-control-static">{{data.user.lastName}}</p>
                        <input type="hidden" id="lastName" name="lastName" value="{{data.user.lastName}}"/>
                    </div>
                </div>
                
                <div class="form-group">
                    <label class="control-label col-xs-2">Full Name</label>
                    <div class="col-xs-10 editable" id="fullNameDiv">
                        <p class="form-control-static">{{data.user.fullName}}</p>
                        <input type="hidden" id="fullName" name="fullName" value="{{data.user.fullName}}"/>
                    </div>
                </div>
                
                <h3>Contact Information</h3>
                
                <div class="form-group">
                    <label class="control-label col-xs-2">Work Email</label>
                    <div class="col-xs-10 editable" id="workEmailDiv">
                        <p class="form-control-static">{{data.user.workEmail}}</p>
                        <input type="hidden" id="workEmail" name="workEmail" value="{{data.user.workEmail}}"/>
                    </div>
                </div>
                
                <div class="form-group">
                    <label class="control-label col-xs-2">Work Phone</label>
                    <div class="col-xs-10 editable" id="workPhoneDiv">
                        <p class="form-control-static">{{data.user.workPhone}}</p>
                        <input type="hidden" id="workPhone" name="workPhone" value="{{data.user.workPhone}}"/>
                    </div>
                </div>
            </div>  
        </div>
    </div>
</form>
</div>
</body>
</html>
