<!DOCTYPE html>
<html>
<head>
<title>SNAC Read-Only</title>

<!-- JQuery -->
<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css" integrity="sha384-aUGj/X2zp5rLCbBxumKTCw2Z50WgIr1vs/PFN4praOTvYXWlVyh2UtNUU0KAUhAX" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" integrity="sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ==" crossorigin="anonymous"></script>

<!-- Helper Scripts -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

<!-- SNAC Stylesheet -->
<link rel="stylesheet" href="{{control.snacURL}}/css/snac.css{{control.noCache}}">

<!-- SNAC Javascript -->
<script src="{{control.snacURL}}/javascript/html2canvas.js{{control.noCache}}"></script>
<script src="{{control.snacURL}}/javascript/feedback.js{{control.noCache}}"></script>

{% from 'google_analytics.html' import googleAnalytics %} {{ googleAnalytics(X, user, permissions, control) }}
</head>

<body role="document">
{% from 'page_navigation.html' import topNavigation,footer %}
{{ topNavigation(X, user, permissions, control) }}


<div class="container snac" role="main">


        <div class="row row-centered">
            <div class="col-md-2 col-centered">
                <p class="text-center" style="font-size:240px; color: #F2F5A9;"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i></p>
            </div>
			<div class="col-md-4 col-centered">
                <h2>Site Maintenance</h2>

                <p>We apologize for the inconvenience, but snac is currently in <strong>read only</strong> mode for maintenance.  System functions requiring a log-in are currently disabled.</p>

			</div>
        </div>

</div>
{{ footer(X, user, permissions, control) }}
</body>
</html>
