<!DOCTYPE html>
<html>
<head>
    <title>SNAC Admin: Report</title>

<!-- JQuery -->
<script src="//code.jquery.com/jquery-2.1.4.min.js"></script>

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css" integrity="sha384-aUGj/X2zp5rLCbBxumKTCw2Z50WgIr1vs/PFN4praOTvYXWlVyh2UtNUU0KAUhAX" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" integrity="sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ==" crossorigin="anonymous"></script>

<!-- Helper Scripts -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.7.5/js/bootstrap-select.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.7.5/css/bootstrap-select.min.css">
<script language="javascript">
$('.selectpicker').selectpicker();
</script>

<link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
<script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>

<!-- Select Upgrades -->
<link href="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.2-rc.1/css/select2.min.css" rel="stylesheet" />
<script src="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.2-rc.1/js/select2.min.js"></script>
<link rel="stylesheet" href="css/select2-bootstrap.min.css">

<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

<!-- Datatables -->
<link rel="stylesheet" href="//cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css">
<script src="//cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>


<!-- SNAC Styles -->
<link rel="stylesheet" href="css/snac.css{{control.noCache}}">



<!-- SNAC Javascript -->
<script src="javascript/admin.js{{control.noCache}}"></script>
<script src="javascript/save_actions.js{{control.noCache}}"></script>
<script src="javascript/select_loaders.js{{control.noCache}}"></script>
<script src="javascript/scripts.js{{control.noCache}}"></script>
<script src="javascript/relation_search.js{{control.noCache}}"></script>

<style>
body {
    padding-top: 70px;
    padding-bottom: 30px;
}

.theme-dropdown .dropdown-menu {
    position: static;
    display: block;
    margin-bottom: 20px;
}

.snac > p > .btn {
    margin: 5px 0;
}

.snac .navbar .container {
    width: auto;
}
</style>
</head>
<body role="document">
{% from 'page_navigation.html' import topNavigation %}
{{ topNavigation(X, user, permissions, control) }}

{% set i = 0 %}


<div class="container snac" role="main">
    {% for report in data.reports %} {# should only be one #}
    <h1>Report: {{report.title}}</h1>

    <ol class="breadcrumb">
        <li><a href="?command=administrator&subcommand=dashboard">Administrator</a></li>
        <li>Report</li>
        <li>{{report.title}}</li>
    </ol>

    <div class="row">
        <div class="col-md-12">
            <div class="well well-lg">
                <p>{{report.description}}</p>
            </div>
            
            <table id="reportTable{{i}}">
                <thead>
                    <tr>
                        <th>{{ report.headings.key ? report.headings.key : "Key" }}</th>
                        <th>{{ report.headings.value ? report.headings.value : "Value" }}</th>
                    </tr>
                </thead>
                <tbody>
                {% for x,y in report.result %}
                    <tr>
                        <td>{{x}}</td>
                        <td>
                            {% if y matches '/^\\d+$/' %}
                                {{y|number_format}}
                            {% else %}
                                {{y}}
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <script>
            $(document).ready(function() {
                var datatable = $('#reportTable{{i}}').DataTable({ "order": [], "pageLength": 50});
            });
            </script>
        </div>
    </div>
    {% endfor %}
    <div class="row">
        <div class="col-md-12">
            <p>Report last generated {{data.timestamp|date('Y-m-d h:i:sa')}}.</p>
        </div>
    </div>
</div>
</body>
</html>

