<!DOCTYPE html>
<html>
<head>
<title>{{data.nameEntries.0.original}} - Sources - Social Networks and Archival Context</title>

<!-- JQuery -->
<script src="//code.jquery.com/jquery-2.1.4.min.js"></script>

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css" integrity="sha384-aUGj/X2zp5rLCbBxumKTCw2Z50WgIr1vs/PFN4praOTvYXWlVyh2UtNUU0KAUhAX" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" integrity="sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ==" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/4.4.0/bootbox.min.js"></script>

<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

<!-- Leaflet JS Javascript and Styles-->
<link rel="stylesheet" href="https://npmcdn.com/leaflet@1.0.0-rc.3/dist/leaflet.css" />
<script src="https://npmcdn.com/leaflet@1.0.0-rc.3/dist/leaflet.js"></script>

<!-- SNAC Javascript -->
<script src="{{control.snacURL}}/javascript/html2canvas.js{{control.noCache}}"></script>
<script src="{{control.snacURL}}/javascript/feedback.js{{control.noCache}}"></script>

<script>
$.fn.modal.Constructor.prototype.enforceFocus = $.noop;
</script>

<!-- SNAC Stylesheet -->
<link rel="stylesheet" href="{{control.snacURL}}/css/snac.css{{control.noCache}}">
<style>
.panel-source {
    border-color: #666;
}
.panel-source-heading {
    background-color: #666;
    color: #fff;
}
.panel-source-title {
    font-size: 20px;
}
</style>
<meta name="viewport" content="initial-scale = 1.0" />
</head>
<body role="document">
{% import 'widgets.html' as widgets %}

{% from 'page_navigation.html' import topNavigation, footer %}
{{ topNavigation(X, user, permissions, control) }}


<div class="container snac" role="main">

    <h1>{{data.nameEntries.0.original}}</h1>
    <ol class="breadcrumb">
        <li><a href="{{control.snacURL}}/view/{{data.id}}">{{data.nameEntries.0.original}}</a></li>
        <li>Sources</li>
    </ol>

    {% for key, source in data.sources %}
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-source">
                <div class="panel-heading panel-source-heading"><h3 class="panel-title panel-source-title">{{source.displayName}}</h3></div>
                <div class="panel-body">
                    <div class="row">
                        {% if key != 0 %}
                        <div class="col-md-6">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    Source Citation
                                </div>
                                <div class="panel-body {{not source.text ? 'hidden'}}">
                                    <p class="{{not source.text ? 'hidden'}}" style="">{{source.text|e|raw|nl2br}}</p>
                                </div>
                                <div class="panel-footer">
                                    <p class="{{ not source.citation ? 'hidden'}}">{{source.citation|e}}</p>
                                    <p>
                                        {% if source.uri %}
                                        <a href="{{source.uri}}" target="_blank">{{source.uri}}</a>
                                        {% endif %}
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                        {% else %}
                        <div class="col-md-12">
                        {% endif %}
                            <h4>Citations</h4>
                            {% if source.snacControlMetadata %}
                            <div style="">
                                {% for scm in source.snacControlMetadata %}
                                <div class="panel panel-default" style="width: 45%; margin: 10px; display:inline-block; vertical-align:top;">
                                        <div class="panel-body">
                                            <h5 style="font-weight: bold;">{{scm.object}}</h5>
                                            <p>{% if scm.subCitation %}
                                                Sub-citation: {{scm.subCitation}}<br>
                                                {% endif %}
                                                {% if scm.sourceData %}
                                                Found Data: {{scm.sourceData}}<br>
                                                {% endif %}
                                                {% if scm.note %}
                                                Note: {{scm.note}}
                                                {% endif %}
                                            </p>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}

</div>
{{ footer(X, user, permissions, control) }}
</body>
</html>
