<!DOCTYPE html>
<html>
<head>
<title>Upload - Social Networks and Archival Context</title>

<!-- JQuery -->
<script src="//code.jquery.com/jquery-2.1.4.min.js"></script>

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css" integrity="sha384-aUGj/X2zp5rLCbBxumKTCw2Z50WgIr1vs/PFN4praOTvYXWlVyh2UtNUU0KAUhAX" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" integrity="sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ==" crossorigin="anonymous"></script>

<!-- Select Upgrades -->
<link href="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.2-rc.1/css/select2.min.css" rel="stylesheet" />
<script src="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.2-rc.1/js/select2.min.js"></script>
<link rel="stylesheet" href="{{control.snacURL}}/css/select2-bootstrap.min.css">

<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

<!-- Datatables -->
<link rel="stylesheet" href="//cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css">
<script src="//cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>

<!-- SNAC Styles -->
<link rel="stylesheet" href="{{control.snacURL}}/css/snac.css{{control.noCache}}">


<!-- SNAC Scripts -->
<script src="{{control.snacURL}}/javascript/html2canvas.js{{control.noCache}}"></script>
<script src="{{control.snacURL}}/javascript/feedback.js{{control.noCache}}"></script>

<script>
// We can attach the `fileselect` event to all file inputs on the page
$(document).on('change', ':file', function() {
    var input = $(this),
    numFiles = input.get(0).files ? input.get(0).files.length : 1,
    label = input.val().replace(/\\/g, '/').replace(/.*\//, '');
    input.trigger('fileselect', [numFiles, label]);
});

var lastResult = null;

// We can watch for our custom `fileselect` event like this
$(document).ready( function() {
    $(':file').on('fileselect', function(event, numFiles, label) {

        var input = $(this).parents('.input-group').find(':text'),
        log = numFiles > 1 ? numFiles + ' files selected' : label;

        if( input.length ) {
            input.val(log);
        } else {
            if( log ) alert(log);
        }

    });

    $("form#upload-form").submit(function(e) {
            e.preventDefault();
            var preview = false;
            var dump = false;
            $("#process").prop("disabled", true);
            var processURL = snacUrl+"/ingest/process";
            if ($('input[name=display_format]:checked').val() == 'preview') {
                preview = true;
                processURL = snacUrl+"/ingest/process_preview";
            }
            if ($('input[name=display_format]:checked').val() == 'previewcompare') {
                preview = true;
                processURL = snacUrl+"/ingest/process_preview_compare";
            }
            if ($('input[name=display_format]:checked').val() == 'parseonly') {
                dump = true;
                processURL = snacUrl+"/ingest/process";
            }
            var formData = new FormData(this);
            $.ajax({
                url: processURL,
                type: 'POST',
                data: formData,
                async: true,
                success: function (data) {
                    $("#process").prop("disabled", false);
                    if (dump) {
                        lastResult = JSON.stringify(data, null, 4);
                        $("#results").html();
                        $("#results").html("<a id='download' class='btn btn-info'>Download</a><br><pre>" + lastResult + "</pre>");
                        var download = $("#download");
                        download.prop('target', '_blank');
                        download.prop('download', 'parsedJSON.json');
                        var blob = new Blob([lastResult], {type: 'text/json'}); // pass a useful mime type here
                        var url = URL.createObjectURL(blob);
                        download.prop('href', url);
                    } else if (preview) {
                        lastResult = data;
                        //$("#results").html(data);
                        var blob = new Blob([lastResult], {type: 'text/html'}); // pass a useful mime type here
                        var url = URL.createObjectURL(blob);
                        var w = window.open(url);
                        //$(w.document.body).html(data);
                    }
                    //console.log(data);
                },
                cache: false,
                contentType: false,
                processData: false
            });
    });


});
</script>

</head>

<body role="document">
{% from 'page_navigation.html' import topNavigation,footer %}
{{ topNavigation(X, user, permissions, control) }}


<div class="container snac" role="main">
    <h1>Upload/Ingest</h1>


    <div class="well well-lg">
        <p><b>Instructions</b>:  Use the following form to upload EAC-CPF XML and/or Constellation JSON files for parsing.  You may upload multiple files, including mixing EAC-CPF XML and JSON.  The preview option will currently only display the first Constellation parsed from the file(s).</p>
        <p><i>You will need to disable your pop-up blocker to view the preview page.</i></p>
    </div>

    <div class="row">
        <div class="col-md-12">
            <form id="upload-form"  enctype="multipart/form-data">
                <div class="input-group">
                    <input type="text" class="form-control" value="Choose file(s) to upload and process" readonly>
                    <label class="input-group-btn">
                        <span class="btn btn-primary">
                            Browse&hellip; <input type="file" style="display: none;" name="uploads[]" multiple>
                        </span>
                    </label>
                </div>

                <div class="text-center" style="margin-top: 20px;">
                    <input type="radio" value="preview" name="display_format" id="display-format"> Preview &nbsp;&nbsp;&nbsp;&nbsp; 
                    <input type="radio" value="previewcompare" name="display_format" id="display-format"> Preview and Compare &nbsp;&nbsp;&nbsp;&nbsp; 
                    <input type="radio" value="parseonly" name="display_format" id="display-format" checked> Parse Only <br> 
                    <button type="submit" id="process" class="btn btn-success"> Process </button>
                </div>
            </form>

        </div>
    </div>
    <div class="row">
        <div class="col-md-12" id="results">
        </div>
    </div>
</div>
{{ footer(X, user, permissions, control) }}
</body>
</html>
