<!DOCTYPE html>
<html>
<head>
<title>{{data.nameEntries.0.original}} - Social Networks and Archival Context</title>

<!-- JQuery -->
<script src="//code.jquery.com/jquery-2.1.4.min.js"></script>

<!-- SNAC HRT Template code -->
<link href="css/hrt/hrt.css"
            media="all"
            rel="stylesheet"
            type="text/css"></link>
<link href="http://bioghist.s3-website-us-east-1.amazonaws.com/build/stylesheets/grunticon/icons.data.svg.css" rel="stylesheet">
<script data-xsl-asset="javascripts/modernizr.js"
        src="http://bioghist.s3-website-us-east-1.amazonaws.com/build/javascripts/modernizr.js"
        charset="utf-8"
        type="text/javascript"></script>
<style>
   .icon-ind, .icon-fam, .icon-org          { margin-left: 2px; }
   .icon-ind.x2, .icon-fam.x2, .icon-org.x2 { margin-top:  5px; }
   .sprite-icons-worldcat, .sprite-icons-wikipedia, .sprite-icons-archivegrid,
   .sprite-icons-viaf, .sprite-icons-dpla, .sprite-icons-idlocgov
   { float: left;
   margin-right: 0.33em; }
</style>

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css" integrity="sha384-aUGj/X2zp5rLCbBxumKTCw2Z50WgIr1vs/PFN4praOTvYXWlVyh2UtNUU0KAUhAX" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" integrity="sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ==" crossorigin="anonymous"></script>

<!-- Helper Scripts -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.7.5/js/bootstrap-select.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.7.5/css/bootstrap-select.min.css">

<!-- Tiny MCE text editor -->
<script src="//tinymce.cachefly.net/4.2/tinymce.min.js"></script>
<script>
//tinymce.init({selector:'#biogHist', plugins:'code', min_height: 300});
</script>

<!-- CodeMirror XML editor -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.9.0/codemirror.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.9.0/codemirror.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.9.0/mode/xml/xml.js"></script>

<!-- Select Upgrades -->
<link href="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.2-rc.1/css/select2.min.css" rel="stylesheet" />
<script src="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.2-rc.1/js/select2.min.js"></script>
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

<!-- Leaflet JS Javascript and Styles-->
<link rel="stylesheet" href="https://npmcdn.com/leaflet@1.0.0-rc.3/dist/leaflet.css" />
<script src="https://npmcdn.com/leaflet@1.0.0-rc.3/dist/leaflet.js"></script>

<!-- SNAC Styles -->
<link rel="stylesheet" href="css/snac.css{{control.noCache}}">

<!-- SNAC Javascript -->
<script src="javascript/save_actions.js{{control.noCache}}"></script>
<script src="javascript/select_loaders.js{{control.noCache}}"></script>
<script src="javascript/scripts.js{{control.noCache}}"></script>

<style>
body {
    padding-top: 70px;
    padding-bottom: 30px;
}

.theme-dropdown .dropdown-menu {
    position: static;
    display: block;
    margin-bottom: 20px;
}

.snac > p > .btn {
    margin: 5px 0;
}

.snac .navbar .container {
    width: auto;
}
.tab-pane {

    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    border-radius: 0px 0px 5px 5px;
    padding: 10px;
}

.nav-tabs {
    margin-bottom: 0;
}
</style>


</head>
<body role="document">

{% from 'page_navigation.html' import topNavigation %}
{{ topNavigation(X, user, permissions) }}


      <div class="main_content">
         <div id="identity">
            <div class="name">
               <h1 style="display:inline;">
                  <span title="authorized form of name" class="person" data-xsl="identity">{{data.nameEntries.0.original}}
                    {% if data.entityType.term == 'person' %}
                     <span class="icon-ind x2"></span>
                    {% elseif data.entityType.term == 'corporateBody' %}
                     <span class="icon-org x2"></span>
                    {% elseif data.entityType.term == 'family' %}
                     <span class="icon-fam x2"></span>
                    {% endif %}
                  </span>
               </h1>
               <a data-toggle="modal" style="display: inline; position: relative;" data-target="#alternative_names" href="#alternative_names">Alternative names</a>

               {% if data.preview %}
               <h3 style="padding-left: 30px; display: inline; color: #3c763d;"><span class='glyphicon glyphicon-eye-open'></span> Preview</h3>
               {% endif %}
            </div>
            <div>
               <div class="biog">
                  <div class="facts">
                     <div class="life">
                            <dt>Dates:</dt>
                            <dd>{{data.dates.0.fromType.term}} {{data.dates.0.fromDate}}</dd>
                            <dd>{{data.dates.0.toType.term}} {{data.dates.0.toDate}}</dd>
                        {% if data.genders.0.term.term %}
                            <dt>Gender:</dt>
                            <dd>{{data.genders.0.term.term}}</dd>
                        {% endif %}
                     </div>
                     <div>
                        <div data-xsl="authoritySource">
                           <label>Authority Source:</label>
                           <!-- TEMPLATE_SOURCE  -->
                        </div>
                        {% if data.nationalities %}
                        <div data-xsl="nationality">
                           <label>Nationality: </label>
                           {% for nat in data.nationalities %}
                                {{ nat.term.term }},
                           {% endfor %}
                        </div>
                        {% endif %}
                        {% if data.languagesUsed %}
                        <div data-xsl="language">
                           <label>Language: </label>
                            {% for lang in data.languagesUsed %}
                                {{ lang.language.description }},
                            {% endfor %}
                        </div>
                        {% endif %}
                     </div>
                  </div>
                  <h2>Biographical notes:</h2>
                  <div class="wikipedia_thumbnail" data-xsl="wikipedia_thumbnail">
                  </div>
                  <div class="biogHist">
                  {% if data.biogHists.0.text %}
                    {{ data.biogHists.0.text|replace({'<citation ':"<p class='source' ", '</citation>':"</p>"})|raw }}
                  {% else %}
                    <div class="alert alert-info">not available for this record</div>
                  {% endif %}
                  </div>
                  <br clear="both"></br>
                  <div class="well well-sm">Biographical notes are generated from
                     the bibliographic and archival source records supplied by
                     <a href="http://socialarchive.iath.virginia.edu/datacontrib.html">data contributors</a>.
                  </div>
               </div>
               <div class="relations">
                  <h2 class="tophead">Links to collections</h2>
                  <div class="related" id="related">
                     <div class="panel panel-default" data-xsl="relatedCollections">
                        <div class="panel-heading">
                           <h4>

                                        {% set numRels = 0 %}
                                        {% for relation in data.resourceRelations %}
                                        {% if relation.resource.documentType.term == 'ArchivalResource' %}
                                            {% set numRels = numRels + 1 %}
                                        {% endif %}
                                        {% endfor %}
                              <a data-toggle="collapse" data-parent="#relations" href="#relatedCollections">
                                 <i style="font-size: 80%;" class="glyphicon glyphicon-new-window"></i> Archival Collections
                                 <span class="badge pull-right">{{numRels}}</span>
                              </a>
                           </h4>
                        </div>
                        <div id="relatedCollections" class="panel-collapse collapse">
                           <div class="panel-body">
                              <div class="list">
                                 <ul class="nav nav-tabs">
                                    <li class="active">
                                       <a href="#creatorOf" data-toggle="tab">creator of</a>
                                    </li>
                                    <li>
                                       <a href="#referencedIn" data-toggle="tab">referenced in</a>
                                    </li>
                                    <li>
                                       <a href="#other" data-toggle="tab">other</a>
                                    </li>
                                 </ul>
                                 <div class="tab-content">
                                    <div class="tab-pane active list" id="creatorOf">
                                        <!--
                                       <div class="related">
                                          <a href="http://www.worldcat.org/oclc/725108369">Cleveland, Frances Folsom, 1864-1947. Frances F. Cleveland Preston letter to Mrs. Charles S. Fairchild, 1922.</a>
                                          <div>
                                             <namePart xmlns="http://www.loc.gov/mods/v3">New-York Historical Society Library</namePart>
                                          </div>
                                       </div>
                                        -->
                                        {% for relation in data.resourceRelations %}
                                        {% if relation.role.term == 'creatorOf' and relation.resource.documentType.term == 'ArchivalResource' %}
                                            <div class="related">
                                                <a href="{{relation.resource.link}}">{{relation.resource.title}}</a>
                                                <div>{{relation.role.term}}</div>
                                            </div>
                                        {% endif %}
                                        {% endfor %}
                                    </div>
                                    <div class="tab-pane list" id="referencedIn">
                                       <!--
                                          <div class="related">
                                          <a href="http://oasis.lib.harvard.edu//oasis/deliver/deepLink?_collection=oasis&amp;uniqueId=hou01429">Autograph File, F, 1447-1994.</a>
                                          <div>
                                             <repository xmlns="urn:isbn:1-931666-22-9">Houghton Library, Harvard College Library, Harvard University</repository>
                                          </div>
                                       </div>
                                       -->
                                        {% for relation in data.resourceRelations %}
                                        {% if relation.role.term == 'referencedIn' and relation.resource.documentType.term == 'ArchivalResource' %}
                                            <div class="related">
                                                <a href="{{relation.resource.link}}">{{relation.resource.title}}</a>
                                                <div>{{relation.role.term}}</div>
                                            </div>
                                        {% endif %}
                                        {% endfor %}
                                    </div>
                                    <div class="tab-pane list" id="other">
                                       <!--
                                          <div class="related">
                                          <a href="http://oasis.lib.harvard.edu//oasis/deliver/deepLink?_collection=oasis&amp;uniqueId=hou01429">Autograph File, F, 1447-1994.</a>
                                          <div>
                                             <repository xmlns="urn:isbn:1-931666-22-9">Houghton Library, Harvard College Library, Harvard University</repository>
                                          </div>
                                       </div>
                                       -->
                                        {% for relation in data.resourceRelations %}
                                        {% if relation.role.term != 'creatorOf' and relation.role.term != 'referencedIn' and relation.resource.documentType.term == 'ArchivalResource' %}
                                            <div class="related">
                                                <a href="{{relation.resource.link}}">{{relation.resource.title}}</a>
                                                <div>{{relation.role.term}}</div>
                                            </div>
                                        {% endif %}
                                        {% endfor %}
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                                        {% set numRels = 0 %}
                                        {% for relation in data.resourceRelations %}
                                        {% if relation.resource.documentType.term != 'ArchivalResource' %}
                                            {% set numRels = numRels + 1 %}
                                        {% endif %}
                                        {% endfor %}
                     <div class="panel panel-default" data-xsl="relatedWorks">
                        <div class="panel-heading">
                           <h4>
                              <a data-toggle="collapse" data-parent="#relations" href="#relatedWorks">
                                 <i style="font-size: 80%;" class="glyphicon glyphicon-new-window"></i> Related Resources
                                 <span class="badge pull-right">{{numRels}}</span>
                              </a>
                           </h4>
                        </div>
                        <div id="relatedWorks" class="panel-collapse collapse">
                           <div class="panel-body">
                              <!--
                              <div class="related">
                                 <a href="http://www.worldcat.org/search?q=ti:Charles%20S.%20Fairchild%20papers+au:Fairchild%2C%20Charles%20S.%20%28Charles%20Stebbins%29%2C%201842-1924">Charles S. Fairchild papers</a>
                                 <span class="arcrole">creatorOf</span>
                                 <div></div>
                              </div>
                              -->
                                        {% for relation in data.resourceRelations %}
                                        {% if relation.resource.documentType.term != 'ArchivalResource' %}
                                            <div class="related" style="margin-top: 5px;">
                                                <a href="{{relation.resource.link ? relation.resource.link : 'http://www.worldcat.org/search?q=ti:' ~ relation.content ~ '+au:' ~ data.nameEntries.0.original}}">{{relation.resource.title}}</a>
                                                <!--<span class="arcrole">{{relation.role.term}}</span>-->
                                                <div>{{relation.role.term}}</div>
                                                <div></div>
                                            </div>
                                        {% endif %}
                                        {% endfor %}
                           </div>
                        </div>
                     </div>
                     <div class="panel panel-default" data-xsl="linkedData">
                        <div class="panel-heading">
                           <h4>
                            {% set numRels = 2 %}
                            {% for relation in data.otherRecordIDs %}
                            {% if relation.type.term == 'sameAs' or relation.type.term == 'viafID' %}
                                {% set numRels = numRels + 1 %}
                            {% endif %}
                            {% endfor %}
                              <a data-toggle="collapse" data-parent="#relations" href="#linkedData">
                                 <i style="font-size: 80%;" class="glyphicon glyphicon-new-window"></i> Related External Links
                                 <span class="badge pull-right">{{numRels}}</span>
                              </a>
                           </h4>
                        </div>
                        <div id="linkedData" class="panel-collapse collapse">
                           <div class="panel-body">

                              <div>
                                 <div class="sprite-icons-archivegrid"></div>
                                 <a href="http://beta.worldcat.org/archivegrid/?p=1&amp;q={{data.nameEntries.0.original|replace({' ':'+'})}}">ArchiveGrid search</a>
                              </div>
                              <div>
                                 <div class="sprite-icons-dpla"></div>
                                 <a href="http://dp.la/search?utf8=%E2%9C%93&amp;q={{data.nameEntries.0.original|replace({' ':'+'})}}">DPLA search</a>
                              </div>
                        <!--
                              <div>
                                 <div class="sprite-icons-wikipedia"></div>
                                 <a href="http://en.wikipedia.org/wiki/Charles_S._Fairchild">Wikipedia</a>
                              </div>
                              <div>
                                 <div class="sprite-icons-idlocgov"></div>
                                 <a href="http://id.loc.gov/authorities/names/n88071278">LC Name Authority File</a>
                              </div>
                              <div>
                                 <div class="sprite-icons-viaf"></div>
                                 <a href="http://viaf.org/viaf/60627856">Virtual International Authority File</a>
                              </div>
                              <div>
                                 <div class="sprite-icons-worldcat"></div>
                                 <a href="http://www.worldcat.org/wcidentities/lccn-n88-071278">WorldCat Identities</a>
                              </div>
                        -->
                                        {% for sameas in data.otherRecordIDs %}
                                            {% if sameas.type.term == 'sameAs' %}
                                                {% if 'wikipedia' in sameas.uri %}
                                                   <div>
                                                     <div class="sprite-icons-wikipedia"></div>
                                                     <a href="{{sameas.uri}}">Wikipedia</a>
                                                  </div>
                                                {% elseif 'loc.gov/authorities' in sameas.uri %}
                                                   <div>
                                                     <div class="sprite-icons-idlocgov"></div>
                                                     <a href="{{sameas.uri}}">LC Name Authority File</a>
                                                  </div>
                                                {% elseif 'viaf.org' in sameas.uri %}
                                                   <div>
                                                     <div class="sprite-icons-viaf"></div>
                                                     <a href="{{sameas.uri}}">Virtual International Authority File</a>
                                                  </div>
                                                {% elseif 'worldcat.org/wcidentities' in sameas.uri %}
                                                   <div>
                                                     <div class="sprite-icons-worldcat"></div>
                                                     <a href="{{sameas.uri}}">WorldCat Identities</a>
                                                  </div>
                                                {% else %}
                                                    <div class="related">
                                                        <a href="{{sameas.uri}}">{{sameas.text|default(sameas.uri)}}</a>
                                                    </div>
                                                {% endif %}
                                            {% elseif sameas.type.term == 'viafID' %}
                                               <div>
                                                 <div class="sprite-icons-viaf"></div>
                                                 <a href="http://viaf.org/viaf/{{sameas.uri}}">Virtual International Authority File</a>
                                              </div>
                                            {% endif %}
                                        {% endfor %}
                           </div>
                        </div>
                     </div>
                     <h3>Related names in
                        <abbr class="initialism">SNAC</abbr>
                     </h3>

                        {% set numRels = 0 %}
                        {% for relation in data.relations %}
                        {% if relation.targetEntityType.term == 'person' %}
                            {% set numRels = numRels + 1 %}
                        {% endif %}
                        {% endfor %}

                     <div class="panel panel-default" data-xsl="relatedPeople">
                        <div class="panel-heading">
                           <h4>
                              <a data-toggle="collapse" data-parent="#relations" href="#relatedPeople">
                                 <span class="icon-ind"></span> People
                                 <span class="badge pull-right">{{numRels}}</span>
                              </a>
                           </h4>
                        </div>
                        <div id="relatedPeople" class="panel-collapse collapse">
                           <div class="panel-body">
                              <div class="list">
                                 <ul class="nav nav-tabs">
                                    <li class="active">
                                       <a href="#relatedPeopleDirect" data-toggle="tab">Direct</a>
                                    </li>
                                    <li>
                                       <a href="#relatedPeopleImplied" data-toggle="tab">Implied</a>
                                    </li>
                                 </ul>
                                 <div class="tab-content">
                                    <div class="tab-pane active list" id="relatedPeopleDirect">
                              <!--
                              <div class="person">
                                 <a href="/ark:/99166/w6s75kzv">Bayard, Thomas F. (Thomas Francis), 1828-1898</a>
                                 <span class="arcrole">correspondedWith</span>
                                 <div></div>
                              </div>
                              -->
                                        {% for relation in data.relations %}
                                        {% if relation.targetEntityType.term == 'person' %}
                                            <div class="person">
                                                <span class="arcrole">{{relation.type.term}}</span>
                                                <a href="?command=view&constellationid={{relation.targetConstellation}}">{{relation.content}}</a>
                                                <div></div>
                                            </div>
                                        {% endif %}
                                        {% endfor %}
                                    </div>
                                   <div class="tab-pane list" id="relatedPeopleImplied">
                                        <p class="text-center">
                                            <a href="#" id="relatedPeopleImpliedLoad" class="btn btn-primary">Load</a>
                                        </p>
                                        <p class="text-center caption">
                                            This may take some time to compute.
                                        </p>

                                   </div>
                               </div>
                           </div>
                           </div>
                        </div>
                     </div>

                        {% set numRels = 0 %}
                        {% for relation in data.relations %}
                        {% if relation.targetEntityType.term == 'family' %}
                            {% set numRels = numRels + 1 %}
                        {% endif %}
                        {% endfor %}

                     <div class="panel panel-default" data-xsl="relatedFamilies">
                        <div class="panel-heading">
                           <h4>
                              <a data-toggle="collapse" data-parent="#relations" href="#relatedFamilies">
                                 <span class="icon-fam"></span> Families
                                 <span class="badge pull-right">{{numRels}}</span>
                              </a>
                           </h4>
                        </div>
                        <div id="relatedFamilies" class="panel-collapse collapse">
                           <div class="panel-body">
                              <div class="list">
                                 <ul class="nav nav-tabs">
                                    <li class="active">
                                       <a href="#relatedFamiliesDirect" data-toggle="tab">Direct</a>
                                    </li>
                                    <li>
                                       <a href="#relatedFamiliesImplied" data-toggle="tab">Implied</a>
                                    </li>
                                 </ul>
                                 <div class="tab-content">
                                    <div class="tab-pane active list" id="relatedFamiliesDirect">
                              <!--
                              <div class="person">
                                 <a href="/ark:/99166/w6s75kzv">Bayard, Thomas F. (Thomas Francis), 1828-1898</a>
                                 <span class="arcrole">correspondedWith</span>
                                 <div></div>
                              </div>
                              -->
                                        {% for relation in data.relations %}
                                        {% if relation.targetEntityType.term == 'family' %}
                                            <div class="person">
                                                <a href="?command=view&constellationid={{relation.targetConstellation}}">{{relation.content}}</a>
                                                <span class="arcrole">{{relation.type.term}}</span>
                                                <div></div>
                                            </div>
                                        {% endif %}
                                        {% endfor %}
                                    </div>

                                   <div class="tab-pane list" id="relatedFamiliesImplied">
                                        <p class="text-center">
                                            <a href="#" id="relatedFamiliesImpliedLoad" class="btn btn-primary">Load</a>
                                        </p>
                                        <p class="text-center caption">
                                            This may take some time to compute.
                                        </p>

                                   </div>

                                </div>
                            </div>
                        </div>
                        </div>
                     </div>

                        {% set numRels = 0 %}
                        {% for relation in data.relations %}
                        {% if relation.targetEntityType.term == 'corporateBody' %}
                            {% set numRels = numRels + 1 %}
                        {% endif %}
                        {% endfor %}

                     <div class="panel panel-default" data-xsl="relatedOrganizations">
                        <div class="panel-heading">
                           <h4>
                              <a data-toggle="collapse" data-parent="#relations" href="#relatedOrganizations">
                                 <span class="icon-org"></span> Organizations
                                 <span class="badge pull-right">{{numRels}}</span>
                              </a>
                           </h4>
                        </div>
                        <div id="relatedOrganizations" class="panel-collapse collapse">
                           <div class="panel-body">
                              <div class="list">
                                 <ul class="nav nav-tabs">
                                    <li class="active">
                                       <a href="#relatedOrganizationsDirect" data-toggle="tab">Direct</a>
                                    </li>
                                    <li>
                                       <a href="#relatedOrganizationsImplied" data-toggle="tab">Implied</a>
                                    </li>
                                 </ul>
                                 <div class="tab-content">
                                    <div class="tab-pane active list" id="relatedOrganizationsDirect">
                                        {% for relation in data.relations %}
                                        {% if relation.targetEntityType.term == 'corporateBody' %}
                                            <div class="person">
                                                <a href="?command=view&constellationid={{relation.targetConstellation}}">{{relation.content}}</a>
                                                <span class="arcrole">{{relation.type.term}}</span>
                                                <div></div>
                                            </div>
                                        {% endif %}
                                        {% endfor %}
                                    </div>

                                   <div class="tab-pane list" id="relatedOrganizationsImplied">
                                        <p class="text-center">
                                            <a href="#" id="relatedOrganizationsImpliedLoad" class="btn btn-primary">Load</a>
                                        </p>
                                        <p class="text-center caption">
                                            This may take some time to compute.
                                        </p>

                                   </div>


                                </div>
                            </div>
                            </div>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="others">
                   <div class="panel panel-info" style="margin-top: 15px;">
                       <div class="panel-heading">
                           <h3 class="panel-title">Constellation Options</h3>
                       </div>
                       <div class="panel-body" style="padding: 10px; margin-bottom: 2px;">
                          <h5>Visualizations</h5>
                          <div class="list-group" style="margin-bottom: 0px;">
                                <a href="#" class="list-group-item list-group-item-success disabled" data-toggle="modal" data-target="#collection_locations" id="displayHoldingsMap"><span class="glyphicon glyphicon-globe"></span> Collection Locations</a>
                                <a class="list-group-item list-group-item-warning"
                                   href="?command=details&constellationid={{data.id}}&version={{data.version}}"><span class="glyphicon glyphicon-tasks"></span> Detailed View</a>
                          </div>
                          <h5>Export As</h5>
                          <div class="list-group" style="margin-bottom: 0px;">
                              <a href="?command=download&type=constellation_json&constellationid={{data.id}}" class="list-group-item list-group-item-download"><i class="fa fa-file" aria-hidden="true"></i></span> Constellation JSON<!--<span class="pull-right glyphicon glyphicon-question-sign" title="Help" data-content="Export the curent version of this constellation as a JSON file." data-toggle="popover" data-placement="top"></span>--></a>
                                  <a href="?command=download&type=eac-cpf&constellationid={{data.id}}" class="list-group-item list-group-item-download"><i class="fa fa-file-code-o" aria-hidden="true"></i> EAC-CPF XML<!-- <span class="pull-right glyphicon glyphicon-question-sign" title="Help" data-content="Export the curent version of this constellation as an EAC-CPF XML file." data-toggle="popover" data-placement="top"></span>--></a>
                          </div>
                      </div>
                  </div>


                  {% if user.email and (permissions.Edit or debug) %}
                   <div class="panel panel-warning" style="margin-top: 15px;">
                       <div class="panel-heading">
                           <h3 class="panel-title">Actions</h3>
                       </div>
                       <div class="panel-body" style="padding: 10px; margin-bottom: 2px;">
                           {% if user.email and permissions.Edit %}
                          <h5>Constellation Actions</h5>
                          <div class="list-group" style="margin-bottom: 0px;">
                                {% if data.status == 'editable' %}
                                <a class="list-group-item list-group-item-info"
                                   href="?command=edit&constellationid={{data.id}}&version={{data.version}}"><span class="glyphicon glyphicon-pencil"></span> Edit Constellation</a>
                                {% else %}
                                <a class="list-group-item list-group-item-danger disabled"
                                   href="#" title="Notice" data-content="This Constellation is currently being edited by someone else." data-toggle="popover" data-placement="top"><span class="glyphicon glyphicon-ban-circle"></span> Edit Constellation</a>
                                {% endif %}
                          </div>
                          {% endif %}
                          {% if false %}
                          <h5>Debug Actions</h3>
                          <div class="list-group" style="margin-bottom: 0px;">
                              <a href="#" class="list-group-item list-group-item-danger" data-toggle="modal" data-target="#serverResponse"><span class="glyphicon glyphicon-log-in"></span> View Full Server Response</a>

                          </div>
                          {% endif %}
                      </div>
                  </div>
                  {% endif %}

                  <div class="panel panel-default">
                      <div class="panel-heading">
                          <h3 class="panel-title">Constellation Information</h3>
                      </div>
                      <div class="panel-body" style="padding: 10px; margin-bottom: 2px;">
                          <dt><strong>Permalink:</strong></dt>
                          <dd>{{data.ark}}</dd>
                          <dt><strong>SNAC ID:</strong></dt>
                          <dd>{{data.id}}</dd>
                      </div>

                  </div>

                  <h4>Subjects:</h4>
                  {% if data.subjects|length > 0 %}
                    <ul>
                    <!-- {% for subject in data.subjects %} -->
                        <li>{{subject.term.term}}</li>
                    <!-- {% endfor %} -->
                    </ul>
                  {% else %}
                    <div class="alert alert-info">not available for this record</div>
                  {% endif %}

                  <h4>Occupations:</h4>
                  {% if data.occupations|length > 0 %}
                    <ul>
                    <!-- {% for occupation in data.occupations %} -->
                        <li>{{occupation.term.term}}</li>
                    <!-- {% endfor %} -->
                    </ul>
                  {% else %}
                    <div class="alert alert-info">not available for this record</div>
                  {% endif %}

              </div> <!-- end of others -->
               <div>
                  <div class="modal fade" id="alternative_names" tabindex="-1" role="dialog"
                       aria-hidden="true">
                     <div class="modal-dialog">
                        <div class="modal-content">
                           <div class="modal-header">
                              <button type="button" class="close" data-dismiss="modal" aria-labelledby="myModalLabel"
                                      aria-hidden="true">×</button>
                              <h4 class="modal-title" id="myModalLabel">Alternative Names</h4>
                           </div>
                           <div title="alternative forms of name" class="extra-names modal-body">
                              {% for nameEntry in data.nameEntries %}
                                <div>{{nameEntry.original}}</div>
                              {% endfor %}
                           </div>
                           <div class="modal-footer">
                              <button type="button" data-dismiss="modal" class="btn btn-default">Close</button>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="modal fade" id="collection_locations" tabindex="-1" role="dialog"
                       aria-hidden="true">
                     <div class="modal-dialog">
                        <div class="modal-content">
                           <div class="modal-header">
                              <button type="button" class="close" data-dismiss="modal" aria-labelledby="colLocLabel"
                                      aria-hidden="true">×</button>
                              <h4 class="modal-title" id="colLocLabel">Collection Locations</h4>
                           </div>
                           <div class="modal-body">
                              {% if data.holdings|length > 0 %}
                                  <div class="geoplace-map" id="holdingsMap">
                                  </div>
                                  <script>
                                    var holdingsMapView = null;
                                    function displayHoldingsMap() {
                                        if (holdingsMapView != null) return;
                                        // Add a slight delay to the map viewing so that the modal window has time to load
                                        setTimeout(function() {
                                            holdingsMapView = L.map('holdingsMap').setView([0,0],1);//setView([35.092344, -39.023438], 2);
                                            L.tileLayer('http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
                                                maxZoom: 19,
                                                attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
                                            }).addTo(holdingsMapView);
                                            {% for location in data.holdings %}
                                            {% if location.latitude and location.longitude %}
                                            var marker = L.marker([{{location.latitude}}, {{location.longitude}}]).addTo(holdingsMapView).bindPopup("{{location.name}}");
                                            {% endif %}
                                            {% endfor %}
                                            }, 400);
                                    }
                                    $(document).ready(function() {
                                        if ($('#displayHoldingsMap').exists()){
                                            $('#displayHoldingsMap').removeClass('disabled');
                                            $('#displayHoldingsMap').click(displayHoldingsMap);
                                        }
                                    });
                                  </script>
                                  {% for location in data.holdings %}
                                    <div>{{location.name}}</div>
                                  {% endfor %}
                              {% else %}
                                <div class="alert alert-info">no collection locations known</div>
                              {% endif %}
                           </div>
                           <div class="modal-footer">
                              <button type="button" data-dismiss="modal" class="btn btn-default">Close</button>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>

      {% if false %}
    <div class="modal fade" id="serverResponse" tabindex="-1" role="dialog" aria-labelledby="serverResponseLabel">
        <div class="modal-dialog" role="document" style="width:90%;">
            <div class="modal-content">
                <div class="modal-header primary">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="serverResponseLabel">Server Response (JSON)</h4>
                </div>
                <div class="modal-body">
                    <pre>{{debug.serverResponse}}
                    </pre>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary"  data-dismiss="modal">Done</button>
                </div>
            </div>
        </div>
    </div>
    {% endif %}


    </body>
    </html>
