<!DOCTYPE html>
<html>
<head>
<title>SNAC Vocabulary: Controlled Vocabulary Management</title>

<!-- JQuery -->
<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css" integrity="sha384-aUGj/X2zp5rLCbBxumKTCw2Z50WgIr1vs/PFN4praOTvYXWlVyh2UtNUU0KAUhAX" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" integrity="sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ==" crossorigin="anonymous"></script>

<!-- Select Upgrades -->
<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.2-rc.1/css/select2.min.css" rel="stylesheet" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.2-rc.1/js/select2.min.js"></script>
<link rel="stylesheet" href="{{control.snacURL}}/css/select2-bootstrap.min.css">

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

<!-- Datatables -->
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css">
<script src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>

<!-- SNAC Styles -->
<link rel="stylesheet" href="{{control.snacURL}}/css/snac.css{{control.noCache}}">

<!-- SNAC Javascript -->
<script src="{{control.snacURL}}/javascript/admin.js{{control.noCache}}"></script>
<script src="{{control.snacURL}}/javascript/save_actions.js{{control.noCache}}"></script>
<script src="{{control.snacURL}}/javascript/select_loaders.js{{control.noCache}}"></script>
<script src="{{control.snacURL}}/javascript/scripts.js{{control.noCache}}"></script>
<script src="{{control.snacURL}}/javascript/relation_search.js{{control.noCache}}"></script>
<script src="{{control.snacURL}}/javascript/html2canvas.js{{control.noCache}}"></script>
<script src="{{control.snacURL}}/javascript/feedback.js{{control.noCache}}"></script>


<script>

$(document).ready(function() {

    // Use select2 to display the select dropdowns
    // rather than the HTML default

        $('select').each(function() {
            $(this).select2({
                minimumResultsForSearch: Infinity,
                allowClear: false,
                theme: 'bootstrap'
            });
        });

        // Load the table into a datatable
        var datatable = $('.table').DataTable({ "searching" : false});

        $('#searchbutton').click(function() {
            console.log($("#search_form").serialize());
            $.get("{{control.snacURL}}/vocabulary?format=term&count=1000", $("#search_form").serialize(), function (data) {
                var results = [];
                console.log($("#search_form").serialize());
                console.log(data);
                datatable.clear();
                if (data.results.length > 0) {
                    var list = "";
                    for (var key in data.results) {
                        result = data.results[key];
                        var uri = result.uri;
                        if (uri == null)
                            uri = "";
                        var description = result.description;
                        if (description == null)
                            description = "";
                        var row = new Array(result.term, uri, description);
                        datatable.row.add(row);
                    }
                }
                datatable.draw();
            });
            return false;
        });

});
</script>
</head>
<body role="document">
{% from 'page_navigation.html' import topNavigation,footer %}
{{ topNavigation(X, user, permissions, control) }}


<div class="container snac" role="main">
    <h1>Vocabulary: Controlled Vocabulary Management</h1>

    <ol class="breadcrumb">
        <li><a href="{{control.snacURL}}/vocab_administrator/dashboard">Vocabulary</a></li>
        <li>Controlled Vocabulary</li>
    </ol>

    <div class="row">
        <div class="col-md-12">
            <div class="well well-lg">
                <p><span style="font-weight: bold;">Instructions: </span>Search for vocabulary to view what is currently available in the system.  Only the top 1000 results will be shown.</p>
            </div>


            <form class="form-horizontal" id="search_form" method="GET">
    			<div class="well well-lg text-center">
    					<div class="input-group select2-bootstrap-append">
                            <select id="vocabType" name="type" style="width: 18%;">
                                <option value="subject" selected>Subject</option>
                                <option value="occupation">Occupation</option>
                                <option value="activity">Activity</option>
                            </select>
    						<input type="text" class="form-control" style="width: 82%;"
    							placeholder="Search for..." id="searchbox" name="q" value="">
    							<span class="input-group-btn">
    							     <button class="btn btn-default" id="searchbutton">Search</button>
    						    </span>
    					</div>
    			</div>
    		</form>

            <div class="text-center">
                <a href="{{control.snacURL}}/vocab_administrator/add_term" class="btn btn-success">
                    <i class="fa fa-fw fa-plus"></i> Add New Vocabulary Term
                </a>
            </div>
            <div class="form-horizontal">

                <table class="table">
                    <thead>
                        <tr>
                            <th>Term</th>
                            <th>URI</th>
                            <th>Description</th>
                        </tr>
                    </thead>
                    <tbody id="vocabList">
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{{ footer(X, user, permissions, control) }}
</body>
</html>
