{% macro optionsList(short, i) %}
<div class="col-xs-2">
    <div class="list-group">
        <a href="#" id="{{short}}_scmbutton_{{i}}" class="list-group-item list-group-item-success" data-toggle="modal" data-target="#{{short}}_scm_modal_{{i}}"><span class="glyphicon glyphicon-leaf"></span> SCM</a>
        <a href="#" id="{{short}}_editbutton_{{i}}" class="list-group-item list-group-item-info" onClick="event.preventDefault();"><span class="glyphicon glyphicon-pencil"></span> Edit</a>
        <a href="#" id="{{short}}_deletebutton_{{i}}" class="list-group-item list-group-item-danger" onClick="event.preventDefault();"><span class="glyphicon glyphicon-trash"></span> Trash</a>
    </div>
</div>
{% endmacro %}

{% macro displayURI(uri) %}
    {% if uri %}
        <p class="form-control-static">uri</p>
    {% else %}
        <p class="form-control-static" style="color: #777">none</p>
    {% endif %}
{% endmacro %}

{% macro scmButton(short, i) %}
<!--<div class="col-xs-2">-->
    <button type="button" class="btn btn-default" data-toggle="modal"
    data-target="#{{short}}_scm_modal_{{i}}">
    <span class="glyphicon glyphicon-leaf"></span> SNAC Control Metadata
</button>
<!--</div>-->
{% endmacro %}

{% macro scmOptionsList(short, i, j) %}
<div class="col-xs-2">
    <div class="list-group text-center">
        <a href="#" id="scm_{{short}}_editbutton_{{j}}_{{i}}" class="list-group-item list-group-item-info" onClick="event.preventDefault(); makeSCMEditable('{{short}}', {{i}}, {{j}});"><span class="glyphicon glyphicon-pencil"></span></a>
        <a href="#" id="scm_{{short}}_deletebutton_{{j}}_{{i}}" class="list-group-item list-group-item-danger" onClick="event.preventDefault(); setSCMDeleted('{{short}}', {{i}}, {{j}});"><span class="glyphicon glyphicon-trash"></span></a>
    </div>
</div>
{% endmacro %}

{% macro scmModal(short, i, title, type, data) %}
    {% import _self as widgets %}   
    {% import 'edit_components.html' as components %}
<div class="modal fade scm-modal" id="{{short}}_scm_modal_{{i}}" tabindex="-1"
	role="dialog" aria-labelledby="{{short}}_scm_modal_label_{{i}}">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"
					aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
				<h4 class="modal-title" id="scm_{{short}}_modal_label_{{i}}">SNAC Control Metadata</h4>
			</div>
			<div class="modal-body col-xs-12">
				<ol class="breadcrumb">
					<li>{{type}}</li>
					<li>{{title}}</li>
				</ol>
				<div class="col-xs-12">
				    <div class="text-center form-group" id="add_scm_{{short}}_{{i}}_div">
					   <button class="btn btn-success" onClick="return addSCMEntry('{{short}}', {{i}});">
						  <span class="glyphicon glyphicon-plus"></span> Add New SNAC Control Metadata
					   </button>
				    </div>

                    {% set j = 0 %}
                    {% for scm in data.snacControlMetadata %}
                    
                        {{ components.displaySCM(short, i, j, scm) }}
 
                    {% set j = j + 1 %}
                    {% endfor %}
                    
                    <span id='next_scm_{{short}}_{{i}}_j' style='display:none;'>{{j}}</span>




				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-primary" data-dismiss="modal">Done</button>
			</div>
		</div>
	</div>
</div>
{% endmacro %}
