{% import 'widgets.html' as widgets %}
{% import 'edit_components.html' as components %}
{% import 'date_entry.html' as dates %}

<h2>Convention Declarations</h2>

<div class="form-group" id="add_conventionDeclaration_div">
    <div class="col-xs-12 text-center">
        <button class="btn btn-success" id="btn_add_conventionDeclaration"><span class="glyphicon glyphicon-plus"></span> Add New Convention Declaration</button>
    </div>
</div>

{% set i = 0 %}
{% for conventionDeclaration in data.conventionDeclarations %}
    {{ components.displayConventionDeclaration(X, true, true, conventionDeclaration, i) }}
    {% set i = i + 1 %}
{% endfor %}
<span id='next_conventionDeclaration_i' style='display:none;'>{{i}}</span>
