{% import '../widgets.html' as widgets %}
{% import '../edit_components.html' as components %}
{% import '../date_entry.html' as dates %}

<h2>Other Entity IDs (Same As)</h2>

<div class="form-group" id="add_entityID_div">
    <div class="col-xs-12 text-center">
        <button class="btn btn-success" id="btn_add_entityID"><span class="glyphicon glyphicon-plus"></span> Add New Entity ID</button>
    </div>
</div>


{% set i = 0 %}
{% for other in data.entityIDs %}
    {{ components.displayEntityID(X, true, true, other, i) }}
    {% set i = i + 1 %}
{% endfor %}
<span id='next_entityID_i' style='display:none;'>{{i}}</span>

