{% macro displayEditTabs(X, vertical) %}
    {% if vertical == true %}
    <ul class="nav nav-pills nav-stacked" role="tablist">
    {% else %}
    <ul class="nav nav-tabs" role="tablist">
    {% endif %}
        <li class="active"><a href="#terms" id="termstab" role="tab" data-toggle="tab">Terms</a></li>
        <li><a href="#relations" id="relationstab" role="tab" data-toggle="tab" id="relations-tab">Relationships</a></li>
        <li><a href="#categories" id="categoriestab" role="tab" data-toggle="tab" id="categories-tab">Categories</a></li>
        <li><a href="#sources" id="sourcestab" role="tab" data-toggle="tab" id="sources-tab">Sources</a></li>
    </ul>
{% endmacro %}

{% macro displayConceptTerm(X, inEdit, showSubElements, term, i, isPreferred) %}
    {% import 'concepts/_widgets.html' as widgets %}
    {% import _self as components %}
        {% if not inEdit and isPreferred %}
        <div class="panel panel-primary" id="term_panel_{{i}}">
        {% else %}
        <div class="panel panel-default" id="term_panel_{{i}}">
        {% endif %}
        <div class="panel-body">
            <div class="col-sm-10" id="term_datapart_{{i}}">
                <input id="term_id_{{i}}" name="term_id_{{i}}" type="hidden" value="{{ term.id }}"/>
                <input id="term_operation_{{i}}" name="term_operation_{{i}}" type="hidden" value="{{ term.operation }}"/>
                <input type="hidden" id="term_preferred_{{i}}" name="term_preferred_{{i}}" value="{{isPreferred}}">
                    
                <div class="form-group">
                    <label for="term_text_{{ i }}" class="control-label col-xs-4" data-content="{{X.sourceURI.tooltip}}" data-toggle="popover" data-placement="top">
                        Term
                    </label>
                    <div class="col-xs-8" id="text_term_text_{{i}}">
                        <input id="term_text_{{i}}" name="term_text_{{i}}" type="hidden" class="form-control" value="{{ term.text }}"/>
                        <p class="form-control-static">{{ term.text }}</p>
                    </div>
                </div>
                        
                {% if inEdit or term.language %}
                <div class="form-group">
                    <label class="control-label col-xs-4" data-content="{{X.language.tooltip}}" data-toggle="popover" data-placement="top">
                        {{ X.language.display }}
                    </label>
                    <div class="col-xs-8">
                        <div class="input-group select2-bootstrap-append">
                            <div id="select_term_language_{{i}}">
                                <input id="term_language_id_{{i}}" name="term_language_id_{{i}}" type="hidden" class="form-control" value="{{ term.language.id }}"/>
                                <input id="term_language_term_{{i}}" name="term_language_term_{{i}}" type="hidden" class="form-control" value="{{ term.language.term }}"/>
                                <input id="term_language_vocabtype_{{i}}" name="term_language_vocabtype_{{i}}" type="hidden" class="form-control" value="language_code"/>
                                <input id="term_language_minlength_{{i}}" name="term_language_minlength_{{i}}" type="hidden" class="form-control" value="0"/>
                                <p class="form-control-static">{{ term.language.term }}</p>
                            </div>
                            <span class="input-group-btn">
                                <button class="btn btn-primary snac-hidden"
                                    id="term_language_magic_{{i}}" disabled
                                    onClick="magicDefaultFill('term_language_id_{{i}}', 'language'); return false;"
                                    title="Apply user's default value">
                                    <i class="fa fa-magic" aria-hidden="true"></i>
                                </button>
                            </span>
                        </div>
                    </div>
                </div>
                {% endif %}
                </div>
                {{ widgets.optionsList(X, inEdit, showSubElements, "term", i) }}
        </div>
    </div>
{% endmacro %}

{% macro displaySource(X, inEdit, showSubElements, source, i) %}
    {% import 'concepts/_widgets.html' as widgets %}
        <div class="panel panel-default"  id="source_panel_{{i}}">
            <div class="panel-body">
                <div class="col-sm-10" id="source_datapart_{{i}}">
                    <input id="source_id_{{i}}" name="source_id_{{i}}" type="hidden" value="{{ source.id }}"/>
                    <input id="source_version_{{i}}" name="source_version_{{i}}" type="hidden" value="{{ source.version }}"/>
                    <input id="source_operation_{{i}}" name="source_operation_{{i}}" type="hidden" value="{{ source.operation }}"/>
                    <!-- <div class="form-group">
                        <label for="source_displayName_{{ i }}" class="control-label col-xs-4" data-content="{{X.sourceDisplayName.tooltip}}" data-toggle="popover" data-placement="top">
                            {{ X.sourceDisplayName.display }}
                        </label>
                        <div class="col-xs-8" id="text_source_displayName_{{i}}">
                            <input id="source_displayName_{{i}}" name="source_displayName_{{i}}" type="hidden" class="form-control" value="{{ source.displayName }}"/>
                            <p class="form-control-static">{{ source.displayName }}</p>
                        </div>
                    </div> -->
                    <div class="form-group">
                        <label for="source_citation_{{ i }}" class="control-label col-xs-4" data-content="{{X.sourceCitation.tooltip}}" data-toggle="popover" data-placement="top">
                            {{ X.sourceCitation.display }}
                        </label>
                        <div class="col-xs-8" id="textarea_source_citation_{{i}}">
                            <textarea id="source_citation_{{i}}" name="source_citation_{{i}}" class="form-control" style="display:none;">{{ source.citation }}</textarea>
                            <p class="form-control-static">{{ source.citation }}</p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="source_text_{{ i }}" class="control-label col-xs-4" data-content="{{X.sourceText.tooltip}}" data-toggle="popover" data-placement="top">
                            {{ X.sourceText.display }}
                        </label>
                        <div class="col-xs-8" id="textarea_source_text_{{i}}">
                            <textarea id="source_text_{{i}}" name="source_text_{{i}}" class="form-control" style="display:none;">{{ source.text }}</textarea>
                            <p class="form-control-static">{{ source.text }}</p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="source_uri_{{ i }}" class="control-label col-xs-4" data-content="{{X.sourceURI.tooltip}}" data-toggle="popover" data-placement="top">
                            {{ X.sourceURI.display }}
                        </label>
                        <div class="col-xs-8" id="text_source_uri_{{i}}">
                            <input id="source_uri_{{i}}" name="source_uri_{{i}}" type="hidden" class="form-control" value="{{ source.uri }}"/>
                            <p class="form-control-static">{{ source.uri }}</p>
                        </div>
                    </div>

                    <input type="hidden" id="source_language_id_{{i}}" name="source_language_id_{{i}}" value="{{source.language.id}}"/>
                    <input type="hidden" id="source_language_version_{{i}}" name="source_language_version_{{i}}" value="{{sources.language.version}}"/>
                    <div class="form-group">
                        <label class="control-label col-xs-4" data-content="{{X.language.tooltip}}" data-toggle="popover" data-placement="top">
                            {{ X.language.display }}
                        </label>
                        <div class="col-xs-8">
                            <div class="input-group select2-bootstrap-append">
                                <div id="select_source_languagelanguage_{{i}}">
                                    <input id="source_languagelanguage_id_{{i}}" name="source_languagelanguage_id_{{i}}" type="hidden" class="form-control" value="{{ source.language.language.id }}"/>
                                    <input id="source_languagelanguage_term_{{i}}" name="source_languagelanguage_term_{{i}}" type="hidden" class="form-control" value="{{ source.language.language.term }}"/>
                                    <input id="source_languagelanguage_vocabtype_{{i}}" name="source_languagelanguage_vocabtype_{{i}}" type="hidden" class="form-control" value="language_code"/>
                                    <input id="source_languagelanguage_minlength_{{i}}" name="source_languagelanguage_minlength_{{i}}" type="hidden" class="form-control" value="0"/>
                                    <p class="form-control-static">{{ source.language.language.term }}</p>
                                </div>
                                <span class="input-group-btn">
                                    <button class="btn btn-primary snac-hidden"
                                        id="source_languagelanguage_magic_{{i}}" disabled
                                        onClick="magicDefaultFill('source_languagelanguage_id_{{i}}', 'language'); return false;"
                                        title="Apply user's default value">
                                        <i class="fa fa-magic" aria-hidden="true"></i>
                                    </button>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-xs-4" data-content="{{X.script.tooltip}}" data-toggle="popover" data-placement="top">
                            {{ X.script.display }}
                        </label>
                        <div class="col-xs-8">
                            <div class="input-group select2-bootstrap-append">
                                <div id="select_source_languagescript_{{i}}">
                                    <input id="source_languagescript_id_{{i}}" name="source_languagescript_id_{{i}}" type="hidden" class="form-control" value="{{ source.language.script.id }}"/>
                                    <input id="source_languagescript_term_{{i}}" name="source_languagescript_term_{{i}}" type="hidden" class="form-control" value="{{ source.language.script.term }}"/>
                                    <input id="source_languagescript_vocabtype_{{i}}" name="source_languagescript_vocabtype_{{i}}" type="hidden" class="form-control" value="script_code"/>
                                    <input id="source_languagescript_minlength_{{i}}" name="source_languagescript_minlength_{{i}}" type="hidden" class="form-control" value="0"/>
                                    <p class="form-control-static">{{ source.language.script.term }}</p>
                                </div>
                                <span class="input-group-btn">
                                    <button class="btn btn-primary snac-hidden"
                                        id="source_languagescript_magic_{{i}}" disabled
                                        onClick="magicDefaultFill('source_languagescript_id_{{i}}', 'script'); return false;"
                                        title="Apply user's default value">
                                        <i class="fa fa-magic" aria-hidden="true"></i>
                                    </button>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="source_note_{{ i }}" class="control-label col-xs-4" data-content="{{X.descriptiveNote.tooltip}}" data-toggle="popover" data-placement="top">
                            {{ X.descriptiveNote.display }}
                        </label>
                        <div class="col-xs-8" id="textarea_source_note_{{i}}">
                            <textarea id="source_note_{{i}}" name="source_note_{{i}}" class="form-control" style="display:none">{{ source.note }}</textarea>
                            <p class="form-control-static">{{ source.note }}</p>
                        </div>
                    </div>


                </div>
                {{ widgets.optionsList(X, inEdit, showSubElements, "source", i) }}

            </div>
        </div>

{% endmacro %}

{% macro displayCategory(X, inEdit, showSubElements, category, i) %}
    {% import 'concepts/_widgets.html' as widgets %}
    {% import _self as components %}
    <div class="panel panel-default" id="category_panel_{{i}}">
        <div class="panel-body">
            <div class="col-sm-10" id="category_datapart_{{i}}">
                <input id="category_id_{{i}}" name="category_id_{{i}}" type="hidden" value="{{ category.id }}"/>
                <input id="category_operation_{{i}}" name="category_operation_{{i}}" type="hidden" value="{{ category.operation }}"/>
                        
                <div class="form-group">
                    <label class="control-label col-xs-4" data-content="{{X.conceptCategory.tooltip}}" data-toggle="popover" data-placement="top">
                        {{ X.conceptCategory.display }}
                    </label>
                    <div class="col-xs-8">
                        <div id="select_category_term_{{i}}">
                            <input id="category_term_id_{{i}}" name="category_term_id_{{i}}" type="hidden" class="form-control" value="{{ category.id }}"/>
                            <input id="category_term_term_{{i}}" name="category_term_term_{{i}}" type="hidden" class="form-control" value="{{ category.term }}"/>
                            <input id="category_term_vocabtype_{{i}}" name="category_term_vocabtype_{{i}}" type="hidden" class="form-control" value="concept_category"/>
                            <input id="category_term_minlength_{{i}}" name="category_term_minlength_{{i}}" type="hidden" class="form-control" value="0"/>
                            <p class="form-control-static">{{ category.term }}</p>
                        </div>
                    </div>
                </div>
            </div>
            {{ widgets.optionsList(X, inEdit, showSubElements, "category", i) }}
        </div>
    </div>
{% endmacro %}



{% macro displayRelation(X, inEdit, showSubElements, relation, i) %}
    {% import 'concepts/_widgets.html' as widgets %}
    {% import _self as components %}
    <div class="panel panel-default" id="relation_panel_{{i}}">
        <div class="panel-body">
            <div class="col-sm-10" id="relation_datapart_{{i}}">
                        
                <input id="relation_id_{{i}}" name="relation_id_{{i}}" type="hidden" value="{{ relation.id }}"/>
                <input id="relation_operation_{{i}}" name="relation_operation_{{i}}" type="hidden" value="{{ relation.operation }}"/>

                <!-- TODO Fix the relation searching -- should search all relations in the category?? -->
                <div class="form-group">
                    <label class="control-label col-xs-4" data-content="{{X.conceptRelationRelated.tooltip}}" data-toggle="popover" data-placement="top">
                        {{ X.conceptRelationRelated.display }}
                    </label>
                    <div class="col-xs-8">
                        <div id="select_relation_relatedConcept_{{i}}">
                            <input id="relation_relatedConcept_id_{{i}}" name="relation_relatedConcept_id_{{i}}" type="hidden" class="form-control" value="{{ relation.related_concept.id }}"/>
                            <input id="relation_relatedConcept_term_{{i}}" name="relation_relatedConcept_term_{{i}}" type="hidden" class="form-control" value="{{ relation.related_concept.preferred_terms[0] }}"/>
                            <input id="relation_relatedConcept_vocabtype_{{i}}" name="relation_relatedConcept_vocabtype_{{i}}" type="hidden" class="form-control" value="subject"/>
                            <input id="relation_relatedConcept_minlength_{{i}}" name="relation_relatedConcept_minlength_{{i}}" type="hidden" class="form-control" value="2"/>
                            <p class="form-control-static">{{ relation.related_concept.preferred_terms[0] }}</p>
                        </div>
                    </div>
                </div>
                        
                <div class="form-group">
                    <label class="control-label col-xs-4" data-content="{{X.conceptRelation.tooltip}}" data-toggle="popover" data-placement="top">
                        {{ X.conceptRelation.display }}
                    </label>
                    <div class="col-xs-8">
                        <div id="select_relation_type_{{i}}">
                            <input id="relation_type_id_{{i}}" name="relation_type_id_{{i}}" type="hidden" class="form-control" value="{{ relation.type.id }}"/>
                            <input id="relation_type_term_{{i}}" name="relation_type_term_{{i}}" type="hidden" class="form-control" value="{{ relation.type.term }}"/>
                            <input id="relation_type_vocabtype_{{i}}" name="relation_type_vocabtype_{{i}}" type="hidden" class="form-control" value="concept_relation"/>
                            <input id="relation_type_minlength_{{i}}" name="relation_type_minlength_{{i}}" type="hidden" class="form-control" value="0"/>
                            <p class="form-control-static">{{ relation.type.term }}</p>
                        </div>
                    </div>
                </div>
            </div>
            {{ widgets.optionsList(X, inEdit, showSubElements, "relation", i) }}
        </div>
    </div>
{% endmacro %}
