<!DOCTYPE html>
<html>
<head>
    <title>SNAC Vocabulary: {{ data.title }}</title>

<!-- JQuery -->
<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css" integrity="sha384-aUGj/X2zp5rLCbBxumKTCw2Z50WgIr1vs/PFN4praOTvYXWlVyh2UtNUU0KAUhAX" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" integrity="sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ==" crossorigin="anonymous"></script>

<!-- Helper Scripts -->
<link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
<script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>

<!-- Select Upgrades -->
<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.2-rc.1/css/select2.min.css" rel="stylesheet" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.2-rc.1/js/select2.min.js"></script>
<link rel="stylesheet" href="{{control.snacURL}}/css/select2-bootstrap.min.css">

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

<!-- SNAC Styles -->
<link rel="stylesheet" href="{{control.snacURL}}/css/snac.css{{control.noCache}}">

<!-- SNAC Javascript -->
<script src="{{control.snacURL}}/javascript/vocab_admin.js{{control.noCache}}"></script>
<script src="{{control.snacURL}}/javascript/save_actions.js{{control.noCache}}"></script>
<script src="{{control.snacURL}}/javascript/select_loaders.js{{control.noCache}}"></script>
<script src="{{control.snacURL}}/javascript/scripts.js{{control.noCache}}"></script>
<script src="{{control.snacURL}}/javascript/relation_search.js{{control.noCache}}"></script>
<script src="{{control.snacURL}}/javascript/html2canvas.js{{control.noCache}}"></script>
<script src="{{control.snacURL}}/javascript/feedback.js{{control.noCache}}"></script>


<script src="{{control.snacURL}}/javascript/test_vocab_admin.js{{control.noCache}}"></script>
<script src="{{control.snacURL}}/javascript/concept_admin.js{{control.noCache}}"></script>


</head>
<body role="document">
{% from 'page_navigation.html' import topNavigation,footer %}
{% set concept = data.response.concept %}
{{ topNavigation(X, user, permissions, control) }}



<div class="container snac" role="main">
    <h1>Vocabulary: {{ data.title }}</h1>
    <ol class="breadcrumb">
        <li><a href="{{control.snacURL}}/vocab_administrator/dashboard">Vocabulary</a></li>
        <li><a href="{{control.snacURL}}/vocab_administrator/search">Controlled Vocabulary</a></li>
        <li><a href="{{control.snacURL}}/vocab_administrator/concepts">Concepts</a></li>
        <li>{{concept.terms[0].value|default("New Concept")}}</li>
    </ol>
    <h1>{{concept.terms[0].value|default("New Concept")}}</h1>
    <div class="row">
        <div class="col-md-8">
            <p>Create a preferred term for this new concept.</p>
                <button type="button" class="btn btn-success" data-toggle="modal" data-target="#term-modal"> <i class="fa fa-plus"></i> Add Term</button>
            <br>
        </div>
    </div>
</div>

<div class="modal fade" id="term-modal" tabindex="-1" role="dialog" aria-labelledby="term-modal-label">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="term-modal-label">Add Term</h4>
            </div>
            <div class="modal-body">
                <form id="term-form">

                    <div class="term form-group required">
                        <div class="form-group" style="margin-bottom:100px">
                            <label class="control-label col-xs-2" for="">Term</label>
                            <div class="col-xs-10">
                                <input type="text" id="term-input" class="form-control" name="term-value" data-term-id="" required>
                                <!-- <input type="hidden" id="concept-id" name="concept-id" value="{{concept.id}}"> -->
                            </div>
                        </div>
                        <br>
                        <!-- <div style="margin-left:100px;"> -->
                            <!-- <div class="checkbox col-xs-5"> -->
                                <!-- <input type="checkbox" id="is-preferred" data-toggle="toggle" data-on="Yes" data-off="No" data-size="normal" name="is-preferred" value="checked"> -->
                                <!-- <label for="is-preferred">Preferred </label> -->
                            <!-- </div> -->
                        <!-- </div> -->
                    </div>
                </form>
            </div>
            <div class="modal-footer" style="margin-top:100px">
                <button type="button" id="term-delete-btn" class="btn btn-danger" onclick="deleteTerm()" disabled><i class="fa fa-minus-circle"></i> Delete</button>
                <button type="button" class="btn btn-primary" onclick="postNewConcept()">Save Term</button>
                <button type="button" class="btn btn-default" data-dismiss="modal" onclick="resetTermForm()">Close</button>
            </div>
        </div>
    </div>
</div>

{{ footer(X, user, permissions, control) }}
</body>
</html>
