<!DOCTYPE html>
<html>
<head>
    <title>SNAC Vocabulary: {{ data.title }}</title>

<!-- JQuery -->
<script src="//code.jquery.com/jquery-2.1.4.min.js"></script>

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css" integrity="sha384-aUGj/X2zp5rLCbBxumKTCw2Z50WgIr1vs/PFN4praOTvYXWlVyh2UtNUU0KAUhAX" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" integrity="sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ==" crossorigin="anonymous"></script>

<!-- Helper Scripts -->
<link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
<script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>

<!-- Select Upgrades -->
<link href="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.2-rc.1/css/select2.min.css" rel="stylesheet" />
<script src="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.2-rc.1/js/select2.min.js"></script>
<link rel="stylesheet" href="{{control.snacURL}}/css/select2-bootstrap.min.css">

<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

<!-- SNAC Styles -->
<link rel="stylesheet" href="{{control.snacURL}}/css/snac.css{{control.noCache}}">

<!-- SNAC Javascript -->
<script src="{{control.snacURL}}/javascript/vocab_admin.js{{control.noCache}}"></script>
<script src="{{control.snacURL}}/javascript/save_actions.js{{control.noCache}}"></script>
<script src="{{control.snacURL}}/javascript/select_loaders.js{{control.noCache}}"></script>
<script src="{{control.snacURL}}/javascript/scripts.js{{control.noCache}}"></script>
<script src="{{control.snacURL}}/javascript/relation_search.js{{control.noCache}}"></script>
<script src="{{control.snacURL}}/javascript/html2canvas.js{{control.noCache}}"></script>
<script src="{{control.snacURL}}/javascript/feedback.js{{control.noCache}}"></script>


<script src="{{control.snacURL}}/javascript/test_vocab_admin.js{{control.noCache}}"></script>
<script src="{{control.snacURL}}/javascript/concept_admin.js{{control.noCache}}"></script>


</head>
<body role="document">
{% from 'page_navigation.html' import topNavigation,footer %}
{{ topNavigation(X, user, permissions, control) }}


<div class="container snac" role="main">
    <h1>Vocabulary: {{ data.title }}</h1>

    <ol class="breadcrumb">
        <li><a href="{{control.snacURL}}/vocab_administrator/dashboard">Vocabulary</a></li>
        <li><a href="{{control.snacURL}}/vocab_administrator/search">Controlled Vocabulary</a></li>
        <li><a href="{{control.snacURL}}/vocab_administrator/concepts">Concepts</a></li>
        <li>{{data.response.concept[0].value}}</li>
    </ol>
    <h1>{{data.response.concept[0].value}}</h1>
    <div class="row">
        <div class="col-md-8">

            <h2>Terms</h2>
            {% for term in data.response.concept %}
                <p>{{term.value}}</p>
            {% endfor %}


            <!-- {% for concept in data.response.concepts %}
                <p><a href="{{control.snacURL}}/concepts/{{concept.id}}">{{concept.value}}</a></p>
            {% endfor %} -->

            <!-- {% for concept in data.response.concepts %}
                {% for term in concept.terms %}
                    <p>{{term.value}}</p>
                    {% if concept.broader_concepts.length != 0 %}
                        <p>Broader</p>
                        {% for term in concept.terms %}
                            <p style='margin-left:5px;'>{{concept.broader_concepts[0].terms[0].value}}</p>
                            {% endfor %}
                    {% endif %}
                {% endfor %}
            {% endfor %} -->


            <form id="concept-form" class="form-horizontal">
                    <!-- TODO: Distinguish between preferred and nonpreferred -->


                {% for term in data.response.concept %}
                {% set isChecked = (term.preferred == "t") ? "checked" : "" %}
                {% if term.preferred == "t" %}
                <h4>Preferred Term</h4>
                <div class="term form-group">
                    <div class="col-xs-8">
                        <div class="input-group">
                            <p type="text" class="form-control" data-term-id="{{term.term_id}}" data-is-preferred="{{term.preferred}}" name="term"> {{term.value}}</p>
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" title="Edit"><i class="fa fa-edit"></i></button>
                            </span>
                        </div>
                    </div>
                </div>
                {% endif %}
                {% endfor %}

                <h4>Alternate Terms</h4>
                {% for term in data.response.concept %}
                {% set isChecked = (term.preferred == "t") ? "checked" : "" %}
                {% if term.preferred == "f" %}
                <div class="term form-group">
                    <div class="col-xs-8">
                        <div class="input-group">
                            <input type="text" readonly class="form-control" data-term-id="{{term.term_id}}" name="term" value="{{term.value}}">
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-primary term-edit" title="Edit" target="_blank" href=""><i class="fa fa-edit"></i></button>
                                <button type="button" class="btn btn-danger" onclick="deleteOrUndoLanguage(event)"><i class="fa fa-minus-circle"></i></button>
                            </span>
                        </div>
                    </div>
                    <div class="col-xs-2">
                        <input type="checkbox" data-toggle="toggle" data-on="Preferred" data-off="Alternate" {{isChecked}}>
                    </div>
                </div>
                {% endif %}
                {% endfor %}

                <br>
                <br>
                <br>
<!--  -->
<!--  -->
                <div id="term-clone" class="term form-group well well-sm" style="">
                    <div class="col-xs-8">
                        <div class="input-group">
                            <input type="text" class="form-control" data-term-id="{{term.term_id}}" name="term" value="{{term.value}}">
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-primary term-edit" title="Edit" target="_blank" href=""><i class="fa fa-edit"></i></button>
                                <button type="button" class="btn btn-danger" onclick="deleteOrUndoLanguage(event)"><i class="fa fa-minus-circle"></i></button>
                            </span>
                        </div>
                        <br>
                        <div class="">
                            <input type="checkbox" data-toggle="toggle" data-on="Preferred" data-off="Alternate" data-size="normal">
                            <button type="button" class="btn btn-danger" onclick="deleteOrUndoLanguage(event)"><i class="fa fa-minus-circle"></i></button>
                            <button type="button" class="btn btn-primary " ><i class="fa fa-fw fa-floppy-o"></i>Save</button>
                        </div>

                    </div>

                    <div class="col-xs-2">
                        <input type="checkbox" data-toggle="toggle" data-on="Preferred" data-off="Alternate" data-size="normal">
                    </div>
                </div>
<!--  -->
<!--  -->

<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" data-whatever="@mdo">Open modal for @mdo</button>
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" data-whatever="@fat">Open modal for @fat</button>
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" data-whatever="@getbootstrap">Open modal for @getbootstrap</button>


                <button type="button" class="btn btn-success"> <i class="fa fa-plus"></i> Add Term</button>

            </form>


        </div>
        <div class="col-md-4">
            <!-- Right Column -->

            <div class="alert alert-01 alert-warning" id="notification-message" style="display: none">
                <p>Saving Term...</p>
            </div><!-- end alert -->
            <div class="alert alert-01 alert-success" id="success-message" style="display: none">
                <p>Successfully saved!</p>
            </div><!-- end alert -->
            <div class="alert alert-01 alert-danger" id="error-message"  style="display: none">
                <p>An error occured while saving</p>
            </div><!-- end alert -->

            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">Actions</h3>
                </div>
            </div>
        </div>


    </div>
</div>


<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="exampleModalLabel">New message</h4>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="recipient-name" class="control-label">Recipient:</label>
            <input type="text" class="form-control" id="recipient-name">
          </div>
          <div class="form-group">
            <label for="message-text" class="control-label">Message:</label>
            <textarea class="form-control" id="message-text"></textarea>
          </div>

          <div class="term form-group">
              <div class="input-group">
                  <input type="text" readonly class="form-control" data-term-id="{{term.term_id}}" name="term" value="{{term.value}}">
                  <span class="input-group-btn">
                      <button type="button" class="btn btn-primary term-edit" title="Edit" target="_blank" href=""><i class="fa fa-edit"></i></button>
                      <button type="button" class="btn btn-danger" onclick="deleteOrUndoLanguage(event)"><i class="fa fa-minus-circle"></i></button>
                  </span>
              </div>
              <div class="col-xs-2">
                  <input type="checkbox" data-toggle="toggle" data-on="Preferred" data-off="Alternate" {{isChecked}}>
              </div>
          </div>

          <br>
          <br>
          <br>
          <br>


          <div class="term form-group">
              <div class="form-group">
                  <label class="control-label col-xs-2" for="">Term</label>
                  <div class="col-xs-10">
                      <input type="text" class="form-control" data-term-id="{{term.term_id}}" name="term" value="{{term.value}}">
                  </div>
                  <!-- <span class="input-group-btn">
                      <button type="button" class="btn btn-primary term-edit" title="Edit" target="_blank" href=""><i class="fa fa-edit"></i></button>
                      <button type="button" class="btn btn-danger" onclick="deleteOrUndoLanguage(event)"><i class="fa fa-minus-circle"></i></button>
                  </span> -->
              </div>
              <br>
              <div class="col-xs-2">

              </div>
              <br>
              <div class="col-xs-10">
                  <button type="button" class="btn btn-danger" onclick="deleteOrUndoLanguage(event)"><i class="fa fa-minus-circle"></i> Delete</button>
                  <button type="button" class="btn btn-primary " ><i class="fa fa-fw fa-floppy-o"></i> Save</button>


                            <div class="checkbox">
                                  <input type="checkbox" id="is-preferred" data-toggle="toggle" data-on="Yes" data-off="No" data-size="normal">
                                  <label for="is-preferred">
                                  Preferred
                              </label>
                            </div>


              </div>
          </div>


<!--
          <div class="checkbox">
            <label for="is-preferred">
                <input type="checkbox"  id="is-preferred" value="">
                Preferred
            </label>
          </div> -->

        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save Term</button>
      </div>
    </div>
  </div>
</div>
{{ footer(X, user, permissions, control) }}
</body>
</html>
