{% import 'widgets.html' as widgets %}
{% import 'edit_components.html' as components %}
{% import 'date_entry.html' as dates %}

<h2>Internal CPF Relations</h2>

<ul class="nav nav-tabs" role="tablist">
    <li class="active"><a href="#directRelations" role="tab" data-toggle="tab">Direct</a></li>
    <li><a href="#impliedRelations" role="tab" data-toggle="tab" id="impliedRelationsTab">Implied</a></li>
</ul>
<div class="tab-content">
    <div class="tab-pane active" id="directRelations">
        {% set i = 0 %}
        {% for relation in data.relations %}
            {{ components.displayConstellationRelation(X, false, true, relation, i, data.entityType.term, data.nameEntries.0.original, false, control) }}
            {% set i = i + 1 %}
        {% endfor %}
    </div>
    <div class="tab-pane" id="impliedRelations">
    </div>
</div>
