body {
    padding-top: 70px;
    padding-bottom: 30px;
}

.theme-dropdown .dropdown-menu {
    position: static;
    display: block;
    margin-bottom: 20px;
}

.snac > p > .btn {
    margin: 5px 0;
}

.snac-hidden {
    display: none;
}

.snac .navbar .container {
    width: auto;
}

.control-label-subtext {
    font-size: 12px;
    font-weight: normal;
}.

.tab-pane {

    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    border-radius: 0px 0px 5px 5px;
    padding: 10px;
}

.nav-tabs {
    margin-bottom: 0;
}

.scm-modal {
    color: #000000;
}

.ui-autocomplete {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    float: left;
    display: none;
    min-width: 160px;
    _width: 160px;
    padding: 4px 0;
    margin: 2px 0 0 0;
    list-style: none;
    background-color: #ffffff;
    border-color: #ccc;
    border-color: rgba(0, 0, 0, 0.2);
    border-style: solid;
    border-width: 1px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box;
    *border-right-width: 2px;
    *border-bottom-width: 2px;
}
.ui-menu-item > a.ui-corner-all {
    display: block;
    padding: 3px 15px;
    clear: both;
    font-weight: normal;
    line-height: 18px;
    color: #555555;
    white-space: nowrap;
}
&.ui-state-hover, &.ui-state-active {
    color: #ffffff;
    text-decoration: none;
    background-color: #0088cc;
    border-radius: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    background-image: none;
}

.select2-container--bootstrap {
    display: inline-block;
}

.select2-bootstrap-append .form-control-static {
    width: 100%; 
    padding-right: 10px;
    display: table;
    text-align: right;
    table-layout: fixed;
    float:left;
}
/* <p style="width: 100%; padding-right: 10px;" class="control-label select2-container--bootstrap">Part</p> */

@media (min-width: 992px) {
    .affix {
        position: fixed;
        top: 62px;
        right: 0px;
        padding-right: 5%;
        z-index: 1000;
        display: block;
        overflow-x: hidden;
        overflow-y: hidden; /*auto; /* Scrollable contents if viewport is shorter than content. */
    }

    .affix-bottom {
        position: fixed;
        right: 0px;
        padding-right: 5%;
        z-index: 1000;
        display: block;
        overflow-x: hidden;
        overflow-y: hidden; /*auto; /* Scrollable contents if viewport is shorter than content. */
    }
}
